@model Langben.DAL.ACTIVE_POWER

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                  
                <div class="display-label">
                      @Html.LabelFor(model => model.RATED_CONDITION) :
                </div>
                <div class="display-field" id='RATED_CONDITION'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.POWER_FACTOR) :
                </div>
                <div class="display-field" id='POWER_FACTOR'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.POWER_FACTOR_UNIT) :
                </div>
                <div class="display-field" id='POWER_FACTOR_UNIT'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.DISPLAY_VALUE) :
                </div>
                <div class="display-field" id='DISPLAY_VALUE'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.DISPLAY_VALUE_UNIT) :
                </div>
                <div class="display-field" id='DISPLAY_VALUE_UNIT'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.STANDARD_VALUE) :
                </div>
                <div class="display-field" id='STANDARD_VALUE'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.STANDARD_VALUE_UNIT) :
                </div>
                <div class="display-field" id='STANDARD_VALUE_UNIT'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.REFERENCE_ERROR) :
                </div>
                <div class="display-field" id='REFERENCE_ERROR'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.REFERENCE_ERROR_UNIT) :
                </div>
                <div class="display-field" id='REFERENCE_ERROR_UNIT'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UNCERTAINTY_DEGREE) :
                </div>
                <div class="display-field" id='UNCERTAINTY_DEGREE'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UNCERTAINTY_DEGREE_UNIT) :
                </div>
                <div class="display-field" id='UNCERTAINTY_DEGREE_UNIT'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.PREPARE_SCHEMEID) :
                </div>
                <div class="display-field" id='PREPARE_SCHEMEID'>
                </div>        
                <div class="display-label">
                      @Html.LabelFor(model => model.OVERALL_TABLEID) :
                </div>
                <div class="display-field">
                    @if (Model.OVERALL_TABLE != null)
                       {
                    @Model.OVERALL_TABLE.NAME
                    } 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATETIME) :
                </div>
                <div class="display-field" id='CREATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATEPERSON) :
                </div>
                <div class="display-field" id='CREATEPERSON'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATETIME) :
                </div>
                <div class="display-field" id='UPDATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATEPERSON) :
                </div>
                <div class="display-field" id='UPDATEPERSON'>
                </div>
        </div>
    </fieldset>

<script type="text/javascript">

    $(function () {
        // 获取内容并显示
        var id = '@ViewBag.Id';
        $.ajax({
            url: "/api/ACTIVE_POWERApi/" + id,
            type: "POST",
            // async: false,
            success: function (res) {
		$("#RATED_CONDITION").html(res.RATED_CONDITION);$("#POWER_FACTOR").html(res.POWER_FACTOR);$("#POWER_FACTOR_UNIT").html(res.POWER_FACTOR_UNIT);$("#DISPLAY_VALUE").html(res.DISPLAY_VALUE);$("#DISPLAY_VALUE_UNIT").html(res.DISPLAY_VALUE_UNIT);$("#STANDARD_VALUE").html(res.STANDARD_VALUE);$("#STANDARD_VALUE_UNIT").html(res.STANDARD_VALUE_UNIT);$("#REFERENCE_ERROR").html(res.REFERENCE_ERROR);$("#REFERENCE_ERROR_UNIT").html(res.REFERENCE_ERROR_UNIT);$("#UNCERTAINTY_DEGREE").html(res.UNCERTAINTY_DEGREE);$("#UNCERTAINTY_DEGREE_UNIT").html(res.UNCERTAINTY_DEGREE_UNIT);$("#PREPARE_SCHEMEID").html(res.PREPARE_SCHEMEID);$("#CREATETIME").html(res.CREATETIME);$("#CREATEPERSON").html(res.CREATEPERSON);$("#UPDATETIME").html(res.UPDATETIME);$("#UPDATEPERSON").html(res.UPDATEPERSON);
            }
        })
    });
</script>

