@model Langben.DAL.VSHENHE
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<div id="divQuery">
     
            <div class="input_search">
            <div class="input_search-label">
                    @Html.LabelFor(model => model.ORDER_NUMBER):
             </div>
                <div class="input_search-field">
                    <input type='text' id='ORDER_NUMBER'/>
               </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                   审核状态:
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("REPORTSTATUS", Models.SysFieldModels.GetSysField("VSHENHE","ISAGGREY"),"请选择",new { id = "REPORTSTATUS" })
                </div>
            </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
 <br style="clear: both;" />

<script type="text/javascript" language="javascript">
    $(function () {
        $('#flexigridData').datagrid({
            title: '器具证书信息', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '../VSHENHE/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            columns: [[
					{ field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', width: 86, hidden: true }
					,{ field: 'REPORTNUMBER', title:  '@Html.DisplayNameFor(model => model.REPORTNUMBER)', width: 86 }
					,{ field: 'ORDER_NUMBER', title:  '@Html.DisplayNameFor(model => model.ORDER_NUMBER)', width: 86 }
					,{ field: 'APPLIANCE_NAME', title:  '@Html.DisplayNameFor(model => model.APPLIANCE_NAME)', width: 86 }
					, { field: 'VERSION', title: '@Html.DisplayNameFor(model => model.VERSION)', width: 86 }
					,{ field: 'FACTORY_NUM', title:  '@Html.DisplayNameFor(model => model.FACTORY_NUM)', width: 86 }
					,{ field: 'CERTIFICATE_ENTERPRISE', title:  '@Html.DisplayNameFor(model => model.CERTIFICATE_ENTERPRISE)', width: 86 }
					,{ field: 'CUSTOMER_SPECIFIC_REQUIREMENTS', title:  '@Html.DisplayNameFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)', width: 86 }
					,{ field: 'CERTIFICATE_CATEGORY', title:  '@Html.DisplayNameFor(model => model.CERTIFICATE_CATEGORY)', width: 86 }
					,{ field: 'QUALIFICATIONS', title:  '@Html.DisplayNameFor(model => model.QUALIFICATIONS)', width: 86 }
					,{ field: 'CONCLUSION_EXPLAIN', title:  '@Html.DisplayNameFor(model => model.CONCLUSION_EXPLAIN)', width: 86 }
					, {
					    field: 'CONCLUSION', title: '@Html.DisplayNameFor(model => model.CONCLUSION)', width: 86, formatter: function (value, row, index) {
					        if (row.PACKAGETYPE == "@Common.PACKAGETYPE.上传.ToString()") {
					            return row.FILECONCLUSION;
					        }
					        else {
					            return row.CONCLUSION;
					        }
					    }
					}
                    , { field: 'REPORTSTATUS', title: '@Html.DisplayNameFor(model => model.REPORTSTATUS)', width: 86 }
					, {field: 'ISAGGREY', title: '@Html.DisplayNameFor(model => model.ISAGGREY)', width: 86}
                    , {
                        field: 'aa', title: '操作', width: 86, formatter: function (value, row, index) {
             
                            if (row.PACKAGETYPE =="@Common.PACKAGETYPE.上传.ToString()") {
                                var html = "<a href='/VSHENHE/XiaZaiShenHe/" + row.ID + "^H'>下载审核</a>";
                            }
                            else if (row.PACKAGETYPE == "@Common.PACKAGETYPE.生成.ToString()") {
                                var html = "<a href='/VSHENHE/YuLanShenHe/" + row.ID + "^H'>预览审核</a>";
                            }
                            return html;
                        }
                    }
                ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
            else
                search = search + this.name + "&" + this.value + "^";
        });
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };
</script>

