@model Langben.DAL.VBAOGAODAYIN
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<div id="divQuery">
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.REPORTNUMBER):
        </div>
        <div class="input_search-field">
            <input type='text' id='REPORTNUMBER' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ORDER_NUMBER):
        </div>
        <div class="input_search-field">
            <input type='text' id='ORDER_NUMBER' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.FACTORY_NUM):
        </div>
        <div class="input_search-field">
            <input type='text' id='FACTORY_NUM' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("CERTIFICATE_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.UNDERTAKE_LABORATORYID):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("UNDERTAKE_LABORATORYID", Models.SysFieldModels.GetSysField("UNDERTAKE_LABORATORY", "NAME"), "请选择", new { id = "UNDERTAKE_LABORATORYID" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.APPROVALDATE):
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="APPROVALDATEStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'APPROVALDATEStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="APPROVALDATEEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'APPROVALDATEEnd_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.BAR_CODE_NUM):
        </div>
        <div class="input_search-field">
            <input type='text' id='BAR_CODE_NUM' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.PRINTSTATUS):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("PRINTSTATUSDDL", Models.SysFieldModels.GetSysField("VBAOGAODAYIN", "PRINTSTATUS"), "请选择", new { id = "PRINTSTATUSDDL" })
        </div>
    </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
<br style="clear: both;" />
<div id="myWindow">
</div>
<script type="text/javascript" language="javascript">
 
    $(function () {

        $('#flexigridData').datagrid({
            title: '器具报告信息', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '../VBAOGAODAYIN/GetData', //获取数据的url
            sortName: 'APPROVALDATE',
            sortOrder: 'asc',
            idField: 'ID',

            toolbar: [

                 {
                     text: '打印报告',
                     iconCls: 'icon-search',
                     handler: function () {
                         return daying();
                     }
                 },
                    {
                        text: '报告回收',
                        iconCls: 'icon-search',
                        handler: function () {
                            return getView();
                        }
                    }
            ],
            columns: [[
					{ field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', width: 164, hidden: true }
					, { field: 'REPORTNUMBER', title: '@Html.DisplayNameFor(model => model.REPORTNUMBER)', width: 164 }
					, { field: 'ORDER_NUMBER', title: '@Html.DisplayNameFor(model => model.ORDER_NUMBER)', width: 64 }
					, { field: 'APPLIANCE_NAME', title: '@Html.DisplayNameFor(model => model.APPLIANCE_NAME)', width: 64 }
					, { field: 'VERSION', title: '@Html.DisplayNameFor(model => model.VERSION)', width: 64 }
					, { field: 'FACTORY_NUM', title: '@Html.DisplayNameFor(model => model.FACTORY_NUM)', width: 64 }
					, { field: 'CERTIFICATE_ENTERPRISE', title: '@Html.DisplayNameFor(model => model.CERTIFICATE_ENTERPRISE)', width: 64 }
					, { field: 'CUSTOMER_SPECIFIC_REQUIREMENTS', title: '@Html.DisplayNameFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)', width: 64 }
					, { field: 'CERTIFICATE_CATEGORY', title: '@Html.DisplayNameFor(model => model.CERTIFICATE_CATEGORY)', width: 64 }
					, { field: 'QUALIFICATIONS', title: '@Html.DisplayNameFor(model => model.QUALIFICATIONS)', width: 64 }
					, {
					    field: 'CONCLUSION_EXPLAIN', title: '@Html.DisplayNameFor(model => model.CONCLUSION_EXPLAIN)', width: 64, formatter: function (value, row, index) {
					        if (row.PACKAGETYPE != "@Common.PACKAGETYPE.上传.ToString()") {
					            return row.CONCLUSION_EXPLAIN;
					        }
					        else {
					            return null;
					        }
					    }
					}
					, {
					    field: 'CONCLUSION', title: '@Html.DisplayNameFor(model => model.CONCLUSION)', width: 64, formatter: function (value, row, index) {
					        if (row.PACKAGETYPE == "@Common.PACKAGETYPE.上传.ToString()") {
					            return row.FILECONCLUSION;
					        }
					        else {
					            return row.CONCLUSION;
					        }
					    }
					}
                    , {
                        field: 'aa', title: '打印记录', width: 86, formatter: function (value, row, index) {
                            var html = "<a onclick='showMyWindow(\""+row.ID+"\");'href='#'>详情</a>";
                            return html;
                        }
                    }
            ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });
    function showMyWindow(href) {

        $('#myWindow').window({
            title: '详情',
            width: 600,
            height: 450,
            content: '<iframe scrolling="yes" frameborder="0"  src="\PRINTREPORT/Index/' + href + '" style="width:100%;height:98%;"></iframe>',
            //        href: href === undefined ? null : href,
            modal: true,
            minimizable: false ,
            maximizable: false,
            shadow: false,
            cache: false,
            closed: false,
            collapsible: false,
            resizable: false,
            loadingMessage: '正在加载数据，请稍等片刻......'
        });

    }
    //“查询”按钮，弹出查询框
    function flexiQuery() {
        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "REPORTNUMBER&" + $("#REPORTNUMBER").val() + "^";
        search += "ORDER_NUMBER&" + $("#ORDER_NUMBER").val() + "^";
        search += "FACTORY_NUM&" + $("#FACTORY_NUM").val() + "^";
        search += "CERTIFICATE_ENTERPRISE&" + $('#CERTIFICATE_ENTERPRISE').combobox('getText') + "^";
        search += "UNDERTAKE_LABORATORYID&" + $("#UNDERTAKE_LABORATORYID option:selected").val() + "^";
        search += "APPROVALDATEStart_Time&" + $("#APPROVALDATEStart_Time").val() + "^";
        search += "APPROVALDATEEnd_Time&" + $("#APPROVALDATEEnd_Time").val() + "^";
        search += "BAR_CODE_NUM&" + $("#BAR_CODE_NUM").val() + "^";
        search += "PRINTSTATUSDDL&" + $("#PRINTSTATUSDDL option:selected").val() + "^";
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    //打印
    function daying() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length >= 1) {
            var entity = new Object();
            entity.PREPARE_SCHEMEID = arr[0].ID;
            $.ajax({
                url: "/api/PRINTREPORTApi/Post",
                type: "Post",
                data: entity,
                // async: false,
                success: function (res) {
                    if (res.Code == 1) {
                        $.messager.alert('操作提示', "打印成功！", 'info');
                        $("#flexigridData").datagrid("reload");
                        $("#flexigridData").datagrid("clearSelections");
                    }
                    else {
                        $.messager.alert('操作提示', "打印失败！", 'info');
                    }
                }
            })

        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
    }
</script>

