@model Langben.DAL.SysPerson

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}

    <fieldset>
       
        <div class="bigdiv">
            <div style="float:right; width:379px;height:184px;">
                <img id="showPic" src="~/Images/noPic.jpg" width="149" height="175" />
                <div style="float:left">
                    <div id="uploader-demo">
                        <!--用来存放item-->
                        <div id="fileList" style="display:none;" class="uploader-list"></div>
                        <div id="filePicker">上传签字</div>
                    </div>
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.Name) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
                </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.MyName) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.MyName)
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.Sex) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Sex)
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.MobilePhoneNumber) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.MobilePhoneNumber)
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.PhoneNumber) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    <label for="Province">实验室：</label>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Province)
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.Address) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.EmailAddress) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EmailAddress)
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.State) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.State)
                </div>
            </div>
            <div class="search-form">
                <div class="display-label">
                    @Html.LabelFor(model => model.CreateTime) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CreateTime)
                </div>
            </div>
           </div>
                <br style="clear: both;" />                
               
            <div class="search-form" style="width:800px">
                <div class="editor-label">
                   @Html.LabelFor(model => model.Remark) :
                </div>
                <div class="textarea-box">
                    @Html.TextAreaFor(model => model.Remark, new { @readonly = true })
                </div>
            </div>

        <div class="search-form">
            <div class="editor-label"></div>
            <div class="editor-field">
                <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
            </div>
        </div>
        <input type="hidden" id="OldPic" name="OldPic" value="@(ViewBag.OldPic)" />
</fieldset>
<script type="text/javascript">

    $(function () {



        var picture = $('#OldPic').val();
        if (picture != '') {
            $('#showPic').attr("src", picture);
        }

         

    })
</script>

@section HeadContent{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Res/webuploader/css/webuploader.css")" />
}
