@model Langben.DAL.CROSS_FREQUENCY_POWER_FACTOR

@{
    Layout = "~/Views/Shared/Create.cshtml";
}
@using Common
@using Models
 
@section CurentPlace {
 
      创建  
 
 }
@using (Html.BeginForm("", "api/CROSS_FREQUENCY_POWER_FACTORApi/Post"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="创建" />
            <input class="a2 f2" type="button" onclick="BackList('CROSS_FREQUENCY_POWER_FACTOR')" value="返回" />
        </legend>
        <div class="bigdiv">
                 
            <div class="editor-label">
                @Html.LabelFor(model => model.TEST_POINT)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TEST_POINT)
                @Html.ValidationMessageFor(model => model.TEST_POINT)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.TEST_POINT_UNIT)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TEST_POINT_UNIT)
                @Html.ValidationMessageFor(model => model.TEST_POINT_UNIT)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.STANDARD_VALUE)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.STANDARD_VALUE)
                @Html.ValidationMessageFor(model => model.STANDARD_VALUE)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.STANDARD_VALUE_UNIT)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.STANDARD_VALUE_UNIT)
                @Html.ValidationMessageFor(model => model.STANDARD_VALUE_UNIT)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.DISPLAY_VALUE)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DISPLAY_VALUE)
                @Html.ValidationMessageFor(model => model.DISPLAY_VALUE)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.DISPLAY_VALUE_UNIT)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DISPLAY_VALUE_UNIT)
                @Html.ValidationMessageFor(model => model.DISPLAY_VALUE_UNIT)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.UNCERTAINTY_DEGREE)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UNCERTAINTY_DEGREE)
                @Html.ValidationMessageFor(model => model.UNCERTAINTY_DEGREE)
            </div>
        <div class="editor-label">
            <a class="anUnderLine" onclick="showModalOnly('CROSS_HEADID','../../CROSS_HEAD');">
                @Html.LabelFor(model => model.CROSS_HEADID) 
            </a>：
        </div>
        <div class="editor-field">
            <div id="checkCROSS_HEADID">            
            </div>
            @Html.HiddenFor(model => model.CROSS_HEADID)
        </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.PREPARE_SCHEMEID)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PREPARE_SCHEMEID)
                @Html.ValidationMessageFor(model => model.PREPARE_SCHEMEID)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.CREATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CREATEPERSON)
                @Html.ValidationMessageFor(model => model.CREATEPERSON)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.UPDATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UPDATEPERSON)
                @Html.ValidationMessageFor(model => model.UPDATEPERSON)
            </div>
        </div>
    </fieldset>
} 


    
    <script type="text/javascript">

        $(function () {
            
        });
              

    </script>


