@model  Langben.App.Models.VTEST_ITE_YuBei

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Webdiyer.WebControls.Mvc
@using Common
@using Models
@section CurentPlace {

}

<div data-options="region:'north',border:false" style="height: 50px; overflow:hidden; padding:5px;">
    <input type="hidden" id="hideID" value="@ViewBag.ID" />
    <div class="easyui-panel tr" title="" data-options="iconcls:'icon-search',fit:true" style="padding:5px; overflow:hidden;">
        <table width="100%">
            <tr>

                <td align="right">
                    <a href="../VJIANDINGRENWU/Index" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-back'" onclick="">返回</a>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" onclick="Save()">保存</a>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" onclick="songwangshenghe()">送审核</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div data-options="region:'west',split:true" title="" style="width:310px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl tc">
        <tr>
            <th width="70" align="center">序列</th>
            <th align="center">检测项</th>
            <th width="100" align="center">明细</th>
        </tr>
        @if (Model != null && Model.vtest_ite != null && Model.vtest_ite.Count > 0)
        {
            var i = 1;
            foreach (var item in Model.vtest_ite)
            {
                <tr>
                    <td>@i</td>
                    <td><input type="hidden" id="hideName" value="@item.NAME" /><a href="javascript:SetIframeSrc('@item.PREPARE_SCHEMEID','@item.RULEID','@item.INPUTSTATE','@item.SCHEME_MENU')">@item.NAMEOTHER</a></td>
                    <td id="@item.RULEID">@item.ISCOMPLETE</td>
                </tr>
                i = i + 1;
            }
        }
        <tr>
            <td style="background:#FCFCFC">总结论：</td>
            <td colspan="2" align="left">
                <select class="my-combobox" id="CONCLUSION">
                    @if (Model != null && Model.prepare_scheme.CONCLUSION == "不合格")
                    {
                        <option value="合格">合格</option>
                        <option value="不合格" check="true">不合格</option>
                    }
                    else
                    {
                        <option value="合格" check="true">合格</option>
                        <option value="不合格">不合格</option>
                    }
                </select>
                @Html.DropDownList("UNQUALIFIEDTYPE", Models.SysFieldModels.GetSysField("PREPARE_SCHEME", "UNQUALIFIEDTYPE"), "请选择不合格类型", new { @style = "width:60%;display:none" })
            </td>
        </tr>
        <tr>
            <td style="background:#FCFCFC">结论说明：</td>
            <td colspan="2" align="left"><textarea rows="1" style="width:97%; height:26px" id="CONCLUSION_EXPLAIN">@Model.prepare_scheme.CONCLUSION_EXPLAIN</textarea></td>

        </tr>
        <tr>
            <td style="background:#FCFCFC">有效期：</td>
            <td colspan="2" align="left"><input type="text" class="my-textbox" value="@Model.prepare_scheme.VALIDITY_PERIOD" id="VALIDITY_PERIOD" /> 年</td>

        </tr>
        <tr>
            <td colspan="3"><a href="javascript:Export('OriginalRecord');" class="easyui-linkbutton">原始记录</a>  <a href="javascript:Export('Report');" class="easyui-linkbutton">报 告</a></td>
        </tr>
    </table>
</div>


<div data-options="region:'center',split:true,tools:'#tt'" title="">
    <iframe id="mainframe" name="mainframe" frameborder="0" src=""></iframe>
</div>
<script type="text/javascript" language="javascript">
    //切换检测项
    //PREPARE_SCHEMEID:预备方案ID
    //RULEID:检测项目ID
    //INPUTSTATE:录入格式
    //SCHEME_MENU:菜单地址
    function SetIframeSrc(PREPARE_SCHEMEID, RULEID, INPUTSTATE, SCHEME_MENU) {
        if (SCHEME_MENU == null || SCHEME_MENU.trim() == "") {
            url = "/QUALIFIED_UNQUALIFIED_TEST_ITE/FeiBiaoGe";
        }
        else {

            url = "../PROJECTTEMPLET/" + SCHEME_MENU;
        }
        if (url.indexOf('?') > 0) {
            //刘腾飞修改 2016.11.23
            url = url + "&PREPARE_SCHEMEID=" + PREPARE_SCHEMEID;
        } else {
            url = url + "?PREPARE_SCHEMEID=" + PREPARE_SCHEMEID;
        }

        url = url + "&RULEID=" + RULEID;
        url = url + "&INPUTSTATE=" + INPUTSTATE;
        $('#mainframe').attr('src', url);

    }
    //数据验证
    function CheckData() {
        return true;
    }
    //保存
    function Save() {
        if (!CheckData()) {
            return;
        }
        var ID = $("#hideID").val();//预备方案检查项ID
        var CONCLUSION = $("#CONCLUSION").val();//总结论
        var CONCLUSION_EXPLAIN = $("#CONCLUSION_EXPLAIN").val();//结论说明
        var VALIDITY_PERIOD = $("#VALIDITY_PERIOD").val();//有效期
        var UNQUALIFIEDTYPE = $("#UNQUALIFIEDTYPE option:selected").val()//不合格类型
        if (CONCLUSION == "不合格") {
            if (UNQUALIFIEDTYPE == null || UNQUALIFIEDTYPE == "") {
                $.messager.alert('操作提示', "请选择不合格类型！", 'info');
                return false;
            }
        }

        //获取空对象用于保存添加的信息
        $.ajax({
            type: 'post', //使用post方法访问后台
            dataType: "json", //返回json格式的数据
            url: '/PREPARE_SCHEME/Save', //要访问的后台地址
            contentType: 'application/x-www-form-urlencoded; charset=utf-8', //指定编码方式
            data: { 'ID': ID, 'CONCLUSION': CONCLUSION, 'CONCLUSION_EXPLAIN': CONCLUSION_EXPLAIN, 'VALIDITY_PERIOD': VALIDITY_PERIOD, 'UNQUALIFIEDTYPE': UNQUALIFIEDTYPE },
            beforeSend: function () {
                //InitAlertJS();
            },
            complete: function () {
            }, //AJAX请求完成时隐藏loading提示

            success: function (res) {//msg为返回的数据，在这里做数据绑定
                if (res.Code == 1) {
                    $.messager.alert('操作提示', "操作成功！", 'info');
                }
                else {
                    $.messager.alert('操作提示', res.Message, 'info');
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.messager.alert('操作提示', '操作失败!' + errorThrown.messager, 'warning');
            }
        });
    }
    //导出原始记录、报告
    //type:OriginalRecord原始记录，Report:报告
    function Export(type) {
        var ID = $("#hideID").val();//预备方案ID
        //var url= '/PREPARE_SCHEME/ExportOriginalRecord'; //要访问的后台地址
        //if (type == "Report")//打印报告
        //{
        //    url = '/PREPARE_SCHEME/ExportRecord'; //要访问的后台地址
        //}

        //获取空对象用于保存添加的信息
        $.ajax({
            type: 'post', //使用post方法访问后台
            dataType: "json", //返回json格式的数据
            url: '/PREPARE_SCHEME/Export', //要访问的后台地址
            contentType: 'application/x-www-form-urlencoded; charset=utf-8', //指定编码方式
            data: { 'ID': ID, 'Type': type },
            beforeSend: function () {
                //InitAlertJS();
            },
            complete: function () {
            }, //AJAX请求完成时隐藏loading提示

            success: function (res) {//msg为返回的数据，在这里做数据绑定
                if (res.Code == 1) {
                    $.messager.alert('操作提示', "操作成功！", 'info');
                    window.location.href = res.Message;
                }
                else {
                    $.messager.alert('操作提示', res.Message, 'info');
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.messager.alert('操作提示', '操作失败!' + errorThrown.messager, 'warning');
            }
        });
    }

    //发送审核
    function songwangshenghe() {
        var arr = {
            ID: "@ViewBag.ID",//预备方案的id
            REPORTSTATUS: "@Common.REPORTSTATUS.待审核",
            REPORTSTATUSZI: "@Common.REPORTSTATUS.待审核.GetHashCode()",
            PACKAGETYPE: "@Common.PACKAGETYPE.生成.ToString()"
        }
        if (true) {//判断报告是否生成
            $.ajax({
                url: "/api/PREPARE_SCHEMEApi/EditField1",
                type: "Put",
                data: arr,
                // async: false,
                success: function (res) {
                    if (res.Code == 1) {
                        $("#Submit1,#fashongid").attr("disabled", true);
                        $.messager.alert('操作提示', res.Message, 'info');
                    }
                    else {
                        $.messager.alert('操作提示', res.Message, 'error');
                    }
                }
            })
            return true;
        }
        else {
            $.messager.alert('操作提示', "请生成报告！", 'info');
            return false;
        }
    }

    //不合格原因
    $("#CONCLUSION").change(function () {
        var option = $("#CONCLUSION option:selected").val();
        if (option == "合格") {
            $("#UNQUALIFIEDTYPE").hide();
            $("#UNQUALIFIEDTYPE").val("");
        }
        else if (option == "不合格") {
            $("#UNQUALIFIEDTYPE").show();
        }
    })
</script>

