@model  Langben.App.Models.VTEST_ITE_YuBei

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Webdiyer.WebControls.Mvc
@using Common
@using Models
 @section CurentPlace {
  
}

<div data-options="region:'north',border:false" style="height: 50px; overflow:hidden; padding:5px;">
    <input type="hidden" id="hideID" value="@ViewBag.ID" />
    <div class="easyui-panel tr" title="" data-options="iconcls:'icon-search',fit:true" style="padding:5px; overflow:hidden;">
        <table width="100%">
            <tr>

                <td align="right">
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-back'" onclick="CreateTable()">返回</a>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" onclick="CreateTable()">保存</a>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" onclick="CreateTable()">送审核</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div data-options="region:'west',split:true" title="" style="width:310px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl tc">
        <tr>
            <th width="70" align="center">序列</th>
            <th align="center">检测项</th>
            <th width="100" align="center">明细</th>
        </tr>
        @if (Model != null && Model.vtest_ite != null && Model.vtest_ite.Count > 0)
        {
            var i = 1;
            foreach (var item in Model.vtest_ite)
            {
                <tr>
                    <td>@i</td>
                    <td><input type="hidden" id="hideName" value="@item.NAME" /><a href="javascript:SetIframeSrc('@item.PREPARE_SCHEMEID','@item.RULEID','@item.INPUTSTATE','@item.SCHEME_MENU')">@item.NAMEOTHER</a></td>
                    <td id="@item.RULEID">@item.ISCOMPLETE</td>
                </tr>
                i = i + 1;
            }
        }
        <tr>
            <td style="background:#FCFCFC">总结论：</td>
            <td colspan="2" align="left">
                <select class="my-combobox">
                    @if (Model != null && Model.prepare_scheme.CONCLUSION == "不合格")
                    {
                        <option value="yes">合格</option>
                        <option value="no" check="true">不合格</option>
                    }
                    else
                    {
                        <option value="yes" check="true">合格</option>
                        <option value="no">不合格</option>
                    }
                </select>
            </td>

        </tr>
        <tr>
            <td style="background:#FCFCFC">结论说明：</td>
            <td colspan="2" align="left"><textarea rows="1" style="width:97%; height:26px">@Model.prepare_scheme.CONCLUSION_EXPLAIN</textarea></td>

        </tr>
        <tr>
            <td style="background:#FCFCFC">有效期：</td>
            <td colspan="2" align="left"><input type="text" class="my-textbox" value="@Model.prepare_scheme.VALIDITY_PERIOD" /> 年</td>

        </tr>
        <tr>
            <td colspan="3"><a href="javascript:void(0)" class="easyui-linkbutton">原始记录</a>  <a href="javascript:void(0)" class="easyui-linkbutton">报 告</a></td>
        </tr>
    </table>
</div>


<div data-options="region:'center',split:true,tools:'#tt'" title="">
    <iframe id="mainframe" name="mainframe" frameborder="0" src=""></iframe>
</div>
<script type="text/javascript" language="javascript">
    //切换检测项   
    //PREPARE_SCHEMEID:预备方案ID
    //RULEID:检测项目ID
    //INPUTSTATE:录入格式   
    //SCHEME_MENU:菜单地址
    function SetIframeSrc(PREPARE_SCHEMEID, RULEID, INPUTSTATE,SCHEME_MENU)
    {        
        if (SCHEME_MENU == null || SCHEME_MENU.trim()=="")
        {           
            url = "/QUALIFIED_UNQUALIFIED_TEST_ITE/FeiBiaoGe";             
        }
        else
        {
            url = SCHEME_MENU;
        }        
        url = url + "?PREPARE_SCHEMEID=" + PREPARE_SCHEMEID;
        url = url + "&RULEID=" + RULEID;           
        url = url + "&INPUTSTATE=" + INPUTSTATE;
        $('#mainframe').attr('src', url);

       
    }
</script>

