
@{
    Layout = "~/Views/Shared/AppCreate.cshtml";
}

<fieldset>

    <div>
        <form id="form1" method="post" enctype="multipart/form-data" action="BaoGaoShangChuan">



            <div class="input_search">
                <div class="input_search-label">
                    证书编号：
                </div>
                <div class="input_search-field ">
                    <p class="static">
                        <label>@ViewBag.REPORTNUMBER</label>
                    </p>
                    <input type="hidden" name="REPORTNUMBER" value="@ViewBag.REPORTNUMBER" />
                </div>
            </div>
            <br style="clear:both" />
            <div class="input_search">
                <div class="input_search-label">
                    原始记录：
                </div>
                <div class="input_search-field">
                    <input name="name" type="file" id="file" /><br />

                </div>
            </div>
            <div class="input_search">
                <div class="input_search-label">

                </div>
                <div class="input_search-field">
                    <input type="hidden" name="NAME2" value="@ViewBag.NAME2" />
                    <label>@ViewBag.NAME2</label>
                </div>
            </div>
            <br style="clear:both" />
            <div class="input_search">
                <div class="input_search-label">
                    上传证书：
                </div>
                <div class="input_search-field">
                    <input name="name2" type="file" id="file2" />
                </div>
            </div>
            <br style="clear:both" />
            <div class="input_search">
                <div class="input_search-label">

                </div>
                <div class="input_search-field" style="width:400px">
                    <p class="static">
                        <label>@ViewBag.NAME</label>
                    </p>
                    <input type="hidden" name="NAME" value="@ViewBag.NAME" />
                </div>

            </div>
            <br style="clear:both" />
            <div class="input_search-label">
                结论：
            </div>

            <div class="input_search-field">

                <p class="static">

                    <label><input type="radio" name="CONCLUSION" value="合格" id="CONCLUSION1" onclick="jielun(1)" />合格</label>   <label><input type="radio" name="CONCLUSION" value="不合格" id="CONCLUSION2" onclick="jielun(2)" />不合格</label>
                </p>
                @Html.DropDownList("UNQUALIFIEDTYPE", Models.SysFieldModels.GetSysField("PREPARE_SCHEME", "UNQUALIFIEDTYPE"), "请选择不合格类型", new { @style = "width:60%;display:none" })
            </div>

            <div class="input_search">
                <div class="input_search-label">
                    <span style='color:#F00'>*</span>核验员：
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("DETECTERID", Models.SysPersonModels.GetMyName(), "请选择", new { id = "DETECTERID", @class = "easyui-combobox" })
                </div>
            </div><br style="clear:both;" />



            <input type="hidden" name="PREPARE_SCHEMEID" value="@ViewBag.PREPARE_SCHEMEID" />
            <input type="hidden" name="ID" value="@ViewBag.FILE_UPLOADERID" id="hiddenID" />




            <div class="clear"></div>
            <div class="input_search">
                <div class="input_search-label">

                </div>
                <div class="input_search-field">



                    @*上传按钮不能提到form外面*@
                    <input id="Submit1" type="submit" value="上传" class="my-btn" onclick="javascript:
        if ($('#file').val() != '' && $('#file2').val() != '')
        {
            if ($('input[name=CONCLUSION]:checked').val() == undefined) {
                $.messager.alert('操作提示', '请选择结论！', 'info');
                return false;
            } else {
                return true;
            };
            if ($('input[name=CONCLUSION]:checked').val() == '不合格') {
                var con=$('#CONCLUSION option:selected').val();
                if (con==''||con==null) {
                    $.messager.alert('操作提示', '请选择不合格类型！', 'info');
                }
            }
        }
        else {
            $.messager.alert('操作提示', '请选择上传文件！', 'info');
            return false;
        };
  " />

                    <input id="fashongid" type="button" class="my-btn" value="发送审核" onclick="songwangshenghe()" />

                    <input type="button" onclick="javascript: window.location.href = '/VJIANDINGRENWU/Index';" value="返回" class="my-btn" />

                </div>
            </div>

        </form>
    </div>

</fieldset>

<script type="text/javascript">
    $(function () {
        //加载核验员
        if ("@ViewBag.DETECTERID"!="") {
            $("#DETECTERID").val(@ViewBag.DETECTERID);
        }
        //输入框的禁用
        if ("@ViewBag.REPORTSTATUS" == "@Common.REPORTSTATUS.审核驳回.ToString()" || "@ViewBag.REPORTSTATUS" == "@Common.REPORTSTATUS.批准驳回.ToString()" || "@ViewBag.REPORTSTATUS" == "") {
            //return true;
        }
        else {
            $("#Submit1,#fashongid").attr("disabled", true)
        }
        if ("@ViewBag.CONCLUSION" != "") {
            @*$("input[type=radio]").attr("checked", "@ViewBag.CONCLUSION");*@
            if ("@ViewBag.CONCLUSION" == "合格") {
                $("#CONCLUSION1").attr("checked", "checked");
            }
            else if ("@ViewBag.CONCLUSION" == "不合格") {
                $("#CONCLUSION2").attr("checked", "checked");
            }
        }
        if ("@ViewBag.Create" == "True") {
            $.messager.alert('操作提示', "上传成功！", 'info');
        }
        else if ("@ViewBag.Create" == "False") {
            $.messager.alert('操作提示', "上传失败！", 'error');
            $("#hiddenID").val(null);
        }
        if ("@ViewBag.Edit" == "True") {
            $.messager.alert('操作提示', "上传修改成功！", 'info');
        }
        else if ("@ViewBag.Edit" == "False") {
            $.messager.alert('操作提示', "上传修改失败！", 'error');
        }
    })
    //发送审核
    function songwangshenghe() {      
        var DETECTERID = $("#DETECTERID").combobox('getValue');
        var arr = {
            ID: "@ViewBag.PREPARE_SCHEMEID",
            REPORTSTATUS: "@Common.REPORTSTATUS.待审核",
            REPORTSTATUSZI: "@Common.REPORTSTATUS.待审核.GetHashCode()",
            AUDITDATE: "@DateTime.Now;",
            DETECTERID: DETECTERID
        }
        if (arr.DETECTERID!="") {
            if ("@ViewBag.NAME2" != "") {
                $.ajax({
                    url: "/api/PREPARE_SCHEMEApi/EditField",
                    type: "Put",
                    data: arr,
                    // async: false,
                    success: function (res) {
                        if (res.Code == 1) {
                            $("#Submit1,#fashongid").attr("disabled", true);
                            $.messager.alert('操作提示', "发送审核成功！", 'info');
                        }
                        else {
                            $.messager.alert('操作提示', "发送审核失败！", 'error');
                        }
                    }
                })
                return true;
            }
            else {
                $.messager.alert('操作提示', "请先上传文件！", 'info');
                return false;
            }
        }
        else {
            $.messager.alert('操作提示', "请选择核验员！", 'info');
            return false;
        }
    }

    function jielun(e) {
        if (e == 1) {
            $("#UNQUALIFIEDTYPE").hide();
            $("#UNQUALIFIEDTYPE").val("");
        }
        else if (e == 2) {
            $("#UNQUALIFIEDTYPE").show();
        }
    }
</script>
