
@{
    Layout = "~/Views/Shared/AppCreate.cshtml";
}

<fieldset>

    <div>
        <form id="form1" method="post" enctype="multipart/form-data" action="BaoGaoShangChuan">

            <label>
                <input id="Submit1" type="submit" value="上传" onclick="javascript:
        if ($('#file').val() != '' && $('#file2').val() != '')
        {
            if ($('input[name=CONCLUSION]:checked').val() == undefined) {
                $.messager.alert('操作提示', '请选择结论！', 'info');
                return false;
            } else {
                return true;
            };
        }
        else {
            $.messager.alert('操作提示', '请选择上传文件！', 'info');
            return false;
        };
  " />
                <input id="fashongid" type="button" value="发送审核" onclick="songwangshenghe()" />
            </label>
            <br style="clear:both" />
            <div class="input_search">
                <div class="input_search-label">
                    证书编号：
                </div>
                <div class="input_search-field">
                    <label>@ViewBag.REPORTNUMBER</label>
                    <input type="hidden" name="REPORTNUMBER" value="@ViewBag.REPORTNUMBER" />
                </div>
            </div>
            <br style="clear:both" />
            <div class="input_search">
                <div class="input_search-label">
                    原始记录：
                </div>
                <div class="input_search-field">
                    <input name="name" type="file" id="file" /><br />

                </div>
            </div>
            <div class="input_search">
                <div class="input_search-label">

                </div>
                <div class="input_search-field">
                    <input type="hidden" name="NAME2" value="@ViewBag.NAME2" />
                    <label>@ViewBag.NAME2</label>
                </div>
            </div>

            <div class="input_search">
                <div class="input_search-label">
                    上传证书：
                </div>
                <div class="input_search-field">
                    <input name="name2" type="file" id="file2" />
                </div>
            </div>
            <div class="input_search">
                <div class="input_search-label">

                </div>
                <div class="input_search-field">
                    <label>@ViewBag.NAME</label>
                    <input type="hidden" name="NAME" value="@ViewBag.NAME" />
                </div>

            </div>
            <br style="clear:both" />
            <div class="input_search-label">
                结论：
            </div>

            <div class="editor-field">



                合格 <input type="radio" name="CONCLUSION" value="合格" id="CONCLUSION1" />不合格  <input type="radio" name="CONCLUSION" value="不合格" id="CONCLUSION2" />
            </div>





            <input type="hidden" name="PREPARE_SCHEMEID" value="@ViewBag.PREPARE_SCHEMEID" />
            <input type="hidden" name="ID" value="@ViewBag.FILE_UPLOADERID" id="hiddenID" />

        </form>
    </div>
    <br style="clear:both" /><br style="clear:both" /><br style="clear:both" />
    <br style="clear:both" />
</fieldset>

<script type="text/javascript">
    $(function () {
        //输入框的禁用
        if ("@ViewBag.REPORTSTATUS" == "@Common.REPORTSTATUS.审核驳回.ToString()" || "@ViewBag.REPORTSTATUS" == "@Common.REPORTSTATUS.批准驳回.ToString()" || "@ViewBag.REPORTSTATUS" == "") {
            //return true;
        }
        else {
            $("#Submit1,#fashongid").attr("disabled", true)
        }      
        if ("@ViewBag.CONCLUSION" != "") {
            @*$("input[type=radio]").attr("checked", "@ViewBag.CONCLUSION");*@
            if ("@ViewBag.CONCLUSION" == "合格") {
                $("#CONCLUSION1").attr("checked", "checked");
            }
            else if ("@ViewBag.CONCLUSION" == "不合格") {
                $("#CONCLUSION2").attr("checked", "checked");
            }
        }
        if ("@ViewBag.Create" == "True") {
            $.messager.alert('操作提示', "上传成功！", 'info');
        }
        else if ("@ViewBag.Create" == "False") {
            $.messager.alert('操作提示', "上传失败！", 'info');
            $("#hiddenID").val(null);
        }
        if ("@ViewBag.Edit" == "True") {
            $.messager.alert('操作提示', "上传修改成功！", 'info');
        }
        else if ("@ViewBag.Edit" == "False") {
            $.messager.alert('操作提示', "上传修改失败！", 'info');
        }
    })
    //发送审核
    function songwangshenghe() {
        var arr = {
            ID: "@ViewBag.PREPARE_SCHEMEID",
            REPORTSTATUS: "@Common.REPORTSTATUS.待审核",
            REPORTSTATUSZI: "@Common.REPORTSTATUS.待审核.GetHashCode()"
        }
        if ("@ViewBag.NAME2"!="") {
            $.ajax({
                url: "/api/PREPARE_SCHEMEApi/EditField",
                type: "Put",
                data: arr,
                // async: false,
                success: function (res) {
                    if (res.Code == 1) {
                        $("#Submit1,#fashongid").attr("disabled", true);
                        $.messager.alert('操作提示', "发送审核成功！", 'info');                        
                    }
                    else {
                        $.messager.alert('操作提示', "发送审核失败！", 'info');
                    }
                }
            })
            return true;
        }
        else {
            $.messager.alert('操作提示', "请先上传文件！", 'info');
            return false;
        }
    }
</script>
