@model Langben.DAL.VJIANDINGRENWU
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<div id="divQuery">
    <input type="hidden" name="UNDERTAKE_LABORATORYID" value="" />
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ORDER_NUMBER):
        </div>
        <div class="input_search-field">
            <input type='text' id='ORDER_NUMBER' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.APPLIANCE_NAME):
        </div>
        <div class="input_search-field">
            <input type='text' id='APPLIANCE_NAME' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.VERSION):
        </div>
        <div class="input_search-field">
            <input type='text' id='VERSION' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.FACTORY_NUM):
        </div>
        <div class="input_search-field">
            <input type='text' id='FACTORY_NUM' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE):
        </div>
        <div class="input_search-field">
            <input type='text' id='CERTIFICATE_ENTERPRISE' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ORDER_STATUS):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("ORDER_STATUSDDL_String", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "ORDER_STATUS"), "请选择", new { id = "ORDER_STATUSDDL_String" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.INSPECTION_ENTERPRISE):
        </div>
        <div class="input_search-field">
            <input type='text' id='INSPECTION_ENTERPRISE' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ISOVERDUE):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("ISOVERDUEDDL_String", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "ISOVERDUE"), "请选择", new { id = "ISOVERDUEDDL_String" })
        </div>
    </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>

@*弹窗*@
<div id="w" class="easyui-dialog" title="超期原因" data-options="iconCls:'icon-save'" style="width:700px;height:400px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <input type="hidden" id="chaoqiid" value="" />
        <textarea name="OVERDUE" style="width:100%;height:100%;" id="OVERDUE">这里写内容</textarea>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="chaoqibaocun()" style="width:80px">Ok</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:$('#w').dialog('close')" style="width:80px">Cancel</a>
        </div>
    </div>
</div>
<div id="d" class="easyui-dialog" title="退回" data-options="iconCls:'icon-save'" style="width:700px;height:400px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <input type="hidden" id="tuihuiid" value="" />
        <input type="radio" name="tuihuiaa" value="1" />实验室分错
        <input type="radio" name="tuihuiaa" value="2" />器具不能检测
        <textarea name="STORAGEINSTRUCTIONS" style="width:100%;height:100%;" id="STORAGEINSTRUCTIONS">这里写内容</textarea>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="tuihuibaocun()" style="width:80px">OK</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:$('#d').dialog('close')" style="width:80px">Cancel</a>
        </div>
    </div>
</div>
@*************************@
<br style="clear: both;" />
<script type="text/javascript">
    $(function () {
        $("#w").dialog('close');
        $("#d").dialog('close');
    })
    //追加超期原因
    function chaoqi() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            if (arr[0].ORDER_STATUS == "已分配" || arr[0].ORDER_STATUS == "已领取" || arr[0].ORDER_STATUS == "试验中") {
                if (arr[0].CREATETIME != null) {
                    var datea = dateConvert(arr[0].CREATETIME);
                    var tame = formatterDate(new Date());
                    var distance = shijianjishuan(datea, tame);
                    if (distance >= 15) {
                        $("#w").dialog('open');
                        $("#chaoqiid").val(arr[0].ID);
                        return true;
                    }
                    else {
                        $.messager.alert('操作提示', '请选择超期数据!', 'warning');
                    }
                }
                else {
                    $.messager.alert('操作提示', '请选择超期数据!', 'warning');
                }
            }
            else {
                $.messager.alert('操作提示', '请选择超期数据!', 'warning');
            }
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');

        }

    }
    //超期原因保存
    function chaoqibaocun() {
        var arr = {
            ID: $("#chaoqiid").val(),
            OVERDUE: $("#OVERDUE").val(),
            ISOVERDUE: "是"
        }
        $.ajax({
            url: "/api/VAPPLIANCE_DETAIL_INFORMATIONApi/EditField",
            type: "Post",
            data: arr,
            // async: false,
            success: function (res) {
                if (res.Code == 1) {
                    $.messager.alert('操作提示', "保存成功！", 'info');
                    $("#flexigridData").datagrid("reload");
                    $("#flexigridData").datagrid("clearSelections");
                }
                else {
                    $.messager.alert('操作提示', "保存失败！", 'info');
                }
            }
        })
    }
    //退回
    function tuihui() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            $("#d").dialog('open');
            $("#tuihuiid").val(arr[0].ID);
            return true;
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            return false;
        }

    }
    //退回保存
    function tuihuibaocun() {
        var tuihu = $("input[name='tuihuiaa']:checked").val();
        var STORAGEINSTRUCTIONS = null;
        var RETURN_INSTRUCTIONS = null;
        var ORDER_STATUS = null;
        var is = false;
        if (tuihu == "1") {
            STORAGEINSTRUCTIONS = $("#STORAGEINSTRUCTIONS").val();
            ORDER_STATUS = "已退回";
            is = true;
        }
        else if (tuihu == "2") {
            RETURN_INSTRUCTIONS = $("#STORAGEINSTRUCTIONS").val();
            ORDER_STATUS = "待入库";
            is = true;
        }
        if (is) {
            var arr = {
                ID: $("#tuihuiid").val(),
                STORAGEINSTRUCTIONS: STORAGEINSTRUCTIONS,
                RETURN_INSTRUCTIONS: RETURN_INSTRUCTIONS,
                ORDER_STATUS: ORDER_STATUS
            }
            $.ajax({
                url: "/api/VAPPLIANCE_DETAIL_INFORMATIONApi/EditField",
                type: "Post",
                data: arr,
                // async: false,
                success: function (res) {
                    if (res.Code == 1) {
                        $.messager.alert('操作提示', "保存成功！", 'info');
                        $("#flexigridData").datagrid("reload");
                        $("#flexigridData").datagrid("clearSelections");
                    }
                    else {
                        $.messager.alert('操作提示', "保存失败！", 'info');
                    }
                }
            })
        }
        else {
            $.messager.alert('操作提示', "请选择退回原因！", 'info');
        }

    }
</script>




<script type="text/javascript" language="javascript">
    function shijianjishuan(datea, tame) {
        var sDate = new Date(datea);
        var eDate = new Date(tame);
        var fen = ((eDate.getTime() - sDate.getTime()) / 1000) / 60;
        var distance = parseInt(fen / (24 * 60)); //相隔distance天
        return distance;
    }
    $(function () {
        //&&&&&&&&&&&&&&&&&&&获取当前时间&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
        formatterDate = function (date) {
            var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
            var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : "0"
            + (date.getMonth() + 1);
            return date.getFullYear() + '-' + month + '-' + day;
        };
        var tame = formatterDate(new Date());

        //&&&&&&&&&&&&&&&&&&&获取当前时间&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
        $('#flexigridData').datagrid({
            title: '检定任务', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '../VJIANDINGRENWU/GetData', //获取数据的url
            sortName: 'EQUIPMENT_STATUS_VALUUMN',
            sortOrder: 'asc',
            idField: 'ID',
            rowStyler: function (value, row, index) {
                if (row.ORDER_STATUS == "已分配" || row.ORDER_STATUS == "已领取" || row.ORDER_STATUS == "试验中") {
                    if (row.CREATETIME != null) {
                        var datea = dateConvert(row.CREATETIME);
                        var distance = shijianjishuan(datea, tame);
                        if (distance >= 15) {
                            return 'background-color:#E63F00;';
                        }
                        else if (distance >= 11) {
                            return 'background-color:#EEEE00;';
                        }
                    }
                }
            },
            toolbar: [

                 {
                     text: '领取',
                     iconCls: 'icon-search',
                     handler: function () {
                         return lingqu();
                     }
                 },
                  {
                      text: '选择方案',
                      iconCls: 'icon-search',
                      handler: function () {
                          return xuanzhefanan();
                      }
                  },
                   {
                       text: '器具信息修改',
                       iconCls: 'icon-search',
                       handler: function () {
                          // return getView();
                       }
                   },
                    {
                        text: '追加超期原因',
                        iconCls: 'icon-search',
                        handler: function () {
                            return chaoqi();
                        }
                    },
            {
                text: '退回',
                iconCls: 'icon-search',
                handler: function () {
                    return tuihui();
                }
            },
             {
                 text: '查看原始记录',
                 iconCls: 'icon-search',
                 handler: function () {
                     //return getView();
                 }
             }
            ],
            columns: [[
                    { field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', width: 64, hidden: true }
                    , { field: 'ORDER_NUMBER', title: '@Html.DisplayNameFor(model => model.ORDER_NUMBER)', width: 64 }
                    , { field: 'APPLIANCE_NAME', title: '@Html.DisplayNameFor(model => model.APPLIANCE_NAME)', width: 64 }
                    , { field: 'VERSION', title: '@Html.DisplayNameFor(model => model.VERSION)', width: 64 }
                    , { field: 'FACTORY_NUM', title: '@Html.DisplayNameFor(model => model.FACTORY_NUM)', width: 64 }
                    , { field: 'CERTIFICATE_ENTERPRISE', title: '@Html.DisplayNameFor(model => model.CERTIFICATE_ENTERPRISE)', width: 64 }
                    , { field: 'CUSTOMER_SPECIFIC_REQUIREMENTS', title: '@Html.DisplayNameFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)', width: 64 }
                    , { field: 'ORDER_STATUS', title: '@Html.DisplayNameFor(model => model.ORDER_STATUS)', width: 64 }
                    , {
                        field: 'CREATETIME', title: '@Html.DisplayNameFor(model => model.CREATETIME)', width: 64, formatter: function (value, row, index) {
                            if (value) {
                                return dateConvert(value);
                            }
                        }
                    }
                    , { field: 'APPLIANCE_PROGRESS', title: '@Html.DisplayNameFor(model => model.APPLIANCE_PROGRESS)', width: 64 }
                    , { field: 'OVERDUE', title: '@Html.DisplayNameFor(model => model.OVERDUE)', width: 64 }
                    , { field: 'STATE', title: '@Html.DisplayNameFor(model => model.STATE)', width: 64 }
                    , { field: 'REPORTSTATUS', title: '@Html.DisplayNameFor(model => model.REPORTSTATUS)', width: 64 }
                    , { field: 'APPROVAL', title: '@Html.DisplayNameFor(model => model.APPROVAL)', width: 64 }
                    , { field: 'INSPECTION_ENTERPRISE', title: '@Html.DisplayNameFor(model => model.INSPECTION_ENTERPRISE)', width: 64 }
                    , { field: 'ISOVERDUE', title: '@Html.DisplayNameFor(model => model.ISOVERDUE)', width: 64 }
            ]],
            pagination: true,
            rownumbers: true

        });


        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {
        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
            else
                search = search + this.name + "&" + this.value + "^";
        });
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].ID);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].ORDER_NUMBER);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }
    //导航到查看详细的按钮
    function getView() {

        var arr = $('#flexigridData').datagrid('getSelections');

        if (arr.length == 1) {
            window.location.href = "../VJIANDINGRENWU/Details/" + arr[0].ID;

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;
    }

    //判断是否为领取的器具
    function panduanlingqu() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            if (arr[0].ORDER_STATUS == null && arr[0].APPLIANCE_PROGRESS == null) {
                $.messager.alert('操作提示', '请选择已领取的数据!', 'warning');
                return false;

            }
            else {
                return true;
            }
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            return false;
        }
    }

    //判断是否选择一条数据
    function panduanyitiao() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            return arr;
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            return arr;
        }

    }
    //领取
    function lingqu() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length >= 1) {
            var id = "";
            var id2 = "";
            $.messager.confirm('操作提示', "确认领取这 " + arr.length + " 项吗？", function (r) {
                if (r) {
                    var yinlingqu = null;
                    for (var i = 0; i < arr.length; i++) {
                        if (arr[i].ORDER_STATUS == "已分配" || arr[i].ORDER_STATUS == "已领取" || arr[i].ORDER_STATUS == "试验完成") {
                            if (arr[i].ORDER_STATUS == "已领取") {
                                yinlingqu = "第" + i + 1 + "行,"
                                id2 += arr[i].ID + ",";
                            } else if (arr[i].ORDER_STATUS == "试验完成") {
                                id += arr[i].ID +"*"+ ",";
                            }
                            else {
                                id += arr[i].ID + ",";
                            }
                        }

                        else {
                            $.messager.alert('操作提示', '请选择正确数据!', 'warning');
                            return false;
                        }
                    }
                    if (yinlingqu != null) {
                        $.messager.confirm('操作提示', "" + yinlingqu + "已领取确认重复领取吗？", function (r) {
                            if (r) {
                                id += id2;
                            }
                            else {
                                return false;
                            }
                        })
                    }
                    $.ajax({
                        url: "/api/VAPPLIANCE_DETAIL_INFORMATIONApi/Put/" + id,
                        type: "Put",
                        // async: false,
                        success: function (res) {
                            if (res.Code == 1) {
                                $.messager.alert('操作提示', "领取成功！", 'info');
                                $("#flexigridData").datagrid("reload");
                                $("#flexigridData").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert('操作提示', "领取失败！", 'info');
                            }
                        }
                    })
                }
            })
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
    }
    //选择方案
    function xuanzhefanan() {
        if (panduanlingqu()) {
            var arr = $('#flexigridData').datagrid('getSelections');
            window.location.href = "../VJIANDINGRENWU/Xuanzhefangan/" + arr[0].ID;
        }
    }

</script>
