@model Langben.DAL.VJIANDINGRENWU
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<div id="divQuery p5 ">
    <input type="hidden" name="UNDERTAKE_LABORATORYID" value="" />
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ORDER_NUMBER):
        </div>
        <div class="input_search-field">
            <input type='text' id='ORDER_NUMBER' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.APPLIANCE_NAME):
        </div>
        <div class="input_search-field">
            <input type='text' id='APPLIANCE_NAME' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.VERSION):
        </div>
        <div class="input_search-field">
            <input type='text' id='VERSION' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.FACTORY_NUM):
        </div>
        <div class="input_search-field">
            <input type='text' id='FACTORY_NUM' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("CERTIFICATE_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ORDER_STATUS):
        </div>
        <div class="input_search-field">
            <select id="ORDER_STATUSDDL_String" name="ORDER_STATUSDDL_String">
                <option value="">请选择</option>
                <option value="已领取">已领取</option>
                <option value="实验完成">实验完成</option>
                <option value="已分配">已分配</option>
                <option value="待入库">待入库</option>
                <option value="器具已入库">器具已入库</option>
                <option value="器具已领取">器具已领取</option>
            </select>
            @*@Html.DropDownList("ORDER_STATUS", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "ORDER_STATUS"), "请选择", new { id = "ORDER_STATUS", @class = "easyui-combobox" })*@
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.INSPECTION_ENTERPRISE):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("INSPECTION_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ISOVERDUE):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("ISOVERDUE", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "ISOVERDUE"), "请选择", new { id = "ISOVERDUE", @class = "easyui-combobox" })
        </div>
    </div>
    <div class='input_search input_search-btn'>
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>

@*弹窗*@
<div id="w" class="easyui-dialog" title="超期原因" data-options="iconCls:'icon-save'" style="width:700px;height:400px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <input type="hidden" id="chaoqiid" value="" />
        <textarea name="OVERDUE" style="width:100%;height:100%;" id="OVERDUE"></textarea>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="chaoqibaocun()" style="width:80px">Ok</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:$('#w').dialog('close')" style="width:80px">Cancel</a>
        </div>
    </div>
</div>
<div id="d" class="easyui-dialog" title="退回" data-options="iconCls:''" style="width:600px;height:400px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <input type="hidden" id="tuihuiid" value="" />
        <label><input type="radio" name="tuihuiaa" value="1" />实验室分错</label>
        <label>
            <input type="radio" name="tuihuiaa" value="2" />器具不能检测
        </label>
        <textarea name="STORAGEINSTRUCTIONS" style="width:560px;height:260px;" id="STORAGEINSTRUCTIONS" placeholder="请填写退回原因"></textarea>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="tuihuibaocun()" style="width:80px">确定</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:$('#d').dialog('close')" style="width:80px">取消</a>
        </div>
    </div>
</div>
@*************************@
<br style="clear: both;" />
<script type="text/javascript">
    $(function () {
        $("#w").dialog('close');
        $("#d").dialog('close');
    })
    //追加超期原因
    function chaoqi() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            if (arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.已领取.ToString()" || arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.试验完成.ToString()" || arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.待入库.ToString()" || arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.器具已入库.ToString()" || arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.器具已领取.ToString()") {
                if (arr[0].CREATETIME != null) {
                    var datea = dateConvert(arr[0].CREATETIME);
                    var tame = formatterDate(new Date());
                    var distance = shijianjishuan(datea, tame);
                    if (distance >= 15) {
                        $("#w").dialog('open');
                        $("#chaoqiid").val(arr[0].ID);
                        return true;
                    }
                    else {
                        $.messager.alert('操作提示', '请选择超期数据!', 'warning');
                    }
                }
                else {
                    $.messager.alert('操作提示', '请选择超期数据!', 'warning');
                }
            }
            else {
                $.messager.alert('操作提示', '请选择超期数据!', 'warning');
            }
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');

        }

    }
    //超期原因保存
    function chaoqibaocun() {
        var arr = {
            ID: $("#chaoqiid").val(),
            OVERDUE: $("#OVERDUE").val(),
            ISOVERDUE: "是"
        }
        $.ajax({
            url: "/api/VAPPLIANCE_DETAIL_INFORMATIONApi/EditField",
            type: "Post",
            data: arr,
            // async: false,
            success: function (res) {
                if (res.Code == 1) {
                    $.messager.alert('操作提示', "追加超期成功！", 'info');
                    $("#flexigridData").datagrid("reload");
                    $("#flexigridData").datagrid("clearSelections");
                    $('#w').dialog('close');
                }
                else {
                    $.messager.alert('操作提示', "追加超期失败！", 'error');
                }
            }
        })
    }
    //退回
    function tuihui() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            if (arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.已分配.ToString()" || arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.已领取.ToString()") {
                $("#d").dialog('open');
                $("#tuihuiid").val(arr[0].ID);
                return true;
            }
            else {
                $.messager.alert('操作提示', "退回数据有误！", 'info');
            }
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            return false;
        }

    }

    //退回保存
    function tuihuibaocun() {
        var tuihu = $("input[name='tuihuiaa']:checked").val();
        var STORAGEINSTRUCTIONS = null;
        var RETURN_INSTRUCTIONS = null;
        var ORDER_STATUS = null;
        var RETURNREASON = null;
        var is = false;
        if (tuihu == "1") {
            RETURN_INSTRUCTIONS = $("#STORAGEINSTRUCTIONS").val();
            ORDER_STATUS = "@Common.ORDER_STATUS.已退回.ToString()";
            RETURNREASON = "实验室分错";
            is = true;
        }
        else if (tuihu == "2") {
            STORAGEINSTRUCTIONS = $("#STORAGEINSTRUCTIONS").val();
            ORDER_STATUS = "@Common.ORDER_STATUS.待入库.ToString()";
            RETURNREASON = "器具不能检测";
            is = true;
            if (STORAGEINSTRUCTIONS == '') {
                alert("请填写原因");
                return;
            }
        }

        if (is) {
            //实例化一个委托单对象
            var entity = new Object();
            debugger;
            var arr = { ID: $("#tuihuiid").val() };
            var arrt = $('#flexigridData').datagrid('getSelections');

            //entity.ID =arrt[0].ORDER_NUMBER;
            entity.APPLIANCE_DETAIL_INFORMATION = arr,
            entity.RETURN_INSTRUCTIONS = RETURN_INSTRUCTIONS,
            entity.STORAGEINSTRUCTIONS = STORAGEINSTRUCTIONS,
            entity.ORDER_STATUS = ORDER_STATUS,
            entity.RETURNREASON = RETURNREASON,
            $.ajax({
                url: "/api/APPLIANCE_LABORATORYApi/EditSENDBACK",
                type: "Post",
                data: entity,
                // async: false,
                success: function (res) {
                    $.messager.alert('操作提示', res.Message, 'info');
                    if (res.Code == 1) {

                        $("#flexigridData").datagrid("reload");
                        $("#flexigridData").datagrid("clearSelections");
                        $('#d').dialog('close');
                    }

                }
            })
        }
        else {
            $.messager.alert('操作提示', "请选择退回原因！", 'info');
        }
    }
</script>




<script type="text/javascript" language="javascript">
    function shijianjishuan(datea, tame) {
        var sDate = new Date(datea);
        var eDate = new Date(tame);
        var fen = ((eDate.getTime() - sDate.getTime()) / 1000) / 60;
        var distance = parseInt(fen / (24 * 60)); //相隔distance天
        return distance;
    }
    $(function () {
        //&&&&&&&&&&&&&&&&&&&获取当前时间&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
        formatterDate = function (date) {
            var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
            var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : "0"
            + (date.getMonth() + 1);
            return date.getFullYear() + '-' + month + '-' + day;
        };
        var tame = formatterDate(new Date());

        //&&&&&&&&&&&&&&&&&&&获取当前时间&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
        $('#flexigridData').datagrid({
            title: '检定任务', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            // fit:true,
            collapsible: true,
            url: '../VJIANDINGRENWU/GetData', //获取数据的url
            sortName: 'EQUIPMENT_STATUS_VALUUMN',
            sortOrder: 'asc',
            rowStyler: function (value, row, index) {
                if (row.ISRECEIVE != "是") {
                    if (row.CREATETIME != null) {
                        var datea = dateConvert(row.CREATETIME);
                        var distance = shijianjishuan(datea, tame);
                        if (distance >= 15) {
                            return 'background-color:#E63F00;';
                        }
                        else if (distance >= 11) {
                            return 'background-color:#EEEE00;';
                        }
                    }
                }
            },
            toolbar: [
                 {
                     text: '领取',
                     iconCls: 'icon-ok',
                     handler: function () {
                         return lingqu();
                     }
                 },
                  {
                      text: '选择方案',
                      iconCls: 'icon-search',
                      handler: function () {
                          return xuanzhefanan();
                      }
                  },
                   {
                       text: '器具信息修改',
                       iconCls: 'icon-edit',
                       handler: function () {
                           return UpdateView();
                       }
                   },
                    {
                        text: '追加超期原因',
                        iconCls: 'icon-add',
                        handler: function () {
                            return chaoqi();
                        }
                    },
            {
                text: '退回',
                iconCls: 'icon-back',
                handler: function () {
                    return tuihui();
                }
            },
             {
                 text: '查看原始记录',
                 iconCls: 'icon-detail',
                 handler: function () {
                     return getView();
                 }
             }
             ,
             {
                 text: '导出数据',
                 iconCls: 'icon-detail',
                 handler: function () {
                     return flexiExport();
                 }
             }
            ],
            columns: [[
                    { field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', width: 64, hidden: true }
                    , { field: 'ORDER_NUMBER', title: '@Html.DisplayNameFor(model => model.ORDER_NUMBER)', width: 100 }
                    , { field: 'REPORTNUMBER', title: '@Html.DisplayNameFor(model => model.REPORTNUMBER)', width: 100 }
                    , { field: 'ISRECEIVE', title: '是否可以领取', align: 'center', width: 80 }
                    , { field: 'APPLIANCE_NAME', title: '@Html.DisplayNameFor(model => model.APPLIANCE_NAME)', align: 'center', width: 100 }
                    , { field: 'VERSION', title: '@Html.DisplayNameFor(model => model.VERSION)', align: 'center', width: 90 }
                    , { field: 'FACTORY_NUM', title: '@Html.DisplayNameFor(model => model.FACTORY_NUM)', align: 'center', width: 100 }
                    , { field: 'CERTIFICATE_ENTERPRISE', title: '@Html.DisplayNameFor(model => model.CERTIFICATE_ENTERPRISE)', align: 'center', width: 100 }
                    , { field: 'CUSTOMER_SPECIFIC_REQUIREMENTS', title: '@Html.DisplayNameFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)', align: 'center', width: 100 }
                    , { field: 'APPLIANCE_PROGRESS', title: '@Html.DisplayNameFor(model => model.APPLIANCE_PROGRESS)', align: 'center', width: 70 }
                    , { field: 'ORDER_STATUS', title: '@Html.DisplayNameFor(model => model.ORDER_STATUS)', align: 'center', width: 70 }
                    , {
                        field: 'CREATETIME', title: '@Html.DisplayNameFor(model => model.CREATETIME)', align: 'center', width: 80, formatter: function (value, row, index) {
                            if (value) {
                                return dateConvert(value);
                            }
                        }
                    }
                    , { field: 'OVERDUE', title: '@Html.DisplayNameFor(model => model.OVERDUE)', align: 'center', width: 55 }
                    , { field: 'STATE', title: '@Html.DisplayNameFor(model => model.STATE)', align: 'center', width: 55 }
                    , { field: 'REPORTSTATUS', title: '@Html.DisplayNameFor(model => model.REPORTSTATUS)', align: 'center', width: 55 }
                    , { field: 'APPROVAL', title: '@Html.DisplayNameFor(model => model.APPROVAL)', align: 'center', width: 111 }
                    , { field: 'INSPECTION_ENTERPRISE', title: '@Html.DisplayNameFor(model => model.INSPECTION_ENTERPRISE)', width: 64 }

            ]],
            pagination: true,
            rownumbers: true

        });


        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });
    //查看原始记录
    function getView() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {

            var id = arr[0].ID;

            $.ajax({
                url: "/api/APPLIANCE_LABORATORYApi/ChaKan/" + id,
                type: "Post",

                // async: false,
                success: function (res) {
                    if (res.Code == 1) {

                        $("#flexigridData").datagrid("clearSelections");
                        window.location.href = res.Message;
                    }
                    else {
                        $.messager.alert('操作提示', res.Message, 'error');
                    }
                }
            })

        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
    }

    //“查询”按钮，弹出查询框
    function flexiQuery() {
        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "ORDER_NUMBER&" + $("#ORDER_NUMBER").val() + "^";
        search += "APPLIANCE_NAME&" + $("#APPLIANCE_NAME").val() + "^";
        search += "VERSION&" + $("#VERSION").val() + "^";
        search += "FACTORY_NUM&" + $("#FACTORY_NUM").val() + "^";
        search += "CERTIFICATE_ENTERPRISE&" + $('#CERTIFICATE_ENTERPRISE').combobox('getValue') + "^";
        search += "ORDER_STATUSDDL_String&" + $('#ORDER_STATUSDDL_String').val() + "^";
        search += "INSPECTION_ENTERPRISE&" + $('#INSPECTION_ENTERPRISE').combobox('getValue') + "^";
        if ($('#ISOVERDUE').combobox('getValue') == "是") {
            search += "ISOVERDUE&" + $('#ISOVERDUE').combobox('getValue') + "^";
        }
        else {
            search += "ISOVERDUE&" + "" + "^";
        }
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    //“导出”按钮     在6.0版本中修改
    //function flexiExport() {

    //    //将查询条件按照分隔符拼接成字符串
    //    var search = "";
    //    var rows = $('#flexigridData').datagrid('getSelections');
    //    if (rows.length == 0) {
    //        $.messager.alert('操作提示', '请选择数据!', 'warning');
    //        return false;
    //    } else {
    //        for (var i = 0; i < rows.length; i++) {
    //            search += rows[i].ID + ",";
    //        }
    //    }
    //    $.post('../VRUKU/GetData2',
    //        {
    //            sortName: $('#flexigridData').datagrid('options').sortName,
    //            sortOrder: $('#flexigridData').datagrid('options').sortOrder,
    //            search: search
    //        }, function (res) {
    //            window.location.href = res;
    //        });
    //};

    //判断是否为领取的器具
    function panduanlingqu() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            if (arr[0].ORDER_STATUS == null) {
                $.messager.alert('操作提示', '请选择已领取的数据!', 'warning');
                return false;

            }
            else {
                if (arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.已领取.ToString()" &&
                    arr[0].REPORTSTATUS == null ||
                    arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.已领取.ToString()" &&
                    arr[0].REPORTSTATUS == "@Common.REPORTSTATUS.审核驳回.ToString()" ||
                    arr[0].ORDER_STATUS == "@Common.ORDER_STATUS.已领取.ToString()" &&
                    arr[0].REPORTSTATUS == "@Common.REPORTSTATUS.批准驳回.ToString()") {
                    return true;
                }
                else {
                    $.messager.alert('操作提示', '此数据不能操作，请选择正确的数据!', 'warning');
                    return false;
                }
            }
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            return false;
        }
    }

    //判断是否选择一条数据
    function panduanyitiao() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            return arr;
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            return arr;
        }

    }
    //领取
    function lingqu() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length >= 1) {
            var id = "";
            var APPLIANCECOLLECTIONSATE = "";
            var is = false;
            var res2 = false;
            $.messager.confirm('操作提示', "确认领取这 " + arr.length + " 项吗？", function (r) {
                if (r) {
                    for (var i = 0; i < arr.length; i++) {
                        id += arr[i].ID + ",";
                    }
                    var arr2 = {
                        APPLIANCE_DETAIL_INFORMATIONID: id,
                    }
                    $.ajax({
                        url: "/api/APPLIANCE_LABORATORYApi/LINGQU",
                        type: "Post",
                        data: arr2,
                        // async: false,
                        success: function (res) {
                            if (res.Code == 1) {
                                $.messager.alert('操作提示', "领取成功！", 'info');
                                $("#flexigridData").datagrid("reload");
                                $("#flexigridData").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert('操作提示', "领取失败！", 'error');
                            }
                        }
                    })
                }
            })
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
    }

    //选择方案
    function xuanzhefanan() {
        if (panduanlingqu()) {
            var arr = $('#flexigridData').datagrid('getSelections');
            window.location.href = "../VJIANDINGRENWU/Xuanzhefangan/" + arr[0].ID;
        }
    }

    //器具修改
    function UpdateView() {
        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length >= 1) {
            window.location.href = "../VJIANDINGRENWU/QiJuXiuGai/" + arr[0].ID;
        }
        else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
    }

    //“导出”按钮     在6.0版本中修改
    function flexiExport() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "ORDER_NUMBER&" + $("#ORDER_NUMBER").val() + "^";
        search += "APPLIANCE_NAME&" + $("#APPLIANCE_NAME").val() + "^";
        search += "VERSION&" + $("#VERSION").val() + "^";
        search += "FACTORY_NUM&" + $("#FACTORY_NUM").val() + "^";
        search += "CERTIFICATE_ENTERPRISE&" + $('#CERTIFICATE_ENTERPRISE').combobox('getValue') + "^";
        search += "ORDER_STATUSDDL_String&" + $('#ORDER_STATUSDDL_String').val() + "^";
        search += "INSPECTION_ENTERPRISE&" + $('#INSPECTION_ENTERPRISE').combobox('getValue') + "^";
        if ($('#ISOVERDUE').combobox('getValue') == "是") {
            search += "ISOVERDUE&" + $('#ISOVERDUE').combobox('getValue') + "^";
        }
        else {
            search += "ISOVERDUE&" + "" + "^";
        };

        $.post('../VJIANDINGRENWU/GetData2',
            {
                search: search
            }, function (res) {
                window.location.href = res;
            });
    };
</script>
