@model Langben.App.Models.PREPARE_SCHEMEShow
@{
    Layout = "~/Views/Shared/AppCreate.cshtml";
}

<fieldset>
    
    <div class="input_search">
        <div class="input_search-label">
            证书编号：
        </div>
        <div class="input_search-field">
            @if (Model.REPORTNUMBER != null)
{
    <p class="static">
        @Model.REPORTNUMBER
    </p>
}
            <input type="hidden" name="REPORTNUMBER" value="@Model.REPORTNUMBER" id="REPORTNUMBER" />
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="width:800px">
        <h4 class="b-title">试验方案制定</h4>
        <div class="clearfix"></div>
        <div class="input_search">
            <div class="input_search-label">
               
                    选择方案模板   ：
            </div>
            <div class="input_search-field" style="width:400px">
                <table>
                    <tr>
                        <td width="100"><a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="showModalOnly('SCHEMEID', '../../SCHEME/Selected');">选择模版</a>
<span id="checkSCHEMEID">
</span>
@Html.HiddenFor(model => model.SCHEMEID)</td>
                        <td><div id="checkSCHEMEID" style="display:inline">
    @if (Model != null)
    {
        if (null != Model.SCHEMEID)
        {
            <table id="@Model.SCHEMEID"
                   class="deleteStyle">
                <tr>

                    <td>
                        @Model.SCHEMENAME
                    </td>
                    <td>
                        <img alt="删除" title="点击删除" onclick="deleteTable('@Model.SCHEMEID','SCHEMEID');" src="../../../Images/deleteimge.png" />
                    </td>
                </tr>
            </table>
        }
    }
</div></td>
                    </tr>
                </table>
                
               
            </div>
        </div>
        
        @Html.HiddenFor(model => model.SCHEMEID)
        <div class="clearfix"></div><br />
        @if (ViewBag.CERTIFICATE_CATEGORY == "检定")
{
    <h4 class="b-title">被检器具主要参数</h4>
}
else if (ViewBag.CERTIFICATE_CATEGORY == "校准")
{
            <b>被校器具主要参数</b>
        }

        <div class="clearfix"></div>
        <div class="input_search">
            <div class="input_search-label">
                <span style="color:#F00">*</span>器具名称：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" value="@Model.APPLIANCE_DETAIL_INFORMATIONShows.APPLIANCE_NAME" disabled="disabled" />
            </div>
        </div>
        <div class="input_search">
            <div class="input_search-label">
                <span style="color:#F00">*</span>器具型号：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" value="@Model.APPLIANCE_DETAIL_INFORMATIONShows.VERSION" disabled="disabled" />
            </div>
        </div>
        <div class="input_search">
            <div class="input_search-label">
                器具规格：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" value="@Model.APPLIANCE_DETAIL_INFORMATIONShows.FORMAT" disabled="disabled" />
            </div>
        </div>
        <div class="input_search">
            <div class="input_search-label">
                @*<span style="color:#F00">*</span>*@出厂编号：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" value="@Model.APPLIANCE_DETAIL_INFORMATIONShows.FACTORY_NUM" disabled="disabled" />
            </div>
        </div>
        <div class="input_search">
            <div class="input_search-label">
                <span style="color:#F00">*</span>准确度等级：
            </div>
            @if (Model.ACCURACY_GRADE != null)
            {
                <div class="input_search-field">
                    <input type="text" name="ACCURACY_GRADE" id="ACCURACY_GRADE" value="@Model.ACCURACY_GRADE" />
                </div>
            }
            else
            {
                <div class="input_search-field">
                    <input type="text" name="ACCURACY_GRADE" id="ACCURACY_GRADE" value="/" />
                </div>
            }

        </div>
        <div class="input_search">
            <div class="input_search-label">
                @*<span style="color:#F00">*</span>*@制造单位：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" value="@Model.APPLIANCE_DETAIL_INFORMATIONShows.MAKE_ORGANIZATION" disabled="disabled" />
            </div>
        </div>
        @if (ViewBag.UNDERTAKE_LABORATORY_NAME == Common.LABORATORYNAME.电能.ToString())
        {
            <div class="input_search" id="diannengmaicong">
                <div class="input_search-label">
                    脉冲常数：
                </div>
                <div class="input_search-field">
                    <input type="text" name="PULSE_CONSTANT" id="PULSE_CONSTANT" value="@Model.ACCURACY_GRADE" />
                </div>
            </div>
        }
        @if (ViewBag.UNDERTAKE_LABORATORY_NAME == Common.LABORATORYNAME.电能.ToString() || ViewBag.UNDERTAKE_LABORATORY_NAME == Common.LABORATORYNAME.互感器.ToString())
        {
            <div class="input_search" id="diannengeding">
                <div class="input_search-label">
                    额定频率：
                </div>
                @if (Model.RATED_FREQUENCY != null)
                {
                    <div class="input_search-field">
                        <input type="text" name="RATED_FREQUENCY" id="RATED_FREQUENCY" value="@Model.RATED_FREQUENCY" />Hz
                    </div>
                }
                else
                {
                    <div class="input_search-field">
                        <input type="text" name="RATED_FREQUENCY" id="RATED_FREQUENCY" value="50" />Hz
                    </div>
                }

            </div>
        }
        @*<div class="input_search" id="huganqiwaijie">
                <div class="input_search-label">
                    外接电阻值：
                </div>
                <div class="input_search-field">
                    <input type="text" name="EXTERNAL_RESITANCE_VALUE" id="EXTERNAL_RESITANCE_VALUE" />
                </div>
            </div>*@
            <div class="clearfix mt10"></div>
        <h4 class="b-title">其他信息</h4>
        <div class="clearfix"></div>
        <div class="input_search">
            <div class="input_search-label">
                环境温度：
            </div>
            <div class="input_search-field">
                <input type="text" value="@Model.TEMPERATURE" id="TEMPERATURE" />℃
            </div>
        </div>
        <div class="input_search">
            <div class="input_search-label">
                相对湿度：
            </div>
            <div class="input_search-field">
                <input type="text" value="@Model.HUMIDITY" id="HUMIDITY" />％
            </div>
        </div><br />
        <div class="input_search">
            @if (ViewBag.CERTIFICATE_CATEGORY == "检定")
            {
                <div class="input_search-label">
                    <span style='color:#F00'>*</span>检定地点：
                </div>
            }
            else if (ViewBag.CERTIFICATE_CATEGORY == "校准")
            {
                <div class="input_search-label">
                    <span style='color:#F00'>*</span>校准地点：
                </div>
            }
            @if (ViewBag.ACCEPT_ORGNIZATION == "华北电力科学研究院有限责任公司")
            {
                <div class="input_search-field">
                    @Html.DropDownList("CHECK_PLACE", Models.SysFieldModels.GetSysField("JianLiFangAn", "CHECK_PLACE"), "请选择", new { id = "CHECK_PLACE", @class = "easyui-combobox" })
                </div>
            }
            else if (ViewBag.ACCEPT_ORGNIZATION == "冀北电力有限公司计量中心")
            {
                <div class="input_search-field">
                    @Html.DropDownList("CHECK_PLACE", Models.SysFieldModels.GetSysField("JianLiFangAn", "CHECK_PLACE2"), "请选择", new { id = "CHECK_PLACE", @class = "easyui-combobox" })
                </div>
            }

        </div>
        <div class="input_search">
            @*检定日期*@
            @if (ViewBag.CERTIFICATE_CATEGORY == "检定")
            {
                <div class="input_search-label">
                    <span style='color:#F00'>*</span>检定日期：
                </div>
            }
            else if (ViewBag.CERTIFICATE_CATEGORY == "校准")
            {
                <div class="input_search-label">
                    <span style='color:#F00'>*</span>校准日期：
                </div>
            }
            <div class="input_search-field">
                <input type="text" id="CALIBRATION_DATE" value="@Model.CALIBRATION_DATE" />
            </div>
        </div>
        <div class="input_search">
            <div class="input_search-label">
                <span style='color:#F00'>*</span>核验员：
            </div>
            <div class="input_search-field">
                @Html.DropDownList("DETECTERID", Models.SysPersonModels.GetMyName(), "请选择", new { id = "DETECTERID", @class = "easyui-combobox" })
            </div>
        </div><br style="clear:both;" />
        <div class="input_search">
            <div class="input_search-label">
                其他：
            </div>
            @if (Model.OTHER != null)
            {
                <div class="input_search-field">
                    <input type="text" value="@Model.OTHER" id="OTHER" />
                </div>
            }
            else
            {
                <div class="input_search-field">
                    <input type="text" value="/" id="OTHER" />
                </div>
            }

        </div>
        <table id="biaozhuizhuangzi"></table><br style="clear:both;" />
        <table id="biaozhuiqi"></table><br style="clear:both;" />
        @*弹窗*@
        <h4 class="b-title">标准器</h4>
        <div class="input_search">
            <div class="input_search-label">

                选择器具设备   ：
            </div>
            <div class="input_search-field" style="width:400px">
                <table>
                    <tr>
                        <td width="100">
                            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="showModalMany('METERING_STANDARD_DEVICEID', '../../METERING_STANDARD_DEVICE/IndexSef/@ViewBag.UNDERTAKE_LABORATORY_NAME');">选择测试器具</a>
                            <div class="editor-field">
                                <div id="checkMETERING_STANDARD_DEVICEID">

                                    @if (Model != null && !string.IsNullOrWhiteSpace(Model.METERING_STANDARD_DEVICEID))
                                    {
                                        foreach (var item40 in Model.METERING_STANDARD_DEVICEID.Split('^'))
                                        {
                                            string[] it = item40.Split('&');
                                            if (it != null && it.Length == 2 && !string.IsNullOrWhiteSpace(it[0]) && !string.IsNullOrWhiteSpace(it[1]))
                                            {

                                                <table id="@item40"
                                                       class="deleteStyle">
                                                    <tr>
                                                        <td>
                                                            <img alt="删除" title="点击删除" onclick="deleteTable('@item40','METERING_STANDARD_DEVICEID');" src="../../../Images/deleteimge.png" />
                                                        </td>
                                                        <td>
                                                            @it[1]
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                        }
                                    }
                                    <input type="hidden" value="@Model.METERING_STANDARD_DEVICEID" name="METERING_STANDARD_DEVICEIDOld" id="METERING_STANDARD_DEVICEIDOld" />
                                    @Html.HiddenFor(model => model.METERING_STANDARD_DEVICEID)
                                </div>
                            </div>
                    </tr>
                </table>


            </div>
        </div>
        @*************************@
        <h4 class="b-title"></h4><br /><br />
        <div class="input_search">
            <div class="input_search-label">

            </div>
            <div class="input_search-field">
                <a class="easyui-linkbutton"  onclick="javascript: window.location.href = '/VJIANDINGRENWU/Index';" >返回</a>
                <a   class="easyui-linkbutton" onclick="xiayibu()">下一步</a>
                <a  class="easyui-linkbutton" onclick="baochun()"  >保存下一步</a>
            </div>
        </div>
        
    </div>
</fieldset>
<script type="text/javascript">

    $(function () {
        //添加日期控件
        $("#CALIBRATION_DATE").datebox({ "required": true });//true为必填项
        //核验员数据加载
        $("#DETECTERID").combobox('select', "@Model.DETECTERID");
        //校准地点数据加载
        $("#CHECK_PLACE").combobox('select', "@Model.CHECK_PLACE");
        //************************
        //输入框的禁用
        if ("@ViewBag.REPORTSTATUS" == "@Common.REPORTSTATUS.审核驳回.ToString()" || "@ViewBag.REPORTSTATUS" == "@Common.REPORTSTATUS.批准驳回.ToString()" || "@ViewBag.REPORTSTATUS" == "") {
            return true;
        }
        else {
            $('#xuanzhefangandiv').find(":text,:selected,select,:radio,textarea,:checked,:password").each(function () {
                $(this).attr("disabled", true);
            });
        }
    })

    //下一步
    function xiayibu() {
        window.location.href = "/PREPARE_SCHEME/Edit?ID=" + "@Model.ID";
    }
    //保存下一步
    function baochun() {
        var arr = new Object();
        arr.SCHEMEID = $("#SCHEMEID").val();//其他
        arr.REPORTNUMBER = $("#REPORTNUMBER").val();//报告编号
        arr.ACCURACY_GRADE = $("#ACCURACY_GRADE").val();//准确度等级
        arr.PULSE_CONSTANT = $("#PULSE_CONSTANT").val();//脉冲常数
        arr.RATED_FREQUENCY = $("#RATED_FREQUENCY").val();//额定频率
        arr.TEMPERATURE = $("#TEMPERATURE").val();//环境温度
        arr.HUMIDITY = $("#HUMIDITY").val();//相对湿度
        arr.CHECK_PLACE = $('#CHECK_PLACE').combobox('getValue');//检定/校准地点
        arr.CALIBRATION_DATE = $('#CALIBRATION_DATE').datebox('getValue');//检定/校准日期
        arr.DETECTERID = $('#DETECTERID').combobox('getValue');//核验员
        arr.RATED_FREQUENCY = $("#RATED_FREQUENCY").val();//额定频率 
        arr.OTHER = $("#OTHER").val();//其他     
        arr.METERING_STANDARD_DEVICEID = $("#METERING_STANDARD_DEVICEID").val();//新的标准器id
        arr.METERING_STANDARD_DEVICEIDOld = $("#METERING_STANDARD_DEVICEIDOld").val();//旧的标准器id
        arr.ID = "@Model.ID";
        if (arr.SCHEMEID=='') {
            $.messager.alert('操作提示', "请选择方案模板！", 'error');
            return;
        }
        if (ifshuju(arr)) {
            $.ajax({
                url: "/api/PREPARE_SCHEMEApi/EditInst",
                type: "Put",
                dataType: "json",
                data: arr,
                success: function (data) {
                    if (data.Code == 1) {
                        window.location.href = "/PREPARE_SCHEME/Edit?ID=" + data.Id;///PREPARE_SCHEME/Edit?ID=1609301400577124277db6c732e23
                    }
                    else {
                        $.messager.alert('操作提示', "保存下一步失败！", 'error');
                    }
                }
            });
        }      
    }
    //数据判断
    function ifshuju(arr) {
        var zhi = "";
        if (isNull(arr.ACCURACY_GRADE)) {
            zhi += "准确度等级不能为空！<br>";
        }
        if (isNull(arr.CHECK_PLACE)) {
            zhi += "检定/校准地点不能为空！<br>";
        }
        if (isNull(arr.CHECK_PLACE)) {
            zhi += "检定/校准地点不能为空！<br>";
        }
        if (isNull(arr.CALIBRATION_DATE)) {
            zhi += "检定/校准日期不能为空！<br>";
        }
        if (isNull(arr.DETECTERID)) {
            zhi += "核验员不能为空！<br>";
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            return true;
        }
    }
    /*
用途：检查输入字符串是否为空或者全部都是空格
输入：str
返回：
如果全是空返回true,否则返回false
*/
    function isNull(str) {
        if (str == "") return true;
        var regu = "^[ ]+$";
        var re = new RegExp(regu);
        return re.test(str);
    }
</script>
<script type="text/javascript">
    $(function () {
        if ("@ViewBag.UNDERTAKE_LABORATORY_NAME" == "@Common.LABORATORYNAME.电能.ToString()") {
            //标准装置绑定
            $('#biaozhuizhuangzi').datagrid({
                title: '标准装置', //列表的标题
                iconCls: 'icon-site',
                width: 'auto',
                height: 'auto',
                //nowrap: false,
                striped: true,
                collapsible: true,
                //url: '../VJIANDINGRENWU/GetData', //获取数据的url
                sortName: 'ID',
                sortOrder: 'desc',
                idField: 'ID',
                toolbar: [
                     {
                         text: '+',
                         iconCls: 'icon-search',
                         handler: function () {
                             return biaozhunzhuangzi();
                         }
                     }
                ],
                columns: [[

                        { field: 'ID', title: '名称', width: 64 }
                        , { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
                        , { field: 'ORDER_NUMBER', title: '不确定度/准确度等级/最大允许误差', width: 64 }
                        , { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
                        , { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
                        , { field: 'A', title: '操作', width: 64 }
                ]],
            })
            //标准器绑定
            $('#biaozhuiqi').datagrid({
                title: '标准器', //列表的标题
                iconCls: 'icon-site',
                width: 'auto',
                height: 'auto',
                //nowrap: false,
                striped: true,
                collapsible: true,
                //url: '../VJIANDINGRENWU/GetData', //获取数据的url
                sortName: 'ID',
                sortOrder: 'desc',
                idField: 'ID',
                toolbar: [
                     {
                         text: '+',
                         iconCls: 'icon-search',
                         handler: function () {
                             return biaozhunqi();
                         }
                     },
                      {
                          text: '删除',
                          iconCls: 'icon-search',
                          handler: function () {
                              return lingqu();
                          }
                      }
                ],
                columns: [[

                        { field: 'ID', title: '名称', width: 64 }
                        , { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
                ]],
            })
        }
    });
    //标准器的选择
    function biaozhunqi() {
        $('#w').window('close')
        //标准器弹窗页面添加
        $('#qitianjia').datagrid({
            title: '计量标准器列表', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            //url: '../VJIANDINGRENWU/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            columns: [[
                { field: 'ID', title: '类别', width: 64 }
                , { field: 'ID', title: '名称', width: 64 }
				, { field: 'ORDER_NUMBER', title: '出厂编号', width: 64 }
                , { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
                , { field: 'ORDER_NUMBER', title: '不确定度/准确度等级/最大允许误差', width: 64 }
                , { field: 'ORDER_NUMBER', title: '检定/校准证书编号', width: 64 }
                , { field: 'ORDER_NUMBER', title: '有效期至', width: 64 }
            ]],
        })
        $("#tanchuandivqi").show();
        $('#w').window('open');
        $("#tanchuandivzhuangzi").hide();
    }
   
</script>

