
@{
    Layout = "~/Views/Shared/AppCreate.cshtml";
}

@using (Html.BeginForm("", "api/PREPARE_SCHEMEApi/Post"))
{
    <fieldset>
        <legend>
            <label>报告证书类别</label>
            <input class="a2 f2" type="button" onclick="BackList('VJIANDINGRENWU')" value="返回" />
        </legend>
        <div>
            <div class="input_search">
                <div class="input_search-label">
                    报告类别:
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("REPORT_CATEGORY", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "REPORT_CATEGORY"), "请选择", new { id = "REPORT_CATEGORY_String" })
                </div>
                <div class="input_search-label">
                    证书类别:
                </div>
                <div class="input_search-field">
                    @*onchange="zhengshuxuanzhe()*@
                    @Html.DropDownList("CERTIFICATE_CATEGORY", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "CERTIFICATE_CATEGORY"), "请选择", new { id = "CERTIFICATE_CATEGORY_String" })
                </div>
            </div>

            <div class="input_search" id="cnas" style="display:none">
                <div class="input_search-label">
                    CNAS:
                </div>
                <div class="input_search-field">
                    Yes: <input type="radio" id="cnasyes" name="CNAS" onclick="zizhiget(this)" value="Yes" atps="cnasyes" />
                    No: <input type="radio" id="cnasno" name="CNAS" onclick="zizhiget(this)" value="No" atps="cnasno" />
                </div>

            </div>
            <div class="input_search" id="jianding" style="display:none">
                <div class="input_search-label">
                    检定授权:
                </div>
                <div class="input_search-field">
                    Yes: <input type="radio" id="jiandingyes" name="CERTIFICATION_AUTHORITY" onclick="zizhiget(this)" value="Yes" atps="jiandingyes" />
                    No: <input type="radio" id="jiandingno" name="CERTIFICATION_AUTHORITY" onclick="zizhiget(this)" value="No" atps="jiandingno" />
                </div>
            </div>
            <div class="input_search" id="kongzhi" style="display:none">
                <div class="input_search-label">
                    控制编号:
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("CONTROL_NUMBER", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "CONTROL_NUMBER"), "请选择", new { id = "CONTROL_NUMBER_String" })
                </div>
            </div>
            <div class="input_search">
                <div class="input_search-label">
                    资质:
                </div>
                <div class="input_search-field">
                    <select id="QUALIFICATIONS" name="QUALIFICATIONS">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div><br />
            <div class="input_search">
                <input type="button" value="报告上传" onclick="shangchuan()" />
                <input type="submit" value="建立方案" />
            </div>
        </div>
        <input type="hidden" value="" id="ACCEPT_ORGNIZATION_HIDDEN" />
        <input type="hidden" name="APPLIANCE_LABORATORYID" id="APPLIANCE_LABORATORYID_String" value="@ViewBag.APPLIANCE_LABORATORYID" />
        <input type="hidden" name="ID" id="ID_String" value="@ViewBag.Id" />
    </fieldset>
}
<script type="text/javascript">
    //报告上传
    function shangchuan() {
        var arr = {
            REPORT_CATEGORY: $("#REPORT_CATEGORY_String").val(),
            CERTIFICATE_CATEGORY: $("#CERTIFICATE_CATEGORY_String").val(),
            CNAS: $("input[name='CNAS']:checked").val(),
            CERTIFICATION_AUTHORITY: $("input[name='CERTIFICATION_AUTHORITY']:checked").val(),
            CONTROL_NUMBER: $("#CONTROL_NUMBER_String").val(),
            QUALIFICATIONS: $("#QUALIFICATIONS").val(),
            APPLIANCE_LABORATORYID: $("#APPLIANCE_LABORATORYID_String").val(),
            ID: $("#ID_String").val()
        }
        $.ajax({
            url: "/api/PREPARE_SCHEMEApi/Post",
            type: "Post",
            data: arr,
            dataType: "json",

            success: function (data) {
                if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                else if (data.Code == 1) {
                    var id = "@ViewBag.Id";
                    window.location.href = "/VJIANDINGRENWU/BaoGaoShangChuan/" + id + "|@ViewBag.APPLIANCE_DETAIL_INFORMATIONID";
                    return false;
                }
                else {
                    if ($.messager) {
                        $.messager.defaults.ok = '继续';
                        $.messager.defaults.cancel = '返回';

                        $.messager.confirm('操作提示', data.Message, function (r) {
                            if (!r) {
                                window.location.href = 'javascript:history.go(-1)';
                            }
                        });
                    }
                }


            }
        })
    }

    //重新绑定资质
    function zizhiget(arr) {
        var zhi = $(arr).attr("atps");
        var zhi2 = $("#ACCEPT_ORGNIZATION_HIDDEN").val();
        switch (zhi) {
            case "cnasyes":
                $("#kongzhi").show();
                if (zhi2 == "华北电力科学研究院有限责任公司") {
                    getCity($("#QUALIFICATIONS"));
                    $("<option></option>")
                               .val("本实验室获中国合格评定国家认可委员（CNAS）认可证书，证书号No.L0394")
                               .text("本实验室获中国合格评定国家认可委员（CNAS）认可证书，证书号No.L0394")
                               .appendTo($("#QUALIFICATIONS"));
                }
                else if (zhi2 == "冀北电力有限公司计量中心") {
                    getCity($("#QUALIFICATIONS"));
                    $("<option></option>")
                               .val("本实验室获中国合格评定国家认可委员（CNAS）认可证书，证书号No.L0394")
                               .text("本实验室获中国合格评定国家认可委员（CNAS）认可证书，证书号No.L0394")
                               .appendTo($("#QUALIFICATIONS"));
                }
                break;
            case "cnasyno":
                if (zhi2 == "华北电力科学研究院有限责任公司") {
                    getCity($("#QUALIFICATIONS"));
                    $("<option></option>")
                               .val("/")
                               .text("/")
                               .appendTo($("#QUALIFICATIONS"));
                }
                else if (zhi2 == "冀北电力有限公司计量中心") {
                    getCity($("#QUALIFICATIONS"));
                    $("<option></option>")
                                .val("/")
                               .text("/")
                               .appendTo($("#QUALIFICATIONS"));
                }
                break;
            case "jiandingyes":
                $("#kongzhi").hide();
                if (zhi2 == "华北电力科学研究院有限责任公司") {
                    getCity($("#QUALIFICATIONS"));
                    $("<option></option>")
                               .val("本单位获北京市质量技术监督局专项计量授权，证书编号：（京）法计（2012）006号")
                               .text("本单位获北京市质量技术监督局专项计量授权，证书编号：（京）法计（2012）006号")
                               .appendTo($("#QUALIFICATIONS"));
                }
                else if (zhi2 == "冀北电力有限公司计量中心") {
                    getCity($("#QUALIFICATIONS"));
                    $("<option></option>")
                               .val("本单位获河北市质量技术监督局专项计量授权，证书编号：（冀）法计（2014）D033号")
                               .text("本单位获河北市质量技术监督局专项计量授权，证书编号：（冀）法计（2014）D033号")
                               .appendTo($("#QUALIFICATIONS"));
                }
                break;
            case "jiandingno":
                $("#kongzhi").hide();
                if (zhi2 == "华北电力科学研究院有限责任公司") {
                    getCity($("#QUALIFICATIONS"));
                    $("<option></option>")
                               .val("/")
                               .text("/")
                               .appendTo($("#QUALIFICATIONS"));
                }
                else if (zhi2 == "冀北电力有限公司计量中心") {
                    getCity($("#QUALIFICATIONS"));
                    $("<option></option>")
                                .val("/")
                               .text("/")
                               .appendTo($("#QUALIFICATIONS"));
                }
                break;
            default:

        }
    }

    function getCity(City) {
        $(City).empty();
        $("<option></option>")
                .val("")
                .text("请选择")
                .appendTo($(City));
    }
</script>
<script type='text/javascript'>
    $(function () {
        //查询受理单位
        $.ajax({
            url: "/api/VAPPLIANCE_DETAIL_INFORMATIONApi/GetGetByAPPLIANCE_DETAIL_INFORMATIONId/" + "@ViewBag.APPLIANCE_DETAIL_INFORMATIONID",
            type: "Put",
            // async: false,
            success: function (res) {
                if (res != null) {
                    $("#ACCEPT_ORGNIZATION_HIDDEN").val(res);
                }
            }
        })
        if ("@ViewBag.SBL" != "") {
            var a = "@ViewBag.SBL";
            //var arr = new Array();
            //var arr2 = new Array();
            var b = a.split(',');
            for (var i = 0; i < b.length; i++) {
                var c = b[i].split('*');
                switch (c[0]) {
                    case "REPORT_CATEGORY":
                        $("#REPORT_CATEGORY_String").val(c[1]);//报告类别
                        break;
                    case "CONTROL_NUMBER":
                        $("#CONTROL_NUMBER_String").val(c[1]);//控制编号
                        break;
                    case "CERTIFICATE_CATEGORY":
                        $("#CERTIFICATE_CATEGORY_String").val(c[1]);//证书类别
                        if (c[1] == "检定") {
                            $("#jianding").show();
                            var ja=b[5].split('*')[1];
                            if (ja== "Yes") {
                                $("#jiandingyes").attr("checked", 'checked')
                            }
                            else if (ja[1] == "No") {
                                $("#jiandingno").attr("checked", 'checked')
                            }

                        }
                        else if (c[1] == "校准") {
                            $("#cnas").show();
                            var cb = b[6].split('*')[1];
                            if (cb == "Yes") {
                                $("#cnasyes").attr("checked", 'checked')
                                $("#kongzhi").show();
                            }
                            else if (cb[1] == "No") {
                                $("#cnasno").attr("checked", 'checked')
                            }
                        }
                        break;
                    case "QUALIFICATIONS":
                        $("<option></option>")
                         .val(c[1])
                         .text(c[1])
                         .appendTo($("#QUALIFICATIONS"));
                        $("#QUALIFICATIONS").val(c[1]);//资质
                        break;
                    default:

                }
            }
        }
        //选择证书
        $("#CERTIFICATE_CATEGORY_String").change(function () {
            var option = $("#CERTIFICATE_CATEGORY_String option:selected");
            var b = option.text();
            $("#cnasyes,#cnasno,#jiandingno,#jiandingyes").removeAttr("checked");
            if (b == "检定") {
                $("#cnas").hide();
                $("#jianding").show();
            }
            else if (b == "校准") {
                $("#cnas").show();
                $("#jianding").hide();
            }
            else {
                $("#cnas").hide();
                $("#jianding").hide();
            }
        });


        function ajaxFrom(form, url) {

            $.ajax({
                url: url,
                type: "Post",
                data: $(form).serialize(),
                dataType: "json",

                success: function (data) {
                    if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                    else if (data.Code == 1) {
                        var id = "@ViewBag.Id";
                        window.location.href = "/VJIANDINGRENWU/JianLiFangAn/" + id;
                        return false;
                    }
                    else {
                        if ($.messager) {
                            $.messager.defaults.ok = '继续';
                            $.messager.defaults.cancel = '返回';

                            $.messager.confirm('操作提示', data.Message, function (r) {
                                if (!r) {
                                    window.location.href = 'javascript:history.go(-1)';
                                }
                            });
                        }
                    }


                }
            });

        }

        $(function () {
            $('.easyui-combobox').combobox({
                width: 243,
                onSelect: function (record) {
                    var strs = record.text.split("—");
                    $(this).combobox('setValue', strs[0]);
                }
            });
            $("form").submit(function (form) {
                if (form.result) {
                    ajaxFrom(this, this.action);
                }
                return false;
            });
            //按钮样式
            $('.a2').mouseover(function () { this.style.color = "#ae1121"; }).mouseout(function () { this.style.color = "#333"; });

        })
    });
</script>