@model Langben.DAL.APPLIANCE_DETAIL_INFORMATION

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models
 @section CurentPlace {
    修改  
}

@using (Html.BeginForm("", "api/APPLIANCE_DETAIL_INFORMATIONApi/Put"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="修改" />
            <input class="a2 f2" type="button" onclick="BackList('APPLIANCE_DETAIL_INFORMATION')" value="返回列表" />
        </legend>
        <div class="bigdiv">
            @Html.HiddenFor(model => model.ID )      
            <div class="editor-label">
                @Html.LabelFor(model => model.BAR_CODE_NUM)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BAR_CODE_NUM)
                @Html.ValidationMessageFor(model => model.BAR_CODE_NUM)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.APPLIANCE_NAME)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.APPLIANCE_NAME)
                @Html.ValidationMessageFor(model => model.APPLIANCE_NAME)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.VERSION)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.VERSION)
                @Html.ValidationMessageFor(model => model.VERSION)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.FORMAT)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FORMAT)
                @Html.ValidationMessageFor(model => model.FORMAT)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.FACTORY_NUM)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FACTORY_NUM)
                @Html.ValidationMessageFor(model => model.FACTORY_NUM)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.NUM) ：
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.NUM, new {  onkeyup = "isInt(this)", @class="text-box single-line" })
                @Html.ValidationMessageFor(model => model.NUM) 
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.ATTACHMENT)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ATTACHMENT)
                @Html.ValidationMessageFor(model => model.ATTACHMENT)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.APPEARANCE_STATUS)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.APPEARANCE_STATUS)
                @Html.ValidationMessageFor(model => model.APPEARANCE_STATUS)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.MAKE_ORGANIZATION)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MAKE_ORGANIZATION)
                @Html.ValidationMessageFor(model => model.MAKE_ORGANIZATION)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.REMARKS)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.REMARKS)
                @Html.ValidationMessageFor(model => model.REMARKS)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.END_PLAN_DATE)：
            </div>
            <div class="editor-field">
                @Html.TextBox("END_PLAN_DATE", ((Model != null && Model.END_PLAN_DATE != null) ? Model.END_PLAN_DATE.ToString().AsDateTime().ToString("yyyy-MM-dd") : ""), new { style = "width: 244px;", @class="easyui-datebox" })
                @Html.ValidationMessageFor(model => model.END_PLAN_DATE)
            </div>      
            <div class="editor-label">
                <a class="anUnderLine" onclick="showModalOnly('ORDER_TASK_INFORMATIONID','../../ORDER_TASK_INFORMATION');">
                    @Html.LabelFor(model => model.ORDER_TASK_INFORMATIONID) 
                </a>：
            </div>
            <div class="editor-field">
                <div id="checkORDER_TASK_INFORMATIONID">
                        @if(Model!=null)
                        {
                        if (null != Model.ORDER_TASK_INFORMATIONID)                      
                        { 
                    <table id="@Model.ORDER_TASK_INFORMATIONID"
                        class="deleteStyle">
                        <tr>
                            <td>
                                <img alt="删除"  title="点击删除" onclick="deleteTable('@Model.ORDER_TASK_INFORMATIONID ','ORDER_TASK_INFORMATIONID');" src="../../../Images/deleteimge.png" />
                            </td>
                            <td>
                                @Model.ORDER_TASK_INFORMATION.ORDER_NUMBER
                            </td>
                        </tr>
                    </table>
                    }} 
                </div>
                @Html.HiddenFor(model => model.ORDER_TASK_INFORMATIONID)
            </div>@Html.HiddenFor(model => model.CREATETIME )      
            <div class="editor-label">
                @Html.LabelFor(model => model.CREATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CREATEPERSON)
                @Html.ValidationMessageFor(model => model.CREATEPERSON)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.UPDATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UPDATEPERSON)
                @Html.ValidationMessageFor(model => model.UPDATEPERSON)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.APPLIANCE_RECIVE)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.APPLIANCE_RECIVE)
                @Html.ValidationMessageFor(model => model.APPLIANCE_RECIVE)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.APPLIANCE_PROGRESS)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.APPLIANCE_PROGRESS)
                @Html.ValidationMessageFor(model => model.APPLIANCE_PROGRESS)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.ORDER_STATUS)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ORDER_STATUS)
                @Html.ValidationMessageFor(model => model.ORDER_STATUS)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.ISOVERDUE)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ISOVERDUE)
                @Html.ValidationMessageFor(model => model.ISOVERDUE)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.OVERDUE)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OVERDUE)
                @Html.ValidationMessageFor(model => model.OVERDUE)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.STORAGEINSTRUCTIONS)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.STORAGEINSTRUCTIONS)
                @Html.ValidationMessageFor(model => model.STORAGEINSTRUCTIONS)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.STORAGEINSTRUCTI_STATU)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.STORAGEINSTRUCTI_STATU)
                @Html.ValidationMessageFor(model => model.STORAGEINSTRUCTI_STATU)
            </div>
        </div>
    </fieldset>
}



    <script type="text/javascript">

        $(function () {
            

            // 获取待编辑内容并显示
            var id = '@ViewBag.Id';
            $.ajax({
                url: "/api/APPLIANCE_DETAIL_INFORMATIONApi/" + id,
                type: "POST",
                // async: false,
                success: function (res) {
                    $("#ID").val(res.ID);$("#BAR_CODE_NUM").val(res.BAR_CODE_NUM);$("#APPLIANCE_NAME").val(res.APPLIANCE_NAME);$("#MODEL").val(res.MODEL);$("#FORMAT").val(res.FORMAT);$("#FACTORY_NUM").val(res.FACTORY_NUM);$("#NUM").val(res.NUM);$("#ATTACHMENT").val(res.ATTACHMENT);$("#APPEARANCE_STATUS").val(res.APPEARANCE_STATUS);$("#MAKE_ORGANIZATION").val(res.MAKE_ORGANIZATION);$("#REMARKS").val(res.REMARKS);$("#END_PLAN_DATE").val(res.END_PLAN_DATE);$("#CREATETIME").val(res.CREATETIME);$("#CREATEPERSON").val(res.CREATEPERSON);$("#UPDATEPERSON").val(res.UPDATEPERSON);$("#APPLIANCE_RECIVE").val(res.APPLIANCE_RECIVE);$("#APPLIANCE_PROGRESS").val(res.APPLIANCE_PROGRESS);$("#ORDER_STATUS").val(res.ORDER_STATUS);$("#ISOVERDUE").val(res.ISOVERDUE);$("#OVERDUE").val(res.OVERDUE);$("#STORAGEINSTRUCTIONS").val(res.STORAGEINSTRUCTIONS);$("#STORAGEINSTRUCTI_STATU").val(res.STORAGEINSTRUCTI_STATU);
                }
            })
        });
        

    </script>



