
@model Langben.DAL.APPLIANCE_DETAIL_INFORMATION 
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common 
@using Models
<script src="~/Scripts/JScriptIndex.js"></script>
<div id="divQuery">
     
            <div class="input_search">
            <div class="input_search-label">
                    @Html.LabelFor(model => model.BAR_CODE_NUM):
             </div>
                <div class="input_search-field">
                    <input type='text' id='BAR_CODE_NUM'/>
               </div>
            </div> 
            <div class="input_search">
            <div class="input_search-label">
                    @Html.LabelFor(model => model.APPLIANCE_NAME):
             </div>
                <div class="input_search-field">
                    <input type='text' id='APPLIANCE_NAME'/>
               </div>
            </div> 
            <div class="input_search">
            <div class="input_search-label">
                    @Html.LabelFor(model => model.VERSION):
             </div>
                <div class="input_search-field">
                    <input type='text' id='MODEL'/>
               </div>
            </div> 
            <div class="input_search">
            <div class="input_search-label">
                    @Html.LabelFor(model => model.FACTORY_NUM):
             </div>
                <div class="input_search-field">
                    <input type='text' id='FACTORY_NUM'/>
               </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.ORDER_STATUS):
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("ORDER_STATUSDDL_String", Models.SysFieldModels.GetSysField("APPLIANCE_DETAIL_INFORMATION","ORDER_STATUS"),"请选择",new { id = "ORDER_STATUSDDL_String" })
                </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.ISOVERDUE):
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("ISOVERDUEDDL_String", Models.SysFieldModels.GetSysField("APPLIANCE_DETAIL_INFORMATION","ISOVERDUE"),"请选择",new { id = "ISOVERDUEDDL_String" })
                </div>
            </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
 <br style="clear: both;" />

<script type="text/javascript" language="javascript">
        $(function () {

            $('#flexigridData').datagrid({
                title: '器具明细信息', //列表的标题
                iconCls: 'icon-site',
                width: 'auto',
                height: 'auto',
                //nowrap: false,
                striped: true,
                collapsible: true,
                url: 'api/APPLIANCE_DETAIL_INFORMATIONApi/PostData', //获取数据的url
                sortName: 'ID',
                sortOrder: 'desc',
                idField: 'ID',

                toolbar: [
                 
                     {
                        text: '详细',
                        iconCls: 'icon-search',
                        handler: function () {
                            return getView();
                        }
                    }, {
                        text: '创建',
                        iconCls: 'icon-add',
                        handler: function () {
                            return flexiCreate();
                        }
                    },  {
                        text: '删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            return flexiDelete();
                        }
                    }, {
                        text: '修改',
                        iconCls: 'icon-edit',
                        handler: function () {
                            return flexiModify();
                        }
                    }, {
                        text: '导出',
                        iconCls: 'icon-excel',
                        handler: function () {
                            return flexiExport();
                        }
                    } ],
                columns: [[
                   
                    
					{ field: 'BAR_CODE_NUM', title: '@Html.DisplayNameFor(model => model.BAR_CODE_NUM)', width: 35 }
					,{ field: 'APPLIANCE_NAME', title:  '@Html.DisplayNameFor(model => model.APPLIANCE_NAME)', width: 35 }
					,{ field: 'MODEL', title:  '@Html.DisplayNameFor(model => model.VERSION)', width: 35 }
					,{ field: 'FORMAT', title:  '@Html.DisplayNameFor(model => model.FORMAT)', width: 35 }
					,{ field: 'FACTORY_NUM', title:  '@Html.DisplayNameFor(model => model.FACTORY_NUM)', width: 35 }
					,{ field: 'NUM', title:  '@Html.DisplayNameFor(model => model.NUM)', width: 35 }
					,{ field: 'ATTACHMENT', title:  '@Html.DisplayNameFor(model => model.ATTACHMENT)', width: 35 }
					,{ field: 'APPEARANCE_STATUS', title:  '@Html.DisplayNameFor(model => model.APPEARANCE_STATUS)', width: 35 }
					,{ field: 'MAKE_ORGANIZATION', title:  '@Html.DisplayNameFor(model => model.MAKE_ORGANIZATION)', width: 35 }
					,{ field: 'REMARKS', title:  '@Html.DisplayNameFor(model => model.REMARKS)', width: 35 }
					,{ field: 'END_PLAN_DATE', title:  '@Html.DisplayNameFor(model => model.END_PLAN_DATE)', width: 35
                    , formatter: formatDatebox
}
					,{ field: 'ORDER_TASK_INFORMATIONID', title: '@Html.DisplayNameFor(model => model.ORDER_TASK_INFORMATIONIDOld)', width: 35 }
					,{ field: 'CREATETIME', title:  '@Html.DisplayNameFor(model => model.CREATETIME)', width: 35
                    , formatter: formatDatebox
}
					,{ field: 'CREATEPERSON', title:  '@Html.DisplayNameFor(model => model.CREATEPERSON)', width: 35 }
					,{ field: 'UPDATETIME', title:  '@Html.DisplayNameFor(model => model.UPDATETIME)', width: 35
                    , formatter: formatDatebox
}
					,{ field: 'UPDATEPERSON', title:  '@Html.DisplayNameFor(model => model.UPDATEPERSON)', width: 35 }
					,{ field: 'APPLIANCE_RECIVE', title:  '@Html.DisplayNameFor(model => model.APPLIANCE_RECIVE)', width: 35 }
					,{ field: 'APPLIANCE_PROGRESS', title:  '@Html.DisplayNameFor(model => model.APPLIANCE_PROGRESS)', width: 35 }
					,{ field: 'ORDER_STATUS', title:  '@Html.DisplayNameFor(model => model.ORDER_STATUS)', width: 35 }
					,{ field: 'ISOVERDUE', title:  '@Html.DisplayNameFor(model => model.ISOVERDUE)', width: 35 }
					,{ field: 'OVERDUE', title:  '@Html.DisplayNameFor(model => model.OVERDUE)', width: 35 }
					,{ field: 'STORAGEINSTRUCTIONS', title:  '@Html.DisplayNameFor(model => model.STORAGEINSTRUCTIONS)', width: 35 }
					,{ field: 'STORAGEINSTRUCTI_STATU', title:  '@Html.DisplayNameFor(model => model.STORAGEINSTRUCTI_STATU)', width: 35 }
                ]],
                pagination: true,
                rownumbers: true

            });

             var parent = window.dialogArguments; //获取父页面
            if (parent == "undefined" || parent == null) {
                //    不是在iframe中打开的
            } else {
                //隐藏所有的按钮和分隔符
                $(".l-btn.l-btn-plain").hide();
                $(".datagrid-btn-separator").hide();
                //添加选择按钮
                $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
            }
        });

        //“查询”按钮，弹出查询框
        function flexiQuery() {

            //将查询条件按照分隔符拼接成字符串
            var search = "";
            $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
                if (this.id)
                    search = search + this.id + "&" + this.value + "^";
                else
                    search = search + this.name + "&" + this.value + "^";
            });
            //执行查询
            $('#flexigridData').datagrid('load', { search: search });
        };
        //“导出”按钮     在6.0版本中修改
        function flexiExport() {

            //将查询条件按照分隔符拼接成字符串
            var search = "";
            $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
                search = search + this.id + "&" + this.value + "^";
            });
          
            var p = $('#flexigridData').datagrid('options').columns[0];
            var field = [];//所有的列名
            var title = [];//所有的标题名称
            $(p).each(function () {
                field.push(this.field);
                title.push(this.title);              
            });
           
            $.post("api/APPLIANCE_DETAIL_INFORMATIONApi/PostExport",
                {
                    title: title.join(","),
                    field: field.join(","),
                    sortName: $('#flexigridData').datagrid('options').sortName,
                    sortOrder: $('#flexigridData').datagrid('options').sortOrder,
                    search: search
                }, function (res) {
                    if (res.Code == 1) {
                        window.location.href = res.Message;
                    }
                    else $.messager.alert('操作提示', res.Message, 'info');

                });
        };
        //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
        function flexiSelect() {

            var rows = $('#flexigridData').datagrid('getSelections');
            if (rows.length == 0) {
                $.messager.alert('操作提示', '请选择数据!', 'warning');
                return false;
            }

            var arr = [];
            for (var i = 0; i < rows.length; i++) {
                arr.push(rows[i].ID);
            }
            arr.push("^");
            for (var i = 0; i < rows.length; i++) {
                arr.push(rows[i].BAR_CODE_NUM);
            }
            //主键列和显示列之间用 ^ 分割   每一项用 , 分割
            if (arr.length > 0) {//一条数据和多于一条
                returnParent(arr.join("&")); //每一项用 & 分割
            }
        }
        //导航到查看详细的按钮
        function getView() {

            var arr = $('#flexigridData').datagrid('getSelections');

            if (arr.length == 1) {
                window.location.href = "../APPLIANCE_DETAIL_INFORMATION/Details/" + arr[0].ID;
               
            } else {
                $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            }
            return false;
        }
        //导航到创建的按钮
        function flexiCreate() {

            window.location.href = "../APPLIANCE_DETAIL_INFORMATION/Create";
            return false;
        }
        //导航到修改的按钮
        function flexiModify() {

            var arr = $('#flexigridData').datagrid('getSelections');

            if (arr.length == 1) {
                window.location.href = "../APPLIANCE_DETAIL_INFORMATION/Edit/" + arr[0].ID;

            } else {
                $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            }
            return false;

        };
        //删除的按钮
        function flexiDelete() {

            var rows = $('#flexigridData').datagrid('getSelections');
            if (rows.length == 0) {
                $.messager.alert('操作提示', '请选择数据!', 'warning');
                return false;
            }

            var arr = [];
            for (var i = 0; i < rows.length; i++) {
                arr.push(rows[i].ID);
            }

            $.messager.confirm('操作提示', "确认删除这 " + arr.length + " 项吗？", function (r) {
                if (r) {
                    $.ajax({
                        url: "api/APPLIANCE_DETAIL_INFORMATIONApi/Delete?query=" + arr.join(","),
                        type: "get",
                        success: function (res) {
                            if (res.Code == 1) {
                                //移除删除的数据

                                $.messager.alert('操作提示', res.Message, 'info');
                                $("#flexigridData").datagrid("reload");
                                $("#flexigridData").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert('操作提示', res.Message, 'info');
                            }

                        }
                    })
                }
            });

        };

</script>

