@model Langben.DAL.VRUKU
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<div id="divQuery">

    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ORDER_NUMBER):
        </div>
        <div class="input_search-field">
            <input type='text' id='ORDER_NUMBER' />   
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE):
        </div>
        <div class="input_search-field">
           @Html.DropDownList("CERTIFICATE_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.APPLIANCE_PROGRESS):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("APPLIANCE_PROGRESS", Models.SysFieldModels.GetSysField("UNDERTAKE_LABORATORY", "NAME"), "请选择", new { id = "APPLIANCE_PROGRESS" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.APPROVALDATE):
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="APPROVALDATEStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'APPROVALDATEStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="APPROVALDATEEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'APPROVALDATEEnd_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.STORAGEINSTRUCTI_STATU):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("STORAGEINSTRUCTI_STATU", Models.SysFieldModels.GetSysField("VRUKU", "STORAGEINSTRUCTI_STATU"), "请选择", new { id = "STORAGEINSTRUCTI_STATU" })
        </div>
    </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
<br style="clear: both;" />

<script type="text/javascript" language="javascript">
    $(function () {
        //添加日期控件
        $("#APPROVALDATE").datebox({ "required": false });//true为必填项
        //************************
        $('#flexigridData').datagrid({
            title: '器具信息', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '../VRUKU/GetData', //获取数据的url
            sortName: 'APPROVALDATE',
            sortOrder: 'desc',
            idField: 'ID',

            toolbar: [

                 {
                     text: '入库',
                     iconCls: 'icon-ok',
                     handler: function () {
                         return flexiDelete();
                     }
                 },
                    {
                        text: '打印入库单',
                        iconCls: 'icon-print',
                        handler: function () {
                            return flexiExport();
                        }
                    }
            ],
            columns: [[
					{ field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', width: 77, hidden: true }
					//, { field: 'REPORTNUMBER', title: '@Html.DisplayNameFor(model => model.REPORTNUMBER)', width: 77 }
					, { field: 'ORDER_NUMBER', title: '@Html.DisplayNameFor(model => model.ORDER_NUMBER)', width: 97 }
					, { field: 'APPLIANCE_NAME', title: '@Html.DisplayNameFor(model => model.APPLIANCE_NAME)', width: 97 }
					, { field: 'VERSION', title: '@Html.DisplayNameFor(model => model.VERSION)', width: 97 }
					, { field: 'FACTORY_NUM', title: '@Html.DisplayNameFor(model => model.FACTORY_NUM)', width: 77 }
					, { field: 'CERTIFICATE_ENTERPRISE', title: '@Html.DisplayNameFor(model => model.CERTIFICATE_ENTERPRISE)', width: 97 }
					, { field: 'CUSTOMER_SPECIFIC_REQUIREMENTS', title: '@Html.DisplayNameFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)', width: 97 }
					, { field: 'APPLIANCE_PROGRESS', title: '@Html.DisplayNameFor(model => model.APPLIANCE_PROGRESS)', width: 97 }
					, { field: 'ORDER_STATUS', title: '@Html.DisplayNameFor(model => model.ORDER_STATUS)', width: 97 }
					, { field: 'STORAGEINSTRUCTIONS', title: '@Html.DisplayNameFor(model => model.STORAGEINSTRUCTIONS)', width: 97 }
                    , { field: 'STORAGEINSTRUCTI_STATU', title: '@Html.DisplayNameFor(model => model.STORAGEINSTRUCTI_STATU)', width: 77, hidden: true }
            ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });
    //“导出”按钮     在6.0版本中修改
    function flexiExport() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            search = search + this.id + "&" + this.value + "^";
        });

 
        $.post('../VRUKU/GetData2',
            {
             
                sortName: $('#flexigridData').datagrid('options').sortName,
                sortOrder: $('#flexigridData').datagrid('options').sortOrder,
                search: search
            }, function (res) {
               
                    window.location.href = res;
               

            });
    };
    //“查询”按钮，弹出查询框
    function flexiQuery() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "ORDER_NUMBER&" + $("#ORDER_NUMBER").val() + "^";
        search += "CERTIFICATE_ENTERPRISE&" + $('#CERTIFICATE_ENTERPRISE').combobox('getValue') + "^";
        search += "APPLIANCE_PROGRESS&" + $("#APPLIANCE_PROGRESS option:selected").val() + "^";
        search += "APPROVALDATEStart_Time&" + $("#APPROVALDATEStart_Time").val() + "^";
        search += "APPROVALDATEEnd_Time&" + $("#APPROVALDATEEnd_Time").val() + "^";
        search += "STORAGEINSTRUCTI_STATU&" + $("#STORAGEINSTRUCTI_STATU option:selected").val() + "^";
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].ID);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].REPORTNUMBER);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }
    //判断是否选择一条数据


    //入库
    function flexiDelete() {
        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }
            var arr = [];
            for (var i = 0; i < rows.length; i++) {              
                if (rows[i].STORAGEINSTRUCTI_STATU!="@Common.ORDER_STATUS.器具已入库.ToString()") {
                    arr.push(rows[i].ID);
                }
                else {
                    $.messager.alert('操作提示', "器具已入库不能重复入库！", 'info');
                    return false;
                }
            } 
           
            $.messager.confirm('操作提示', "确认入库这 " + arr.length + " 项吗？", function (r) {
                if (r) {
                    $.ajax({
                        url: "/api/VAPPLIANCE_DETAIL_INFORMATIONApi/PutSTORAGEINSTRUCTI_STATU/" + arr.join(","),
                        type: "Post",
                        success: function (res) {
                            if (res.Code == 1) {
                                //移除删除的数据
                                $.messager.alert('操作提示', "入库成功！", 'info');
                                $("#flexigridData").datagrid("reload");
                                $("#flexigridData").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert('操作提示', "入库失败！", 'error');
                            }

                        }
                    })
                }
            });
    };

</script>

