@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "变送器-电流电压-引用误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="9">
            通道：
            <select class="my-combobox" name="BianSongQiTongDao" id="BianSongQiTongDaoD_t_1_1">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;<span>@ViewBag.canshu</span>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <div class="fl" style="margin-right:20px">
                输入范围：(
                <input id="shurufanwei_t_1_1" name="shurufanwei" type="text" class="my-textbox tc" value="0" style="width:30px">
                -
                <input id="shurufanweijian_t_1_1" name="shurufanweijian" type="text" class="my-textbox tc" value="5" style="width:30px">
                )
                @if (ViewBag.canshu == "电流")
                {
                    <select class="my-combobox" name="dianliu" id="dianliu_t_1_1">
                        <option value="A">A</option>
                        <option value="KA">KA</option>
                        <option value="mA">mA</option>
                        <option value="μA">μA</option>
                        <option value="nA">nA</option>
                        <option value="pA">pA</option>
                    </select>
                }
                else if (ViewBag.canshu == "电压")
                {
                    <select class="my-combobox" name="dianya" id="dianya_t_1_1">
                        <option value="V">V</option>
                        <option value="MV">MV</option>
                        <option value="KV">KV</option>
                        <option value="mV">mV</option>
                        <option value="μV">μV</option>
                    </select>
                }
            </div>
            <div class="fl" style="margin-right:20px">
                输出范围：(
                <input onblur="blurShuChuFanWeiZuiXiao(this)" name="dianmyliu" id="dianmyliu_t_1_1" type="text" class="my-textbox tc" value="4" style="width:30px">
                -
                <input onblur="blurShuChuFanWeiZuiDa(this)" name="dianmyya" id="dianmyya_t_1_1" type="text" class="my-textbox tc" value="20" style="width:30px">
                )
                <select class="my-combobox" name="mAV" id="mAV_t_1_1">
                    <option value="mA">mA</option>
                    <option value="V">V</option>
                </select>
            </div>

            <div class="fl" style="margin-right:20px; ">
                @((ViewBag.canshu == "电流") ? "I" : "U")<sub>n</sub> =
                <input onblur="blurEDingTiaoJiao(this)" name="mAVdianliu" id="mAVdianliu_t_1_1" type="text" class="my-textbox tc" value="5" style="width:40px">
                @if (ViewBag.canshu == "电流")
                {
                    <select class="my-combobox" name="dianlimyu" id="dianlimyu_t_1_1">
                        <option value="A">A</option>
                        <option value="KA">KA</option>
                        <option value="mA">mA</option>
                        <option value="μA">μA</option>
                        <option value="nA">nA</option>
                        <option value="pA">pA</option>
                    </select>
                }
                else if (ViewBag.canshu == "电压")
                {
                    <select class="my-combobox" name="dianymya" id="dianymya_t_1_1">
                        <option value="V">V</option>
                        <option value="MV">MV</option>
                        <option value="KV">KV</option>
                        <option value="mV">mV</option>
                        <option value="μV">μV</option>
                    </select>
                }
            </div>
        </td>
    </tr>
    <tr>
        <th align="center" width="100">测试量</th>
        <th align="center" width="100"> 等级</th>
        <th align="center" width="120"> 测量点</th>
        <th align="center" width="100">
            二次输入标准值<br>
            (<span>@((ViewBag.canshu == "电流") ? "A" : "V")</span>)
        </th>
        <th align="center" width="100">
            标准输出值<br>
            <select class="my-combobox" name="m123AV" id="m123AV_t_1_1">
                <option value="mA">mA</option>
                <option value="V">V</option>
            </select>
        </th>
        <th align="center" width="100">
            实际输出值<br>
            <select class="my-combobox" name="m456AV" id="m456AV_t_1_1">
                <option value="mA">mA</option>
                <option value="V">V</option>
            </select>
        </th>
        <th align="center" width="100">
            引用误差<br>
            (%)
        </th>
        <th align="center">
            校准结果的不确定度<br>
            U(K =
            <select class="my-combobox" name="K" id="K_t_1_1">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>
            )
        </th>
    </tr>
</thead>
<tbody>
    <!--表体-->
    <tr>
        <td align="center" width="100">
            @((ViewBag.canshu == "电流") ? "I" : "U")
        </td>
        <td align="center" width="100">
            <input type="text" class="my-textbox tr" value="0.0" style="width:70px" onblur="RecalculateYinYongWuCha()" name="DengJi" id="DengJi_t_1_1">
            级
        </td>
        <td colspan="7" style="padding:0">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody id="tbody_moban">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td rowspan="1" align="center" width="120"> <input class="my-textbox input-width" value="100%" id="OUTPUTVALUE_t_1_1" name="OUTPUTVALUE" onblur="blurCeLiangDian(this)" type="text"><span>@((ViewBag.canshu == "电流") ? "I" : "U")<sub>n</sub></span></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="5.000" id="READVALUE_t_1_1" name="READVALUE" onblur="blurErCiShuRuBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="20.000" id="ACTUALVALUE_t_1_1" name="ACTUALVALUE" onblur="blurBiaoZhunShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_1" name="SHIJISHUCHUZHI" onblur="blurShiJiShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_1" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_1" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="2">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="80%" id="OUTPUTVALUE_t_1_2" name="OUTPUTVALUE" onblur="blurCeLiangDian(this)" type="text"><span>@((ViewBag.canshu == "电流") ? "I" : "U")<sub>n</sub></span></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="4.000" id="READVALUE_t_1_2" name="READVALUE" onblur="blurErCiShuRuBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="16.800" id="ACTUALVALUE_t_1_2" name="ACTUALVALUE" onblur="blurBiaoZhunShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_2" name="SHIJISHUCHUZHI" onblur="blurShiJiShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_2" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_2" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="3">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="60%" id="OUTPUTVALUE_t_1_3" name="OUTPUTVALUE" onblur="blurCeLiangDian(this)" type="text"><span>@((ViewBag.canshu == "电流") ? "I" : "U")<sub>n</sub></span></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="3.000" id="READVALUE_t_1_3" name="READVALUE" onblur="blurErCiShuRuBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="13.600" id="ACTUALVALUE_t_1_3" name="ACTUALVALUE" onblur="blurBiaoZhunShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_3" name="SHIJISHUCHUZHI" onblur="blurShiJiShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_3" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_3" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="4">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="40%" id="OUTPUTVALUE_t_1_4" name="OUTPUTVALUE" onblur="blurCeLiangDian(this)" type="text"><span>@((ViewBag.canshu == "电流") ? "I" : "U")<sub>n</sub></span></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="2.000" id="READVALUE_t_1_4" name="READVALUE" onblur="blurErCiShuRuBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="10.400" id="ACTUALVALUE_t_1_4" name="ACTUALVALUE" onblur="blurBiaoZhunShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_4" name="SHIJISHUCHUZHI" onblur="blurShiJiShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_4" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_4" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="5">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="20%" id="OUTPUTVALUE_t_1_5" name="OUTPUTVALUE" onblur="blurCeLiangDian(this)" type="text"><span>@((ViewBag.canshu == "电流") ? "I" : "U")<sub>n</sub></span></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="1.000" id="READVALUE_t_1_5" name="READVALUE" onblur="blurErCiShuRuBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="7.200" id="ACTUALVALUE_t_1_5" name="ACTUALVALUE" onblur="blurBiaoZhunShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_5" name="SHIJISHUCHUZHI" onblur="blurShiJiShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_5" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_5" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="6">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="0%" id="OUTPUTVALUE_t_1_6" name="OUTPUTVALUE" onblur="blurCeLiangDian(this)" type="text"><span>@((ViewBag.canshu == "电流") ? "I" : "U")<sub>n</sub></span></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="0.000" id="READVALUE_t_1_6" name="READVALUE" onblur="blurErCiShuRuBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="4.000" id="ACTUALVALUE_t_1_6" name="ACTUALVALUE" onblur="blurBiaoZhunShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_6" name="SHIJISHUCHUZHI" onblur="blurShiJiShuChuZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_6" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_6" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="7">
                            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</tbody>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        //tbodyIndex通道
        //thi 当前位置
        function set(tbodyIndex, thi) {



            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框
            $("#hideDangQianTongDao").val(tbodyIndex); CreateRow();

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            txtNumber = $("#txtNumber").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算
                var unit = "<span>@((ViewBag.canshu == "电流") ? "I" : "U")<sub>n</sub></span>";//在输入框后面的单位


                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
                if (rowidx == 0) {
                    //需要合并的列

                }
                //需要合并的列
                var changerHTML = "onblur=''";
                //测量点
                htmlString.push(SetTDHtml(rowspan, "OUTPUTVALUE", HangHaoID, rowidx, txtVal, "classstyle120", unit));
                //二次输入标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, txtVal, "classstyle100"));
                //标准输出值
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, txtVal, "classstyle100"));
                //实际输出值
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, txtVal, "classstyle100"));
                //引用误差
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, txtVal, "classstyle100"));
                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, txtVal, "classstyle"));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            //$('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
        //离开事件，用于计算 额定条件
        function blurEDingTiaoJiao(obj) {
            //注意多通道
            //
        }
        //离开事件，用于计算 输出范围最小
        function blurShuChuFanWeiZuiXiao(obj) {
            //注意多通道
            RecalculateYinYongWuCha();
            RecalculateBiaoZhunShuChu();
        }
        //离开事件，用于计算 输出范围最大
        function blurShuChuFanWeiZuiDa(obj) {
            //注意多通道
            RecalculateYinYongWuCha();
            RecalculateBiaoZhunShuChu();
        }
        //离开事件，用于计算 实际输出值
        function blurShiJiShuChuZhi(obj) {
            //注意多通道
            $(obj).parents('tr:eq(0)').find('td:eq(4) input').val(YinYongWuCha($(obj).val(), $(obj).parents('tr:eq(0)').find('td:eq(2)').find('input').val()))
        }
        //离开事件，用于计算 标准输出值
        function blurBiaoZhunShuChuZhi(obj) {
            //注意多通道
            $(obj).parents('tr:eq(0)').find('td:eq(4) input').val($(obj).parents('tr:eq(0)').find('td:eq(3)').find('input').val(), YinYongWuCha($(obj).val()))
        }
        //离开事件，用于计算 二次输入标准值
        function blurErCiShuRuBiaoZhunZhi(obj) {
            //注意多通道
            //
            $(obj).parents('tr:eq(0)').find('td:eq(2) input').val(BiaoZhunZhi($(obj).val()))
        }
        //离开事件，用于计算 测量点
        function blurCeLiangDian(obj) {
            //注意多通道
            //
            //2.二次输入标准值=额定条件*测量点，默认3位小数
            var celiangdian = (parseFloat($(obj).val().replace("%", "")) / 100)
            $(obj).parents('tr:eq(0)').find('td:eq(1) input').val((celiangdian * parseFloat($("#mAVdianliu_" + GetTongDao() + "_1_1").val())).toFixed(3));
        }
        //离开事件，用于计算
        function blurValue(obj) {

        }
        ///重新计算页面上标准输出值
        function RecalculateBiaoZhunShuChu() {
            //注意多通道
            $("#tbody_" + GetTongDao() + " tr").each(function () {
                console.log($(this).find('td:eq(1)').find('input').val());
                $(this).find('td:eq(2)').find('input').val(BiaoZhunZhi($(this).find('td:eq(1)').find('input').val()))//标准输出
            })
        }
        ///重新计算页面上引用误差
        function RecalculateYinYongWuCha() {
            //注意多通道
            $("#tbody_" + GetTongDao() + " tr").each(function () {
                console.log($(this).find('td:eq(1)').find('input').val());
                $(this).find('td:eq(4)').find('input').val(YinYongWuCha($(this).find('td:eq(3)').find('input').val(), $(this).find('td:eq(2)').find('input').val()))//引用误差
            })
        }
        function GetValue() {
            var hideDangQianTongDao = GetTongDao();//当前操作第几通道
            var datas = {
                inputMinValue: $.trim($(".clone #shurufanwei_" + hideDangQianTongDao + "_1_1").val()) == "" ? "" : parseFloat($.trim($(".clone #shurufanwei_" + hideDangQianTongDao + "_1_1").val())),
                inputMaxValue: $.trim($(".clone #shurufanweijian_" + hideDangQianTongDao + "_1_1").val()) == "" ? "" : parseFloat($.trim($(".clone #shurufanweijian_" + hideDangQianTongDao + "_1_1").val())),
                outputMinValue: $.trim($(".clone #dianmyliu_" + hideDangQianTongDao + "_1_1").val()) == "" ? "" : parseFloat($.trim($(".clone #dianmyliu_" + hideDangQianTongDao + "_1_1").val())),
                outputMaxValue: $.trim($(".clone #dianmyya_" + hideDangQianTongDao + "_1_1").val()) == "" ? "" : parseFloat($.trim($(".clone #dianmyya_" + hideDangQianTongDao + "_1_1").val())),
                level: $(".clone #DengJi_" + $("#hideDangQianTongDao").val() + "_1_1").val(),
                levellength: $(".clone #DengJi_" + $("#hideDangQianTongDao").val() + "_1_1").val().split('.')[1].length
            }
            return datas;
        }
        function GetTongDao() {
            return $("#hideDangQianTongDao").val();//当前操作第几通道
        }
        ///标准值
        function BiaoZhunZhi(erciBiaoZhun) {
            //3.标准输出值=二次输入标准值/额定条件*（输出范围的最大值-输出范围的最小值）+输出范围最小值
            var datas = GetValue();
            var edingTiaoJian = parseFloat($("#mAVdianliu_" + GetTongDao() + "_1_1").val());
            if ($.trim(edingTiaoJian) != "" && edingTiaoJian != "0")
                return parseFloat(erciBiaoZhun) / edingTiaoJian * (datas.outputMaxValue - datas.outputMinValue) + datas.outputMinValue;
            else
                return "";
        }
        //引用误差
        function YinYongWuCha(ShijiShuChu, BiaoZhunShuChu) {
            //4.4.引用误差=Round(（实际输出值-标准输出值）/（输出范围的最大值-输出范围的最小值）*100*修约值,1)/修约值
            var datas = GetValue();
            var level = datas.level
            var length = datas.levellength;
            if (level == "0.0" || ShijiShuChu == "" || BiaoZhunShuChu == "") return ""
            else
                return (((parseFloat(ShijiShuChu) - parseFloat(BiaoZhunShuChu)) / (datas.outputMaxValue - datas.outputMinValue) * 100 / parseFloat(level)) * parseFloat(level)).toFixed(length);
        }

        //联动标准值
        //输出实际值计算：【选用电阻阻值】有数值时，输出实际值= 读数值 / 选用电阻阻值；【选用电阻阻值】没有数值时，输出实际值=读数值
        function LianDongShiJiZhi(obj) {

            if (obj.name == "RESISTANCE" && obj.value.trim() != "")//选用电阻阻值变更
            {

                id = obj.id.replace(obj.name, "") + "_";
                $("input[name=READVALUE]").each(function (a, b) {//读数值
                    if (b.id.indexOf(id) >= 0 && b.value.trim() != "") {
                        var hhID = b.id.replace(b.name, "");//行号
                        var shijizhiID = "#ACTUALVALUE" + hhID;//输出实际值ID
                        $(shijizhiID).val(CalculateShiJiZhi(obj.value.trim(), b.value.trim()));
                    }
                });
            }
            else if (obj.name == "READVALUE")//读数值
            {
                var DZID = obj.id.replace(obj.name, "");
                DZID = DZID.substr(0, DZID.lastIndexOf("_"));
                var hhID = obj.id.replace(obj.name, "");//行号
                var shijizhiID = "#ACTUALVALUE" + hhID;//输出实际值ID
                var DianZuID = "#RESISTANCE" + DZID;//电阻ID
                $(shijizhiID).val(CalculateShiJiZhi($(DianZuID).val(), obj.value.trim()));
            }
        }
        //计算输出实际值
        function CalculateShiJiZhi(DianZu, DuShuZhi) {
            if (DianZu == "" || DuShuZhi == "") {//【选用电阻阻值】没有数值时，输出实际值=读数值
                return DuShuZhi;
            }
            else if (DianZu.trim() == "0") {
                return "";
            }
            else//【选用电阻阻值】有数值时，输出实际值= 读数值 / 选用电阻阻值
            {
                var value = parseFloat(DuShuZhi.trim()) / parseFloat(DianZu.trim());
                return value;
            }
        }


    </script>

}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtNumber" value="1" /><!--小数点位数-->
}

