@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "标准电阻箱-相对误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="9">
            通道：
            <select class="my-combobox" name="BianSongQiTongDao" id="BianSongQiTongDaoD_t_1_1">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;<span>@ViewBag.canshu</span>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <div class="fl" style="margin-center:20px">
                输入范围：(
                <input id="shurufanwei_t_1_1" name="shurufanwei" type="text" class="my-textbox tc" value="0" style="width:30px">
                -
                <input id="shurufanweijian_t_1_1" name="shurufanweijian" type="text" class="my-textbox tc" value="5" style="width:30px">
                )
                @((ViewBag.canshu == "有功功率") ? "W" : "Var")
            </div>
            <div class="fl" style="margin-center:20px">
                输出范围：(
                <input name="dianmyliu" id="dianmyliu_t_1_1" type="text" class="my-textbox tc" value="4" style="width:30px">
                -
                <input name="dianmyya" id="dianmyya_t_1_1" type="text" class="my-textbox tc" value="20" style="width:30px">
                )
                <select class="my-combobox" name="mAV" id="mAV_t_1_1">
                    <option value="mA">mA</option>
                    <option value="V">V</option>
                </select>
            </div>

            <div class="fl" style="margin-center:20px;">
                U<sub>n</sub> =
                <input name="dianym32ya" id="dianym32ya_t_1_1" type="text" class="my-textbox tc" value="100" style="width:40px">
                <select class="my-combobox" name="mAVdianliu" id="mAVdianliu_t_1_1">
                    <option value="V">V</option>
                    <option value="MV">MV</option>
                    <option value="kV">kV</option>
                    <option value="mV">mV</option>
                    <option value="μV">μV</option>
                </select>
            </div>
            <div class="fl" style="margin-center:20px; ">
                In =
                <input name="dianymya" id="dianymya_t_1_1" type="text" class="my-textbox tc" value="5" style="width:40px">
                <select class="my-combobox" name="dianymy123a" id="dianymy123a_t_1_1">
                    <option value="A">A</option>
                    <option value="kA">kA</option>
                    <option value="mA">mA</option>
                    <option value="μA">μA</option>
                    <option value="nA">nA</option>
                    <option value="pA">pA</option>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <th align="center" width="100">测试量</th>
        <th align="center" width="100"> 等级</th>
        <th align="center" width="104"> 测量点</th>
        <th align="center" width="50">@((ViewBag.canshu == "有功功率") ? "cos" : "sin")φ</th>
        <th align="center" width="100">
            二次输入标准值<br>
            (@((ViewBag.canshu == "有功功率") ? "W" : "Var"))
        </th>
        <th align="center" width="100">
            标准输出值<br>
            <select class="my-combobox" name="m123AV" id="m123AV_t_1_1">
                <option value="mA">mA</option>
                <option value="V">V</option>
            </select>
        </th>
        <th align="center" width="100">
            实际输出值<br>
            <select class="my-combobox" name="m456AV" id="m456AV_t_1_1">
                <option value="mA">mA</option>
                <option value="V">V</option>
            </select>
        </th>
        <th align="center" width="100">
            引用误差<br>
            (%)
        </th>
        <th align="center">
            校准结果的不确定度<br>
            U(k =
            <select class="my-combobox" name="K" id="K_t_1_1">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>
            )
        </th>
    </tr>

</thead>

<tbody>
    <!--表体-->
    <tr>
        <td align="center" width="100">
            @((ViewBag.canshu == "有功功率") ? "P" : "Q")
        </td>
        <td align="center" width="100">
            <input name="DengJi" type="text" class="my-textbox tr" value="1.0" style="width:70px" onblur="JS1(this)" id="DengJi_t_1_1">
            级
        </td>
        <td id="tbody_moban" colspan="7" style="padding:0">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_1">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td rowspan="1" align="center" width="120"> <input class="my-textbox input-width" value="100%" id="OUTPUTVALUE_t_1_1" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td width="50" rowspan="96" align="center">
                            <input type="text" class="my-textbox tr" value="1.0" style="width:44px" name="ZHONGJIANZHI" id="ZHONGJIANZHI_t_1_1">
                        </td>

                        <td rowspan="1" align="center" width="99"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_1" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center" width="99"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_1" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center" width="99"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_1" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center" width="98"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_1" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_1" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="2">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="80%" id="OUTPUTVALUE_t_1_2" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_2" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_2" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_2" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_2" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_2" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="3">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="60%" id="OUTPUTVALUE_t_1_3" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_3" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_3" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_3" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_3" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_3" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="4">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="40%" id="OUTPUTVALUE_t_1_4" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_4" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_4" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_4" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_4" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_4" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="5">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="20%" id="OUTPUTVALUE_t_1_5" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_5" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_5" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_5" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_5" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_5" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="6">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="0%" id="OUTPUTVALUE_t_1_6" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_6" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_6" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_6" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_6" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_6" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="7">
                            <input type="hidden" id="hideLiangChengShuLiang" value="1" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_2">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td rowspan="1" align="center" width="120"> <input class="my-textbox input-width" value="100%" id="OUTPUTVALUE_t_2_1" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td width="50" rowspan="96" align="center">
                            <input type="text" class="my-textbox tr" value="0.5L" style="width:44px" name="ZHONGJIANZHI" id="ZHONGJIANZHI_t_2_1">

                        </td>

                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="READVALUE_t_2_1" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_2_1" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_2_1" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_2_1" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_2_1" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>

                    <tr rowindex="2">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="0%" id="OUTPUTVALUE_t_2_2" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_2_2" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_2_2" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_2_2" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_2_2" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_2_2" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="7">
                            <input type="hidden" id="hideLiangChengShuLiang" value="2" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_3">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td rowspan="1" align="center" width="120"> <input class="my-textbox input-width" value="100%" id="OUTPUTVALUE_t_3_1" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td width="50" rowspan="96" align="center">
                            <input type="text" class="my-textbox tr" value="0.5C" style="width:44px" name="ZHONGJIANZHI" id="ZHONGJIANZHI_t_3_1">

                        </td>

                        <td rowspan="1" align="center" width="100">
                         <input class="my-textbox input-width" value="" id="READVALUE_t_3_1" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_3_1" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_3_1" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_3_1" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_3_1" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>

                    <tr rowindex="2">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="0%" id="OUTPUTVALUE_t_3_2" name="OUTPUTVALUE" onblur="blurValue(this)" type="text">@((ViewBag.canshu == "有功功率") ? "Pn" : "In")</td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_3_2" name="READVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_3_2" name="ACTUALVALUE" onblur="ACTUALVALUE(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_3_2" name="SHIJISHUCHUZHI" onblur="SHIJISHUCHUZHI(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="RELATIVEERROR_t_3_2" name="RELATIVEERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_3_2" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="7">
                            <input type="hidden" id="hideLiangChengShuLiang" value="3" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>

</tbody>

@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex, thi) {
            $("#hideDangQianTongDao").val(tbodyIndex);

            CreateRow(thi);
            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框

        }
        //增加行
        function CreateRow(thi) {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $(thi).prev().val();//$("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            //LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            txtPointLen = $("#txtPointLen").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength =
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算
                var unit = '@((ViewBag.canshu == "有功功率") ? "Pn" : "In")';//在输入框后面的单位


                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
                if (rowidx == 0) {
                    //需要合并的列
                }
                //需要合并的列
                //引用误差=Round(（实际输出值-标准输出值）/（输出范围的最大值-输出范围的最小值）*100/等级,1)*等级
                //测量点 需要下拉框
                htmlString.push(SetTDHtml(rowspan, "OUTPUTVALUE", HangHaoID, rowidx, txtVal, "classstyle120", unit));
                //二次输入标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, txtVal, "classstyle100"));
                //标准输出值
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, txtVal, "classstyle100", "", "ACTUALVALUE"));
                //实际输出值
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, txtVal, "classstyle100", "", "SHIJISHUCHUZHI"));
                //引用误差
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, txtVal, "classstyle100"));
                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, txtVal, "classstyle"));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            //$('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
       
        //离开事件，用于计算
        function SHIJISHUCHUZHI(obj) {
         
            yinYongWuCha(obj, "SHIJISHUCHUZHI", "ACTUALVALUE", "dianmyya", "dianmyliu", "DengJi", "RELATIVEERROR");


        }     //离开事件，用于计算
        function ACTUALVALUE(obj) {
            yinYongWuCha(obj, "SHIJISHUCHUZHI", "ACTUALVALUE", "dianmyya", "dianmyliu", "DengJi", "RELATIVEERROR");


        } 
        //离开事件，用于计算
        function blurValue(obj) {

            //   LianDongShiJiZhi(obj);
        }


    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->

}


