@model Langben.DAL.PROJECTTEMPLET

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                    
                <div class="display-label">
                      @Html.LabelFor(model => model.RULEID) :
                </div>
                <div class="display-field">
                    @if (Model.RULE != null)
                       {
                    @Model.RULE.NAMEOTHER
                    } 
                </div>        
                <div class="display-label">
                      @Html.LabelFor(model => model.SCHEMEID) :
                </div>
                <div class="display-field">
                    @if (Model.SCHEME != null)
                       {
                    @Model.SCHEME.NAME
                    } 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.HTMLVALUE) :
                </div>
                <div class="display-field" id='HTMLVALUE'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATETIME) :
                </div>
                <div class="display-field" id='CREATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATEPERSON) :
                </div>
                <div class="display-field" id='CREATEPERSON'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATETIME) :
                </div>
                <div class="display-field" id='UPDATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATEPERSON) :
                </div>
                <div class="display-field" id='UPDATEPERSON'>
                </div>
        </div>
    </fieldset>

<script type="text/javascript">

    $(function () {
        // 获取内容并显示
        var id = '@ViewBag.Id';
        $.ajax({
            url: "/api/PROJECTTEMPLETApi/" + id,
            type: "POST",
            // async: false,
            success: function (res) {
		$("#HTMLVALUE").html(res.HTMLVALUE);$("#CREATETIME").html(res.CREATETIME);$("#CREATEPERSON").html(res.CREATEPERSON);$("#UPDATETIME").html(res.UPDATETIME);$("#UPDATEPERSON").html(res.UPDATEPERSON);
            }
        })
    });
</script>

