@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "交流电压（电流）测量-相对误差-单相(多通道）";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th align="center" width="140">量程</th>
        <th width="140" align="center">@((ViewBag.canshu == "输出") ? "输出示值" : "标准值")</th>
        <th width="140" align="center">频率</th>
        <th width="140" align="center">
            @if (ViewBag.canshu == "输出")
            {
                ViewBag.data = "输出实际值";
            }
            else
            {
                ViewBag.data = "显示值";
            }
            @Html.Raw(ViewBag.data)
            @if ((ViewBag.data == "显示值"))
            {
                <select class="my-combobox" name="sssss" id="sssss_t_1_1" style="width:100px;">
                    <option value=""></option>
                   
                    <option value="U0">U0</option> 
                   
                    <option value="U1">U1</option>
                   
                    <option value="U2">U2</option>  
                   
                    <option value="U3">U3</option>
                   
                    <option value="U4">U4</option> 
                   
                    <option value="U5">U5</option> 
                   
                    <option value="U6">U6</option> 
                   
                    <option value="U7">U7</option> 
                   
                    <option value="U8">U8</option> 
                   
                    <option value="U9">U9</option> 
                   
                    <option value="U10">U10</option> 
                   
                    <option value="U11">U11</option> 
                   
                    <option value="U12">U12</option> 
                   
                    <option value="U13">U13</option> 
                   
                    <option value="U14">U14</option> 
                   
                    <option value="U15">U15</option> 
                   
                    <option value="U16">U16</option> 
                   
                    <option value="U17">U17</option> 
                   
                    <option value="U18">U18</option> 
                   
                    <option value="U19">U19</option> 
                   
                    <option value="U20">U20</option> 

                   
                    <option value="CH0">CH0</option> 
                   
                    <option value="CH1">CH1</option>
                   
                    <option value="CH2">CH2</option>  
                   
                    <option value="CH3">CH3</option>
                   
                    <option value="CH4">CH4</option> 
                   
                    <option value="CH5">CH5</option> 
                   
                    <option value="CH6">CH6</option> 
                   
                    <option value="CH7">CH7</option> 
                   
                    <option value="CH8">CH8</option> 
                   
                    <option value="CH9">CH9</option> 
                   
                    <option value="CH10">CH10</option> 
                   
                    <option value="CH11">CH11</option> 
                   
                    <option value="CH12">CH12</option> 
                   
                    <option value="CH13">CH13</option> 
                   
                    <option value="CH14">CH14</option> 
                   
                    <option value="CH15">CH15</option> 
                   
                    <option value="CH16">CH16</option> 

                   
                    <option value="UA1">UA1</option> 
                   
                    <option value="UA2">UA2</option>
                   
                    <option value="UA3">UA3</option>  
                   
                    <option value="UA4">UA4</option>
                   
                    <option value="UA5">UA5</option> 
                   
                    <option value="UA6">UA6</option> 

                   
                    <option value="UB1">UB1</option> 
                   
                    <option value="UB2">UB2</option>
                   
                    <option value="UB3">UB3</option>  
                   
                    <option value="UB4">UB4</option>
                   
                    <option value="UB5">UB5</option> 
                   
                    <option value="UB6">UB6</option> 

                   
                    <option value="UC1">UC1</option> 
                   
                    <option value="UC2">UC2</option>
                   
                    <option value="UC3">UB3</option>  
                   
                    <option value="UC4">UC4</option>
                   
                    <option value="UC5">UC5</option> 
                   
                    <option value="UC6">UC6</option> 

                   
                    <option value="U01">U01</option> 
                   
                    <option value="U02">U02</option>
                   
                    <option value="U03">U03</option>  
                   
                    <option value="U04">U04</option>
                   
                    <option value="U05">U05</option> 
                   
                    <option value="U06">U06</option> 

                </select>
            }
        </th>
        <th width="140" align="center">@ViewBag.wucha %</th>
        <th align="center">
            校准结果的不确定度<br>
            U(k = <select class="my-combobox" name="K" id="K_t_1_1">
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="√3">√3</option>
</select>

            )
        </th>
    </tr>

</thead>

<tbody id="tbody_moban">
    <!--表体-->
    <!--插入行的位置-->
</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="7">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>

        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        $(function () {
            //注
            if ($('#REMARK').val() == "") {
                $('#REMARK').val("显示值、标准值的单位与量程单位一致。");
            }



        });
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

            $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程



            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值

                if (rowidx == 0) {
                    //需要合并的列 //量程

                    htmlString.push(SetTDHtml(txtPoint, "READVALUE", HangHaoID, rowidx, txtNumber, ""));

                }

                //需要合并的列


                //标准值 增加下拉框单位V
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, '', "classstyle100", "", "@((ViewBag.wucha == "相对误差") ? "resetBiaoZhunZhi" : "jueDuiWuChaBiaoZhunZhi")"));

                //赫兹 增加下拉框单位赫兹
                htmlString.push(SetTDHtml(rowspan, "HZMY", HangHaoID, rowidx, '', "classstyle100"));

                //显示值 增加下拉框单位V
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, '', "classstyle100", '', "@((ViewBag.wucha == "相对误差") ? "resetBiaoZhunZhi" : "jueDuiWuChaBiaoZhunZhi")"));

                //相对误差
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', "classstyle100"));


                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', "classstyle"));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        //计算标准值 绝对误差
        function jueDuiWuChaBiaoZhunZhi(obj) {

            jueDuiWuCha(obj, "ACTUALVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR");

        }

        //计算显示值
        function resetBiaoZhunZhi(obj) {
            xiangDuiWuCha(obj, "ACTUALVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR");

        }


        //离开事件，用于计算
        function blurValue(obj) {

            //   LianDongShiJiZhi(obj);
        }


    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            <tr>
                <td width="80" align="right">量程值：</td>
                <td><input type="text" id="txtNumber" name="txtNumber" value=""  class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint"  name="txtPoint" value=""  class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen"  name="txtPointLen" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->
}


