@model Langben.DAL.PROJECTTEMPLET

@{
    ViewBag.title= " 直流电压（电流）测量-正负极性-相对误差（多通道）（已做）";
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models

<div data-options="region:'north',border:false" style="height: 50px; overflow:hidden; padding:5px;">
    <div class="easyui-panel" title="" data-options="iconcls:'icon-search',fit:true" style="padding:5px; overflow:hidden;">
        <table>
            <tr>
                <td>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="CreateTongDao()" id="btnDuoTongDao" style="display:none">增加通道</a>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" id="btnSave" onclick="Save()">保存检测项</a>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" id="btnReset" onclick="Reset()">重置检测项</a>

                    @*<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" id="btnSave_ITE" onclick="Save_ITE()">保存检测项</a>*@
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" id="btnReset_ITE" onclick="Reset_ITE()">重置检测项</a>

                </td>
            </tr>
        </table>
    </div>
</div>

<input type="hidden" id="hideID" value="@ViewBag.ID" /><!--主键-->
<input type="hidden" id="hideRULEID" value="@ViewBag.RULEID" /><!--检测项-->
<input type="hidden" id="hideSCHEMEID" value="@ViewBag.SCHEMEID" /><!--方案编号-->
<input type="hidden" id="hidePREPARE_SCHEMEID" value="@ViewBag.PREPARE_SCHEMEID" /><!--预备方案ID-->
<input type="hidden" id="hideITEID" value="@ViewBag.ITEID" /><!--预备方案检测项ID-->

@if (Model != null && Model.HTMLVALUE != null && Model.HTMLVALUE.Trim() != "")
{
    <input type="hidden" id="hideHTMLVALUE" value="@Model.HTMLVALUE" />
}
else
{
    <input type="hidden" id="hideHTMLVALUE" value="" />
}
<div data-options="region:'center',title:'',iconCls:'icon-ok',border:false" style="padding:3px;" id="divHtml">

    <input type="hidden" id="rowindex" value="0" />
    <div class="mt10" id="tongdao">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl" id="tongdao_moban" style="display:none">
            <thead>
                <tr>
                    <th align="center" width="140">量程</th>
                    <th align="center" width="140">标准值</th>
                    <th align="center" width="140">
                        显示值<br>
                        <select class="my-combobox" name="sssss" id="sssss" style="width:100px;">
                            <option value="AL">&nbsp;&nbsp; </option>
                            <option value="AK">CH1</option>
                            <option value="AZ">CH2</option>
                            <option value="AR">CH3</option>
                            <option value="CA">CH4</option>
                        </select>
                    </th>
                    <th colspan="2" align="center">相对误差</th>   
                </tr>
                <tr>
                    <th align="center" class="f14"><b>+</b></th>
                    <th align="center" class="f14"><b>-</b></th>
                    <th align="center" class="f14"><b>+</b></th>
                    <th align="center" class="f14"><b>-</b></th>
                    <th align="center">
                        U(K = <select class="my-combobox" name="K" id="K_1_1_1">
    <option value="AL">2 </option>
    <option value="AK">3</option>
    <option value="AZ">4</option>


</select>)
                    </th>
                </tr>
            </thead>

            <tbody id="tbody_moban"></tbody>

            <tfoot>
                <tr>
                    <td colspan="7">
                        <input type="hidden" id="hideLiangChengShuLiang" value="0" />
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="mt10">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl">

            <tr>
                <th width="40">注：</th>
                <td colspan="6">
                    <input type="text" class="my-textbox input-width" name="REMARK" data-options="multiline:true" style="height:30px; width:95%" id="REMARK">
                </td>
            </tr>
            <tr>
                <th width="40">结论：</th>
                <td colspan="6">
                    <input type="text" class="my-textbox input-width" name="CONCLUSION" data-options="multiline:true" style="height:30px; width:95%" id="CONCLUSION">
                </td>
            </tr>

        </table>
    </div>
    <input type="hidden" id="hideDangQianTongDao" value="0" />
    <input type="hidden" id="hideTongDaoShuLiang" value="0" />
</div>

<!--增加量程弹层-->
<div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
    <table>
        <tr>
            <td width="80" align="right">量程值：</td>
            <td><input type="text" id="txtNumber" name="txtNumber" class="easyui-textbox required digits" style="width:200px" /></td>
        </tr>
        <tr>
            <td align="right">检测点数：</td>
            <td><input type="text" id="txtPoint" name="txtPoint" class="easyui-textbox required digits" style="width:200px" /></td>
        </tr>
        <tr>
            <td align="right">小数点位数：</td>
            <td><input type="text" id="txtPointLen" name="txtPointLen" class="easyui-textbox required digits" style="width:200px" /></td>
        </tr>
    </table>
</div>
<!--/增加量程弹层-->
<script src="/Scripts/JScript-JianCeXiang-Common.js"></script>

<script src="~/Scripts/jianCeXiang.js"></script>
<script type="text/javascript" language="javascript">
    //var RuleID = $("#hideRULEID").val();//检测项目ID
    //var RuleAttribute = GetRuleAttributeByRuleID(RuleID);
    //var $Tongdao_moban//模板

    //增加量程
    function CreateRow() {
        var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
        var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
        LiangChengShuLiang++;
        var rowspanIdx = $("#txtPoint").val();     //检测点数
        txtNumber = $("#txtNumber").val(); //量程
        var standardValue = "";
        var htmlString = [];
        var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;
        var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//（量程ID）第几个通道_第几个量程
        for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
            rowLength++;
            htmlString.push("<tr rowindex='" + rowLength + "'>");

            var rowspan;
            var name;
            var id;
            var txtVal;
            var ddlhtml;
            var ddlVal;
            var HangHaoID = lianChengID + "_" + rowidx;//（行号ID)量程ID_第几行
            if (rowidx == 0) {

                //量程
                htmlString.push(SetTDHtml(rowspanIdx, "RANGE", lianChengID, null, txtNumber));
                //选用电阻阻值
                //htmlString.push(SetTDHtml(rowspanIdx, "RESISTANCE", lianChengID, null, ""));
            }

            //输出示值

            var changerHTML = "onblur=''";
            //标准值
            htmlString.push(SetTDHtml(1, "OUTPUT_VALUE", HangHaoID, rowidx, ""));
            //显示值
            htmlString.push(SetTDHtml(1, "READ_VALUE", HangHaoID, rowidx, ""));
            //显示值2
            htmlString.push(SetTDHtml(1, "READ_VALUE", HangHaoID, rowidx, ""));
            //相对误差
            htmlString.push(SetTDHtml(1, "RELATIVE_ERROR", HangHaoID, rowidx, ""));
            //相对误差2
            htmlString.push(SetTDHtml(1, "RELATIVE_ERROR", HangHaoID, rowidx, ""));
            //校准结果的不确定度
            htmlString.push(SetTDHtml(1, "UNCERTAINTY_DEGREE", HangHaoID, rowidx, ""));
            htmlString.push("</tr>");
        }
        htmlString = htmlString.join("");
        var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
        $.parser.parse(tagRow);//渲染easyui组建
        $('#dlg').window('close');
        $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang)
    }

    //离开事件，用于计算
    function blurValue(obj) {

    }

</script>


