@model Langben.DAL.VGONGZUOSHICHANG
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<div id="divQuery">
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.WEITUORIQI):
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="WEITUORIQIStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'WEITUORIQIStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="WEITUORIQIEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'WEITUORIQIEnd_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.JIANDINGWANCHENGRIQI):
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="JIANDINGWANCHENGRIQIStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'JIANDINGWANCHENGRIQIStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="JIANDINGWANCHENGRIQIEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'JIANDINGWANCHENGRIQIEnd_Time\');}' })" />
        </div>
    </div>

    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.SHENHERIQI):
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="SHENHERIQIStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'SHENHERIQIStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="SHENHERIQIEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'SHENHERIQIEnd_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.SHIYANSHI):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("SHIYANSHI", Models.SysFieldModels.GetSysField("UNDERTAKE_LABORATORY", "NAME"), "请选择", new { id = "SHIYANSHI" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.PIZHUNRIQI):
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="PIZHUNRIQIStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'PIZHUNRIQIStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="PIZHUNRIQIEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'PIZHUNRIQIEnd_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.JIANDINGXIAOZHUNYUAN):
        </div>
        <div class="input_search-field">
            <input type='text' id='JIANDINGXIAOZHUNYUAN' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.QIJUMINGCHENG):
        </div>
        <div class="input_search-field">
            <input type='text' id='QIJUMINGCHENG' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ZHENGSHUBAOGAOBIANHAO):
        </div>
        <div class="input_search-field">
            <input type='text' id='ZHENGSHUBAOGAOBIANHAO' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CHUCHANGBIANHAO):
        </div>
        <div class="input_search-field">
            <input type='text' id='CHUCHANGBIANHAO' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ZHENGSHUDANWEI):
        </div>
        <div class="input_search-field">
            <input type='text' id='ZHENGSHUDANWEI' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.QIJUXINGHAO):
        </div>
        <div class="input_search-field">
            <input type='text' id='QIJUXINGHAO' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.SHOULIDANWEI):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("SHOULIDANWEI", Models.SysFieldModels.GetSysField("Appliance", "ACCEPT_ORGNIZATION"), "请选择", new { @class = "easyui-combobox" })
        </div>
    </div>



    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
 <br style="clear: both;" />

<script type="text/javascript" language="javascript">
    $(function () {

        $('#flexigridData').datagrid({
            title: '工作时长查询', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '../VGONGZUOSHICHANG/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            toolbar: [

                     {
                         text: '导出报表',
                         iconCls: 'icon-print',
                         handler: function () {
                             return flexiExport();
                         }
                     }
            ],
            columns: [[

                
					{ field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', width: 35, hidden: true }
					,{ field: 'WEITUODANWEI', title:  '@Html.DisplayNameFor(model => model.WEITUODANWEI)', width: 100}
					, { field: 'SUOSHUDANWEI', title: '@Html.DisplayNameFor(model => model.SUOSHUDANWEI)', width: 100 }
					, { field: 'ZHENGSHUDANWEI', title: '@Html.DisplayNameFor(model => model.ZHENGSHUDANWEI)', width: 100 }
					, { field: 'SHOULIDANWEI', title: '@Html.DisplayNameFor(model => model.SHOULIDANWEI)', width: 100 }
					, { field: 'QIJUMINGCHENG', title: '@Html.DisplayNameFor(model => model.QIJUMINGCHENG)', width: 100 }
					, { field: 'SHENGCHANCHANGJIA', title: '@Html.DisplayNameFor(model => model.SHENGCHANCHANGJIA)', width: 100 }
					, { field: 'QIJUXINGHAO', title: '@Html.DisplayNameFor(model => model.QIJUXINGHAO)', width: 100 }
					, { field: 'QIJUGUIGE', title: '@Html.DisplayNameFor(model => model.QIJUGUIGE)', width: 100 }
					, { field: 'CHUCHANGBIANHAO', title: '@Html.DisplayNameFor(model => model.CHUCHANGBIANHAO)', width: 100 }
					, { field: 'SHULIANG', title: '@Html.DisplayNameFor(model => model.SHULIANG)', width: 100 }
					, { field: 'ZHENGSHUBAOGAOBIANHAO', title: '@Html.DisplayNameFor(model => model.ZHENGSHUBAOGAOBIANHAO)', width: 100 }
					, { field: 'SHIYANSHI', title: '@Html.DisplayNameFor(model => model.SHIYANSHI)', width: 100 }
					, { field: 'JIANDINGXIAOZHUNYUAN', title: '@Html.DisplayNameFor(model => model.JIANDINGXIAOZHUNYUAN)', width: 100 }
					, { field: 'HEYANYUAN', title: '@Html.DisplayNameFor(model => model.HEYANYUAN)', width: 100 }

					, {
					    field: 'WEITUORIQI', title: '@Html.DisplayNameFor(model => model.WEITUORIQI)', width: 100, formatter: function (value, row, index) {
					        if (value) {
					            return dateConvert(value);
					        }
					    }
					}
					, {
					    field: 'SHIYANSHIJIESHOUSHIJIAN', title: '@Html.DisplayNameFor(model => model.SHIYANSHIJIESHOUSHIJIAN)', width: 100, formatter: function (value, row, index) {
					        if (value) {
					            return dateConvert(value);
					        }
					    }
					}
					, {
					    field: 'JIANDINGWANCHENGRIQI', title: '@Html.DisplayNameFor(model => model.JIANDINGWANCHENGRIQI)', width: 100, formatter: function (value, row, index) {
					        if (value) {
					            return dateConvert(value);
					        }
					    }
					}
					, {
					    field: 'SHENHERIQI', title: '@Html.DisplayNameFor(model => model.SHENHERIQI)', width: 100, formatter: function (value, row, index) {
					        if (value) {
					            return dateConvert(value);
					        }
					    }
					}
					, {
					    field: 'PIZHUNRIQI', title: '@Html.DisplayNameFor(model => model.PIZHUNRIQI)', width: 100, formatter: function (value, row, index) {
					        if (value) {
					            return dateConvert(value);
					        }
					    }
					}
					, { field: 'DAILINGQUSHICHANG', title: '@Html.DisplayNameFor(model => model.DAILINGQUSHICHANG)', width: 100 }
					, { field: 'JIANDINGSHICHANG', title: '@Html.DisplayNameFor(model => model.JIANDINGSHICHANG)', width: 100 }
					, { field: 'SHENHESHICHANG', title: '@Html.DisplayNameFor(model => model.SHENHESHICHANG)', width: 100 }
					, { field: 'PIZHUNSHICHANG', title: '@Html.DisplayNameFor(model => model.PIZHUNSHICHANG)', width: 100 }
					, { field: 'ZONGSHICHANG', title: '@Html.DisplayNameFor(model => model.ZONGSHICHANG)', width: 100 }
					, { field: 'BEIZHU', title: '@Html.DisplayNameFor(model => model.BEIZHU)', width: 100 }
                ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "WEITUORIQIStart_Time&" + $("#WEITUORIQIStart_Time").val() + "^";
        search += "WEITUORIQIEnd_Time&" + $("#WEITUORIQIEnd_Time").val() + "^";
        search += "JIANDINGWANCHENGRIQIStart_Time&" + $("#JIANDINGWANCHENGRIQIStart_Time").val() + "^";
        search += "JIANDINGWANCHENGRIQIEnd_Time&" + $("#JIANDINGWANCHENGRIQIEnd_Time").val() + "^"; 
        search += "SHENHERIQIStart_Time&" + $("#SHENHERIQIStart_Time").val() + "^";
        search += "SHENHERIQIEnd_Time&" + $("#SHENHERIQIEnd_Time").val() + "^";
        search += "SHIYANSHI&" + $("#SHIYANSHI option:selected").val() + "^";
        search += "PIZHUNRIQIStart_Time&" + $("#PIZHUNRIQIStart_Time").val() + "^";
        search += "PIZHUNRIQIEnd_Time&" + $("#PIZHUNRIQIEnd_Time").val() + "^";
        search += "JIANDINGXIAOZHUNYUAN&" + $("#JIANDINGXIAOZHUNYUAN").val() + "^";
        search += "QIJUMINGCHENG&" + $("#QIJUMINGCHENG").val() + "^";
        search += "ZHENGSHUBAOGAOBIANHAO&" + $("#ZHENGSHUBAOGAOBIANHAO").val() + "^";
        search += "CHUCHANGBIANHAO&" + $("#CHUCHANGBIANHAO").val() + "^";
        search += "ZHENGSHUDANWEI&" + $("#ZHENGSHUDANWEI").val() + "^";
        search += "QIJUXINGHAO&" + $("#QIJUXINGHAO").val() + "^";
        search += "SHOULIDANWEI&" + $('#SHOULIDANWEI').combobox('getValue') + "^";

        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };
 
    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].ID);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].WEITUODANWEI);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }
    //导航到查看详细的按钮
    function getView() {

        var arr = $('#flexigridData').datagrid('getSelections');

        if (arr.length == 1) {
            window.location.href = "../VGONGZUOSHICHANG/Details/" + arr[0].ID;

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;
    }
 
    //“导出”按钮     在6.0版本中修改
    function flexiExport() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "WEITUORIQIStart_Time&" + $("#WEITUORIQIStart_Time").val() + "^";
        search += "WEITUORIQIEnd_Time&" + $("#WEITUORIQIEnd_Time").val() + "^";
        search += "JIANDINGWANCHENGRIQIStart_Time&" + $("#JIANDINGWANCHENGRIQIStart_Time").val() + "^";
        search += "JIANDINGWANCHENGRIQIEnd_Time&" + $("#JIANDINGWANCHENGRIQIEnd_Time").val() + "^";
        search += "SHENHERIQIStart_Time&" + $("#SHENHERIQIStart_Time").val() + "^";
        search += "SHENHERIQIEnd_Time&" + $("#SHENHERIQIEnd_Time").val() + "^";
        search += "SHIYANSHI&" + $("#SHIYANSHI option:selected").val() + "^";
        search += "PIZHUNRIQIStart_Time&" + $("#PIZHUNRIQIStart_Time").val() + "^";
        search += "PIZHUNRIQIEnd_Time&" + $("#PIZHUNRIQIEnd_Time").val() + "^";
        search += "JIANDINGXIAOZHUNYUAN&" + $("#JIANDINGXIAOZHUNYUAN").val() + "^";
        search += "QIJUMINGCHENG&" + $("#QIJUMINGCHENG").val() + "^";
        search += "ZHENGSHUBAOGAOBIANHAO&" + $("#ZHENGSHUBAOGAOBIANHAO").val() + "^";
        search += "CHUCHANGBIANHAO&" + $("#CHUCHANGBIANHAO").val() + "^";
        search += "ZHENGSHUDANWEI&" + $("#ZHENGSHUDANWEI").val() + "^";
        search += "QIJUXINGHAO&" + $("#QIJUXINGHAO").val() + "^";
        search += "SHOULIDANWEI&" + $('#SHOULIDANWEI').combobox('getValue') + "^";


        $.post('../VGONGZUOSHICHANG/GetData2',
            {

                sortName: $('#flexigridData').datagrid('options').sortName,
                sortOrder: $('#flexigridData').datagrid('options').sortOrder,
                search: search
            }, function (res) {
                window.location.href = res;


            });
    };
</script>

