@model Langben.DAL.THEAPPROVALPROCESS

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models
 @section CurentPlace {
    修改  
}

@using (Html.BeginForm("", "api/THEAPPROVALPROCESSApi/Put"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="修改" />
            <input class="a2 f2" type="button" onclick="BackList('THEAPPROVALPROCESS')" value="返回列表" />
        </legend>
        <div class="bigdiv">
            @Html.HiddenFor(model => model.ID )       
            <div class="editor-label">
                <a class="anUnderLine" onclick="showModalOnly('PREPARE_SCHEMEID','../../PREPARE_SCHEME');">
                    @Html.LabelFor(model => model.PREPARE_SCHEMEID) 
                </a>：
            </div>
            <div class="editor-field">
                <div id="checkPREPARE_SCHEMEID">
                        @if(Model!=null)
                        {
                        if (null != Model.PREPARE_SCHEMEID)                      
                        { 
                    <table id="@Model.PREPARE_SCHEMEID"
                        class="deleteStyle">
                        <tr>
                            <td>
                                <img alt="删除"  title="点击删除" onclick="deleteTable('@Model.PREPARE_SCHEMEID ','PREPARE_SCHEMEID');" src="../../../Images/deleteimge.png" />
                            </td>
                            <td>
                                @Model.PREPARE_SCHEME.REPORT_CATEGORY
                            </td>
                        </tr>
                    </table>
                    }} 
                </div>
                @Html.HiddenFor(model => model.PREPARE_SCHEMEID)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.APPROVALCONCLUSIONZI)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.APPROVALCONCLUSIONZI)
                @Html.ValidationMessageFor(model => model.APPROVALCONCLUSIONZI)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.APPROVALCONCLUSION)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.APPROVALCONCLUSION)
                @Html.ValidationMessageFor(model => model.APPROVALCONCLUSION)
            </div>@Html.HiddenFor(model => model.CREATETIME )      
            <div class="editor-label">
                @Html.LabelFor(model => model.CREATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CREATEPERSON)
                @Html.ValidationMessageFor(model => model.CREATEPERSON)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.UPDATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UPDATEPERSON)
                @Html.ValidationMessageFor(model => model.UPDATEPERSON)
            </div>
        </div>
    </fieldset>
}



    <script type="text/javascript">

        $(function () {
            

            // 获取待编辑内容并显示
            var id = '@ViewBag.Id';
            $.ajax({
                url: "/api/THEAPPROVALPROCESSApi/" + id,
                type: "POST",
                // async: false,
                success: function (res) {
                    $("#ID").val(res.ID);$("#APPROVALCONCLUSIONZI").val(res.APPROVALCONCLUSIONZI);$("#APPROVALCONCLUSION").val(res.APPROVALCONCLUSION);$("#CREATETIME").val(res.CREATETIME);$("#CREATEPERSON").val(res.CREATEPERSON);$("#UPDATEPERSON").val(res.UPDATEPERSON);
                }
            })
        });
        

    </script>



