
<!DOCTYPE html>
<html>
<head id="MyHead">

    <title></title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")
    <style type="text/css">
        .combo {
            font-family: 微软雅黑,新宋体;
            height: 24px;
            width: 210px;
            border: 1px solid #CCC;
        }
    </style>
    @RenderSection("HeadContent", false)
 
</head>
<body>
 

        @Html.ValidationSummary(true)
        @RenderBody()

</body>
</html>
