
<!DOCTYPE html>
<html>
<head id="MyHead">

    <title>@ViewBag.title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")

    @RenderSection("HeadContent", false)

    <style type="text/css">
        .classstyle {
        }

        .classstyle100 {
            width: 100px;
        }

        .classstyle120 {
            width: 120px;
        }

        .classstyle140 {
            width: 140px;
        }
    </style>
    <script src="/Scripts/JScript-JianCeXiang-Common.js"></script>
    <script src="~/Scripts/numeral.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height: 50px; overflow:hidden; padding:5px;">
        <div class="easyui-panel" title="" data-options="iconcls:'icon-search',fit:true" style="padding:5px; overflow:hidden;">
            <table width="100%">
                <tr>
                    <td>
                        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="CreateTongDao()" id="btnDuoTongDao" style="display:none">增加</a>
                        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" id="btnSave" onclick="Save()">保存检测项</a>
                        误差小数位数：<input name="mywuchaxiaoshuweishu" id="mywuchaxiaoshuweishu" value="2" type="text" class="my-textbox tc" style="width:16px">
                        不确定度展示模式：<select class="my-combobox" name="BuQueDingDuShowType" id="ddlBuQueDingDuShowType" onchange="ChangeBuQueDingDuShowTypeOrBuQueDingDuXiaoShuWeiShu();">
                            <option value="A">原始模式 </option>
                            <option value="B">百分比模式</option>
                            <option value="K">科学计算法模式</option>
                        </select>
                        不确定度小数位数：<input name="BuQueDingDuXiaoShuWeiShu" id="BuQueDingDuXiaoShuWeiShu" value="2" type="text" class="my-textbox tc" style="width:16px" onchange="ChangeBuQueDingDuShowTypeOrBuQueDingDuXiaoShuWeiShu();">
                       
                    </td>
                    <td align="right">
                        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" id="btnReset" onclick="Reset()">重置检测项</a>
                    </td>
                </tr>
            </table>
        </div>
    </div><!--顶部按钮-->

    <input type="hidden" id="hideID" value="@ViewBag.ID" /><!--检定项目模板主键-->
    <input type="hidden" id="hideRULEID" value="@ViewBag.RULEID" /><!--检测项-->
    <input type="hidden" id="hideSCHEMEID" value="@ViewBag.SCHEMEID" /><!--方案编号-->
    <input type="hidden" id="hidePREPARE_SCHEMEID" value="@ViewBag.PREPARE_SCHEMEID" /><!--预备方案ID-->
    <input type="hidden" id="hideITEID" value="@ViewBag.ITEID" /><!--预备方案检测项ID-->
    <!--加载上次保存的html，如果没有，就为空-->
    @if (string.IsNullOrWhiteSpace(ViewBag.HTMLVALUE))
    {
        <input type="hidden" id="hideHTMLVALUE" value="" />
    }
    else
    {
        <input type="hidden" id="hideHTMLVALUE" value="@ViewBag.HTMLVALUE" />

    }

    <div data-options="region:'center',title:'',iconCls:'icon-ok',border:false" style="padding:3px;" id="divHtml">
        <input type="hidden" id="hideDangQianTongDao" value="0" /><!--当前通道-->
        <input type="hidden" id="hideTongDaoShuLiang" value="0" /><!--通道数量-->



        <div class="mt10" id="tongdao">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl" id="tongdao_moban" style="display:none">
                @RenderBody()
            </table>
        </div>


        <div class="mt10">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl">

                <tr>
                    <th width="40">注：</th>
                    <td>
                        <textarea name="REMARK" id="REMARK"   class=""  height:40px; width:95%"></textarea>
                           
</td>
                </tr>
                <tr>
                    <th width="40">结论：</th>
                    <td>
                        <input type="text" class="" name="CONCLUSION" data-options="multiline:true" style="height:40px; width:95%" id="CONCLUSION">
                    </td>
                </tr>

            </table>
            @*@RenderSection("BUQueDingDu", false)*@
            <div id="BUQueDingDuDiBu">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl mt10" id="tbBuQueDingDuD">
                    <tbody id="tbodyBuQueDingDuD_2" class="dibubuque1">
                        <tr>
                            <td align="center" width="40%">
                            <input name="D1" id="D1_1" type="text" class="my-textbox tr" value="" style="width:96%" /></td>
                            <td>
                                <i>U</i><small>rel</small>(k =
                                <select class="my-combobox" name="KD" id="KD_1">
                                    <option value="2">2 </option>
                                    <option value="3">3</option>
                                    <option value="√3">√3</option>
                                </select>
                                ) =
                                <input class="my-textbox " value="" name="txtvalueD" style="width:300px" id="txtvalueD_1" type="text">
                                <input type='hidden' name='BuQueDingDuLuJing' id='BuQueDingDuLuJing_txtvalueD_1' value='' />
                                <input type='hidden' name='BuQueDingDuZhi' id='BuQueDingDuZhi_txtvalueD_1' value='' />
                                <input type="button" class="my-btn" value="计 算" name="btn_txtvalueD" id="btn_txtvalueD_1" onclick="JiSuanBuQueDingDu_DiBu(this);" />
                            </td>
                        </tr>
                    </tbody>
                    <tr>
                        <td colspan="8" style="background:#F7F7F7">
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="addBuQueDingRow()">增加不确定度计算行</a>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl mt10" id="tbBuQueDingDuG">
                    <tbody id="tbodyBuQueDingDuG_2" class="dibubuque1">
                        <tr>
                            <td align="center" width="40%"><input name="G1" id="G1_1" type="text" class="my-textbox tr" value="" style="width:96%" /></td>
                            <td>
                                <i>U</i><small>rel</small>(k =
                                <select class="my-combobox" name="KG" id="KG_1">
                                    <option value="2">2 </option>
                                    <option value="3">3</option>
                                    <option value="√3">√3</option>
                                </select>
                                ) =
                                <input class="my-textbox " value="" name="txtvalueG" style="width:300px" id="txtvalueG_1" type="text">
                                <input type='hidden' name='BuQueDingDuLuJing' id='BuQueDingDuLuJing_txtvalueG_1' value='' />
                                <input type='hidden' name='BuQueDingDuZhi' id='BuQueDingDuZhi_txtvalueG_1' value='' />
                                <input type="button" class="my-btn" value="计 算" name="btn_txtvalueG" id="btn_txtvalueG_1" onclick="JiSuanBuQueDingDu_DiBu(this);" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="40%"><input name="G1" id="G1_2" type="text" class="my-textbox tr" value="" style="width:96%" /></td>
                            <td>
                                <i>U</i><small>rel</small>(k =
                                <select class="my-combobox" name="KG" id="KG_2">
                                    <option value="2">2 </option>
                                    <option value="3">3</option>
                                    <option value="√3">√3</option>
                                </select>
                                ) =
                                <input class="my-textbox " value="" name="txtvalueG" style="width:300px" id="txtvalueG_2" type="text">
                                <input type='hidden' name='BuQueDingDuLuJing' id='BuQueDingDuLuJing_txtvalueG_2' value='' />
                                <input type='hidden' name='BuQueDingDuZhi' id='BuQueDingDuZhi_txtvalueG_2' value='' />
                                <input type="button" class="my-btn" value="计 算" name="btn_txtvalueG" id="btn_txtvalueG_2" onclick="JiSuanBuQueDingDu_DiBu(this);" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--增加量程弹层-->
        @RenderSection("TanKuang", false)
        <!--/增加量程弹层-->


    </div>
    @RenderSection("JS", false)
    <script src="/Scripts/jianCeXiang.js"></script>
     
</body>

</html>
<script type="text/javascript">

</script>
