@model Langben.DAL.METERING_STANDARD_DEVICE

@{
    Layout = "~/Views/Shared/Create.cshtml";
}
@using Common
@using Models

@section CurentPlace {

    创建

}
@using (Html.BeginForm("", "api/METERING_STANDARD_DEVICEApi/Post"))
{
    <input type="hidden" id="rowindex" value="1" />
    <div data-options="region:'center',title:'',iconCls:'icon-ok',border:false" style="padding:3px;">
        @if (ViewBag.IS == "A")
        {
            <div class="mt10" id="">
                <br>

                <div id="divtable">
                    <h2 class="f14 mt10"> 不确定度/准确度等级/最大允许误差 </h2>
                    <label>
                        <input type="radio" name="three" id="three_1" onclick="radio.check()" checked="checked" />
                        准确度等级
                    </label>
                    <div class="mt10" id="div1">
                        <ul class="clear mt10">
                            <li class="fl mr10">
                                <input class="my-textbox " value="" name="THEACCURACYLEVEL" style="width:200px" placeholder="请输入数值">
                            </li>
                            <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                        </ul>

                    </div>
                    <br>
                    <label>
                        <input type="radio" name="three" id="three_2" onclick="radio.check()" />
                        最大允许误差
                    </label>
                    <div class="clear" id="div2">
                        <ul class="clear mt10">
                            <li class="fl mr10">
                                <select class="my-combobox" name="MAXCATEGORIES">
                                    <option value="">请选择类别</option>
                                    <option value="DCV:">DCV:</option>
                                    <option value="ACV:">ACV:</option>
                                    <option value="DCI:">DCI:</option>
                                    <option value="ACI:">ACI:</option>
                                    <option value="DCR:">DCR:</option>
                                </select>
                            </li>
                            <li class="fl mr10">
                                ±
                                <input class="my-textbox " value="" name="MAXVALUE" placeholder="填入数据">
                                %
                            </li>
                            <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                        </ul>
                    </div>
                    <br>
                    <label>
                        <input type="radio" name="three" id="three_3" onclick="radio.check()" />
                        不确定度
                    </label>
                    <div class="clear" id="div3">
                        <ul class="clear mt10">
                            <li class="fl mr10">
                                <select class="my-combobox" name="THEUNCERTAINTY">
                                    <option value="">请选择类别</option>
                                    <option value="DCV:Urel=">DCV:Urel=</option>
                                    <option value="ACV:Urel=">ACV:Urel=</option>
                                    <option value="DCI:Urel=">DCI:Urel=</option>
                                    <option value="ACI:Urel=">ACI:Urel=</option>
                                    <option value="DCR:Urel=">DCR:Urel=</option>
                                </select>
                            </li>
                            <li class="fl mr10">
                                <input class="my-textbox " value="" name="THEUNCERTAINTYVALUE" placeholder="填入数据">
                            </li>
                            <li class="fl mr10">
                                <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                    <option value="">请选择指数级别</option>
                                    <option value="×10-1">×10-1</option>
                                    <option value="×10-2">×10-2</option>
                                    <option value="×10-3">×10-3</option>
                                    <option value="×10-4">×10-4</option>
                                    <option value="×10-5">×10-5</option>
                                    <option value="×10-6">×10-6</option>
                                </select>
                            </li>
                            <li class="fl mr10">
                                <select class="my-combobox" name="THEUNCERTAINTYVALUEK">
                                    <option value="">请选择k值</option>
                                    <option value="k=2">k=2</option>
                                    <option value="k=3">k=3</option>
                                </select>
                            </li>
                            <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <h2 class="f14 mt10"> 证书信息 </h2>
                <div class="mt10" id="div4">

                    <ul class="clear mt10">
                        <li class="fl mr10">
                            证书发放单位：
                            <input class="my-textbox " value="" name="CERTIFICATEUNIT">
                        </li>
                        <li class="fl mr10">
                            证书编号：
                            <input class="my-textbox " value="" name="CERTIFICATE_NUM">
                        </li>
                        <li class="fl mr10">
                            有效期至(如:2016-01-01)：
                            <input class="my-textbox" value="" name="VALID_TO" onblur="jaoyanshijian(this)">
                        </li>
                        <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                    </ul>
                </div>

            </div>
        }
        else if (ViewBag.IS == "UA")
        {
            <div class="mt10" id="">
                <label>
                    误差来源
                </label>
                <div class="mt10" id="div5">
                    <ul class="clear mt10">
                        <li class="fl mr10">
                            评定项：
                            <select class="my-combobox" name="ASSESSMENTITEM">
                                <option value="">请选择</option>
                                <option value="三相四线">三相四线</option>
                                <option value="三相三线">三相三线</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            误差来源：
                            <input class="my-textbox " value="" name="ERRORSOURCES">
                        </li>
                        <li class="fl mr10">
                            误差限：
                            <input class="my-textbox" value="" name="ERRORLIMITS">
                        </li>
                        <li class="fl mr10">
                            误差限单位：
                            <select class="my-combobox" name="ERRORLIMITUNIT">
                                <option value="">请选择</option>
                                <option value="%">%</option>
                                <option value="Ω">Ω</option>
                                <option value="mΩ">mΩ</option>
                                <option value="&prime;">&prime;</option>
                                <option value="mS">mS</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            误差分布状况：
                            <select class="my-combobox" name="THEERRODISTRIBUTION">
                                <option value="">请选择</option>
                                <option value="正态分布">正态分布</option>
                                <option value="矩形分布">矩形分布</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            k：
                            <select class="my-combobox" name="KVALE">
                                <option value="">请选择</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            不确定度ui：
                            <input class="my-textbox" value="" name="UNCERTAINTYUI">
                        </li>
                        <li class="fl mr10">
                            不确定度ui单位：
                            <select class="my-combobox" name="UNCERTAINTYUIUNIT">
                                <option value="">请选择</option>
                                <option value="%">%</option>
                                <option value="Ω">Ω</option>
                                <option value="mΩ">mΩ</option>
                                <option value="&prime;">&prime;</option>
                            </select>

                        </li>
                        <li class="fl mr10">
                            备注：
                            <input class="my-textbox" value="" name="NOTE">
                        </li>
                        <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                    </ul>
                </div>

            </div>
        }
        else if (ViewBag.IS == "UB")
        {
            <div class="mt10" id="">
                <label>
                    范围指标
                </label>
                <div class="mt10" id="div6">
                    <ul class="clear mt10">
                        <li class="fl mr10">
                            评定项：
                            <select class="my-combobox" name="ASSESSMENTITEM" onchange="gradeChange(this)" id="ASSESSMENTITEM">
                                <option value="">请选择</option>
                                <option value="5720A交流电流测量">5720A交流电流测量</option>
                                <option value="5720A交流电压测量单相">5720A交流电压测量单相</option>
                                <option value="5720A交流电压测量三相">5720A交流电压测量三相</option>
                                <option value="5720A直流电流测量">5720A直流电流测量</option>
                                <option value="5720A直流电压测量">5720A直流电压测量</option>
                                <option value="5720A直流电阻输出">5720A直流电阻输出</option>
                                <option value="8508A交流电流输出">85080A交流电流输出</option>
                                <option value="8508A交流电压变换器">8508A交流电压变换器</option>
                                <option value="8508A交流电压输出">8508A交流电压输出</option>
                                <option value="8508A直流电流输出">8508A直流电流输出</option>
                                <option value="8508A直流电压输出">8508A直流电压输出</option>
                                <option value="8508A直流电阻测量">8508A直流电阻测量</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            量程范围起：
                            <input class="my-textbox " value="" name="THERANGESCOPE">
                        </li>
                        <li class="fl mr10">
                            起单位：
                            <select class="my-combobox" name="THEUNIT" id="THEUNIT">
                                <option value="">请选择</option>                         
                            </select>
                        </li>
                        <li class="fl mr10">
                            起关系：
                            <select class="my-combobox" name="THERELATIONSHIP">
                                <option value="">请选择</option>
                                <option value="<"><</option>
                               
                                <option value="<="><=</option>
                                
                            </select>
                        </li>
                        <li class="fl mr10">
                            量程范围止：
                            <input class="my-textbox " value="" name="ENDRANGESCOPE">
                        </li>
                        <li class="fl mr10">
                            止单位：
                            <select class="my-combobox" name="ENDUNIT" id="ENDUNIT">
                                <option value="">请选择</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            止关系：
                            <select class="my-combobox" name="ENDRELATIONSHIP">
                                <option value="">请选择</option>
                                <option value="<"><</option>
                                
                                <option value="<="><=</option>
                               
                            </select>
                        </li>
                        <li class="fl mr10">
                            频率范围起：
                            <input class="my-textbox " value="" name="THEFREQUENCY">
                        </li>
                        <li class="fl mr10">
                            起单位：
                            <select class="my-combobox" name="THEUNITFREQUENCY">
                                <option value="">请选择</option>
                                <option value="Hz">Hz</option>
                                <option value="kHz">kHz</option>
                                <option value="MHz">MHz</option>
                                <option value="GHz">GHz</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            频率起关系：
                            <select class="my-combobox" name="THERELATIONSHIPFREQUENCY">
                                <option value="">请选择</option>
                                <option value="<"><</option>
                               
                                <option value="<="><=</option>
                              
                            </select>
                        </li>
                        <li class="fl mr10">
                            频率范围止：
                            <input class="my-textbox " value="" name="ENDFREQUENCY">
                        </li>
                        <li class="fl mr10">
                            频率止单位：
                            <select class="my-combobox" name="ENDUNITFREQUENCY">
                                <option value="">请选择</option>
                                <option value="Hz">Hz</option>
                                <option value="kHz">kHz</option>
                                <option value="MHz">MHz</option>
                                <option value="GHz">GHz</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            频率止关系：
                            <select class="my-combobox" name="ENDRELATIONSHIPFREQUENCY">
                                <option value="">请选择</option>
                                <option value="<"><</option>
                                
                                <option value="<="><=</option>
                           
                            </select>
                        </li>
                        <li class="fl mr10">
                            指标1：
                            <input class="my-textbox " value="" name="INDEX1">

                        </li>
                        <li class="fl mr10">
                            指标1单位：
                            <select class="my-combobox" name="INDEX1UNIT" id="INDEX1UNIT">
                                <option value="">请选择</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            指标2：
                            <input class="my-textbox " value="" name="ENDUNITFREQUENCY">
                        </li>
                        <li class="fl mr10">
                            指标2单位：
                            <select class="my-combobox" name="INDEX2UNIT" id="INDEX2UNIT">
                                <option value="">请选择</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            备注：
                            <input class="my-textbox" value="" name="NOTE">
                        </li>
                        <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                    </ul>
                </div>
            </div>

        }

        <div class="mt10"><a href="javascript:;" class="easyui-linkbutton" onclick="baocun()">保存</a> <a href="javascript:;" class="easyui-linkbutton" onclick="javascript: window.location.href = '/METERING_STANDARD_DEVICE/Index';">返回</a></div>
    </div>
    <script>
        //$(function () {
        //    $("#state").bind('change', function (obj) {
        //        (($(this).val() == 1) ? $('#choicePre').show() : $('#choicePre').hide());

        //    }); 0
        //})
        var radio = {
            check: function () {
                var obj = $("input[name='three']:checked");
                var id = obj.attr("id");
                switch (id) {
                    case ("three_1"):
                        var row = $("#div2 ul");
                        var row2 = $("#div3 ul");
                        row.each(function () {
                            if ($("#div2 ul").length > 1)
                                $(this).remove();
                            else
                                $("#div2").find(":text,:selected,select,textarea").each(function () {
                                    $(this).val("");
                                    //$(this).combobox('select', "");
                                })
                        })
                        row2.each(function () {
                            if ($("#div3 ul").length > 1)
                                $(this).remove();
                            else
                                $("#div3").find(":text,:selected,select,textarea").each(function () {
                                    $(this).val("");
                                    //$(this).combobox('select', "");
                                })
                        })
                        break
                    case ("three_2"):
                        var row = $("#div1 ul");
                        var row2 = $("#div3 ul");
                        row.each(function () {
                            if ($("#div1 ul").length > 1)
                                $(this).remove();
                            else
                                $("#div1").find(":text,:selected,select,textarea").each(function () {
                                    $(this).val("");
                                    //$(this).combobox('select', "");
                                })
                        })
                        row2.each(function () {
                            if ($("#div3 ul").length > 1)
                                $(this).remove();
                            else
                                $("#div3").find(":text,:selected,select,textarea").each(function () {
                                    $(this).val("");
                                    //$(this).combobox('select', "");
                                })
                        })
                        break
                    case ("three_3"):
                        var row = $("#div2 ul");
                        var row2 = $("#div1 ul");
                        row.each(function () {
                            if ($("#div2 ul").length > 1)
                                $(this).remove();
                            else
                                $("#div2").find(":text,:selected,select,textarea").each(function () {
                                    $(this).val("");
                                    //$(this).combobox('select', "");
                                })
                        })
                        row2.each(function () {
                            if ($("#div1 ul").length > 1)
                                $(this).remove();
                            else
                                $("#div1").find(":text,:selected,select,textarea").each(function () {
                                    $(this).val("");
                                    //$(this).combobox('select', "");
                                })
                        })
                        break
                    default:

                }


            }
        }
        var linkButton = {
            add: function (obj) {
                var html = $(obj).parents('div ul').html();
                var html2 = html.replace(/id="\w*"/, "");
                var newRow = " <ul class=\"clear mt10\">" + html2 + "</ul>";
                var parDiv = $(obj).parents('div ul').parent()
                var newobj = $(parDiv).append(newRow);

                // $.parser.parse();
            },
            del: function (obj) {
                var row = $(obj).parents('div ul');
                if ($(row).parent().children().length > 1)
                    $(row).remove();
                else
                    alert('就剩一行了你还删除呀？');
            }
        }

    </script>


}
<script type="text/javascript">
    //下拉框选择事件
    function gradeChange(ex) {
        var zhi = $(ex).val();      
        if (zhi == "5720A交流电流测量" || zhi == "5720A直流电流测量" || zhi == "85080A交流电流输出" || zhi == "8508A直流电流输出") {
            getCity($("#THEUNIT"));
            getCity($("#ENDUNIT")); 
            getCity($("#INDEX1UNIT"));
            getCity($("#INDEX2UNIT"));         
            tianjiazhi("THEUNIT,ENDUNIT,INDEX1UNIT,INDEX2UNIT","电流")
        }
        else if (zhi == "5720A交流电压测量单相" || zhi == "5720A交流电压测量三相" || zhi == "5720A直流电压测量" || zhi == "8508A交流电压变换器" || zhi == "8508A交流电压输出"||zhi=="8508A直流电压输出") {
            getCity($("#THEUNIT"));
            getCity($("#ENDUNIT"));
            getCity($("#INDEX1UNIT"));
            getCity($("#INDEX2UNIT"));
            tianjiazhi("THEUNIT,ENDUNIT,INDEX1UNIT,INDEX2UNIT", "电压")
        }
        else if (zhi == "5720A直流电阻输出" || zhi == "8508A直流电阻测量") {
            getCity($("#THEUNIT"));
            getCity($("#ENDUNIT"));
            getCity($("#INDEX1UNIT"));
            getCity($("#INDEX2UNIT"));
            tianjiazhi("THEUNIT,ENDUNIT,INDEX1UNIT,INDEX2UNIT", "电阻")
        }
    }
    function tianjiazhi(sun, lei) {
        var lst = sun.split(',');
        if (lei=="电流") {
            for (var i = 0; i < lst.length; i++) {
                $("#" + lst[i] + "").append('<option value="A">A</option><option value="mA">mA</option><option value="μA">μA</option><option value="nA">nA</option><option value="pA">pA</option><option value="kA">kA</option>');
            }
        }
       else if (lei == "电压") {
           for (var i = 0; i < lst.length; i++) {
               $("#" + lst[i] + "").append('<option value="V">V</option><option value="mV">mV</option><option value="μV">μV</option><option value="kV">kV</option><option value="MV">MV</option>');
            }
        }
       else if (lei == "电阻") {
           for (var i = 0; i < lst.length; i++) {
               $("#" + lst[i] + "").append('<option value="Ω">Ω</option><option value="TΩ">TΩ</option><option value="GΩ">GΩ</option><option value="MΩ">MΩ</option><option value="kΩ">kΩ</option><option value="mΩ">mΩ</option><option value="μΩ">μΩ</option>');
            }
        }
    }
    function getCity(City) {
        $(City).empty();
        $("<option></option>")
                .val("")
                .text("请选择")
                .appendTo($(City));
    }
    //时间校验
    function jaoyanshijian(e) {
        var zhi = $(e).val();
        if (zhi != "") {
            var regu = "(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)";
            var re = new RegExp(regu);
            if (!re.test(zhi)) {
                $.messager.alert('操作提示', "时间格式不对!", 'info');
                return false;
            }
        }

    }
    //保存
    function baocun() {
        if ("@ViewBag.IS" == "A") {
            var myArray = null;
            var myArray2 = null;
            var myArray3 = null;
            var myArray4 = null;
            var METERING_STANDARD_DEVICE = new Object();
            var obj = $("input[name='three']:checked");
            var id = obj.attr("id");
            switch (id) {
                case ("three_1"):
                    myArray = new Array()
                    $("#div1").find("ul").each(function () {

                        var THEACCURACYLEVEL = $(this).find("li :input").eq(0).val();
                        var CATEGORY = "AA";
                        if (THEACCURACYLEVEL != null) {
                            myArray.push({ THEACCURACYLEVEL: THEACCURACYLEVEL, CATEGORY: CATEGORY });
                        }
                    })
                    break
                case ("three_2"):
                    myArray2 = new Array()
                    $("#div2").find("ul").each(function () {
                        var MAXCATEGORIES = $(this).find("li :selected").eq(0).val();
                        var MAXVALUE = $(this).find("li :input").eq(1).val();
                        MAXVALUE = "±" + MAXVALUE + "%";
                        var CATEGORY = "AB";
                        if (MAXCATEGORIES != null || MAXVALUE != null) {
                            myArray2.push({ MAXCATEGORIES: MAXCATEGORIES, MAXVALUE: MAXVALUE, CATEGORY: CATEGORY });
                        }
                    })
                    break
                case ("three_3"):
                    myArray3 = new Array()
                    $("#div3").find("ul").each(function () {
                        var THEUNCERTAINTY = $(this).find("li :selected").eq(0).val();
                        var THEUNCERTAINTYVALUE = $(this).find("li :input").eq(1).val();
                        var THEUNCERTAINTYNDEXL = $(this).find("li :selected").eq(1).val();
                        var THEUNCERTAINTYVALUEK = $(this).find("li :selected").eq(2).val();
                        var CATEGORY = "AC";
                        if (THEUNCERTAINTY != null || THEUNCERTAINTYVALUE != null || THEUNCERTAINTYNDEXL != null || THEUNCERTAINTYVALUEK != null) {

                            myArray3.push({ THEUNCERTAINTY: THEUNCERTAINTY, THEUNCERTAINTYVALUE: THEUNCERTAINTYVALUE, THEUNCERTAINTYNDEXL: THEUNCERTAINTYNDEXL, THEUNCERTAINTYVALUEK: THEUNCERTAINTYVALUEK, CATEGORY: CATEGORY });
                        }
                    })
                    break
                default:
            }
            //证书
            myArray4 = new Array();
            debugger
            $("#div4").find("ul").each(function () {
                var CERTIFICATEUNIT = $(this).find("li :input").eq(0).val();
                var CERTIFICATE_NUM = $(this).find("li :input").eq(1).val();
                var VALID_TO = $(this).find("li :input").eq(2).val();
                //校验时间格式是否正确
                if (CERTIFICATEUNIT != "" || CERTIFICATE_NUM != "" || VALID_TO != "") {
                    myArray4.push({ CERTIFICATEUNIT: CERTIFICATEUNIT, CERTIFICATE_NUM: CERTIFICATE_NUM, VALID_TO: VALID_TO });
                }
            })
            if (myArray != null)
                METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray;
            else if (myArray2 != null)
                METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray2;
            else if (myArray3 != null)
                METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray3;
            METERING_STANDARD_DEVICE.METERING_STANDARD_DEVICE_CHECK = myArray4;
            METERING_STANDARD_DEVICE.ID = "@ViewBag.METERING_STANDARD_DEVICEID";
            debugger
            //调用后台方法
            if (ifshujuA(METERING_STANDARD_DEVICE)) {
                //if (false) {
                $.ajax({
                    url: "/api/ALLOWABLE_ERRORApi/Post",
                    type: "Post",
                    data: METERING_STANDARD_DEVICE,
                    dataType: "json",

                    success: function (data) {
                        if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                        else if (data.Code == 1) {
                            $.messager.alert('操作提示', "新增成功！", 'info');
                            return false;
                        }
                        else {
                            if ($.messager) {
                                $.messager.defaults.ok = '继续';
                                $.messager.defaults.cancel = '返回';

                                $.messager.confirm('操作提示', "新增失败！", function (r) {
                                    if (!r) {
                                        window.location.href = 'javascript:history.go(-1)';
                                    }
                                });
                            }
                        }
                    }
                })
            }
        }
        else if ("@ViewBag.IS" == "UA") {
            var myArray5 = new Array();
            var METERING_STANDARD_DEVICE = new Object();
            //*******************************************不确定度
            $("#div5").find("ul").each(function () {
                var ASSESSMENTITEM = $(this).find("li :selected").eq(0).val();//评定项
                var ERRORSOURCES = $(this).find("li :input").eq(1).val();//误差来源
                var ERRORLIMITS = $(this).find("li :input").eq(2).val();//误差限
                var ERRORLIMITUNIT = $(this).find("li :selected").eq(1).val();//误差限单位
                var THEERRODISTRIBUTION = $(this).find("li :selected").eq(2).val();//误差分布状况
                var KVALE = $(this).find("li :selected").eq(3).val();//K
                var UNCERTAINTYUI = $(this).find("li :input").eq(6).val();//不确定度ui
                var UNCERTAINTYUIUNIT = $(this).find("li :selected").eq(4).val();//不确定度ui单位
                var NOTE = $(this).find("li :input").eq(7).val();//备注
                var CATEGORY = "UA";
                if (ASSESSMENTITEM != null || ERRORSOURCES != null || THEUNIT != null || ERRORLIMITUNIT != null || THEERRODISTRIBUTION != null || KVALE != null || UNCERTAINTYUI != null || NOTE != null)

                    myArray5.push({ METERING_STANDARD_DEVICEID: "@ViewBag.METERING_STANDARD_DEVICEID", ASSESSMENTITEM: ASSESSMENTITEM, ERRORSOURCES: ERRORSOURCES, ERRORLIMITS: ERRORLIMITS, ERRORLIMITUNIT: ERRORLIMITUNIT, THEERRODISTRIBUTION: THEERRODISTRIBUTION, KVALE: KVALE, UNCERTAINTYUI: UNCERTAINTYUI, NOTE: NOTE, CATEGORY: CATEGORY, UNCERTAINTYUIUNIT: UNCERTAINTYUIUNIT });
            })
            //*****************************************************
            if (myArray5 != null)
                METERING_STANDARD_DEVICE.UNCERTAINTYTABLE = myArray5;
            METERING_STANDARD_DEVICE.ID = "@ViewBag.METERING_STANDARD_DEVICEID";
            debugger
            //调用后台方法
            if (ifshujuUA(METERING_STANDARD_DEVICE)) {
                //if (true) {
                $.ajax({
                    url: "/api/UNCERTAINTYTABLEApi/InstUAUB",
                    type: "Post",
                    data: METERING_STANDARD_DEVICE,
                    //data: { entity: "123" },
                    dataType: "json",

                    success: function (data) {
                        if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                        else if (data.Code == 1) {
                            $.messager.alert('操作提示', "新增成功！", 'info');
                            return false;
                        }
                        else {
                            if ($.messager) {
                                $.messager.defaults.ok = '继续';
                                $.messager.defaults.cancel = '返回';

                                $.messager.confirm('操作提示', "新增失败！", function (r) {
                                    if (!r) {
                                        window.location.href = 'javascript:history.go(-1)';
                                    }
                                });
                            }
                        }
                    }
                })
            }
        }
        else if ("@ViewBag.IS" == "UB") {
            var myArray6 = new Array();
            var METERING_STANDARD_DEVICE = new Object();
            //*******************************************不确定度
            $("#div6").find("ul").each(function () {
                var ASSESSMENTITEM = $(this).find("li :selected").eq(0).val();//评定项
                var THERANGESCOPE = $(this).find("li :input").eq(1).val();//量程范围起
                var ERRORLIMITS = $(this).find("li :selected").eq(1).val();//起单位
                var THERELATIONSHIP = $(this).find("li :selected").eq(2).val();//起关系
                var ENDRANGESCOPE = $(this).find("li :input").eq(4).val();//量程范围止
                var ENDUNIT = $(this).find("li :selected").eq(3).val();//止单位
                var ENDRELATIONSHIP = $(this).find("li :selected").eq(4).val();//止关系
                var THEFREQUENCY = $(this).find("li :input").eq(7).val();//频率范围起
                var THEUNITFREQUENCY = $(this).find("li :selected").eq(5).val();//起单位
                var THERELATIONSHIPFREQUENCY = $(this).find("li :selected").eq(6).val();//频率起关系
                var ENDFREQUENCY = $(this).find("li :input").eq(10).val();//频率范围止
                var ENDUNITFREQUENCY = $(this).find("li :selected").eq(7).val();//频率止单位
                var ENDRELATIONSHIPFREQUENCY = $(this).find("li :selected").eq(8).val();//频率止关系
                var INDEX1 = $(this).find("li :input").eq(13).val();//指标1
                var INDEX1UNIT = $(this).find("li :selected").eq(9).val();//指标1单位
                var INDEX2 = $(this).find("li :input").eq(15).val();//指标2
                var INDEX2UNIT = $(this).find("li :selected").eq(10).val();//指标2单位
                var NOTE = $(this).find("li :input").eq(17).val();//备注
                var CATEGORY = "UB";
                if (ASSESSMENTITEM != null || THERANGESCOPE != null || ERRORLIMITS != null || THERELATIONSHIP != null || ENDRANGESCOPE != null || ENDUNIT != null || ENDRELATIONSHIP != null || THEFREQUENCY != null || THEUNITFREQUENCY != null || THERELATIONSHIPFREQUENCY != null || ENDFREQUENCY != null || ENDUNITFREQUENCY != null || ENDRELATIONSHIPFREQUENCY != null || INDEX1 != null || INDEX1UNIT != null || INDEX2 != null || INDEX2UNIT != null || NOTE != null)
                    myArray6.push({ METERING_STANDARD_DEVICEID: "@ViewBag.METERING_STANDARD_DEVICEID", ASSESSMENTITEM: ASSESSMENTITEM, THERANGESCOPE: THERANGESCOPE, ERRORLIMITS: ERRORLIMITS, THERELATIONSHIP: THERELATIONSHIP, ENDRANGESCOPE: ENDRANGESCOPE, ENDUNIT: ENDUNIT, ENDRELATIONSHIP: ENDRELATIONSHIP, THEFREQUENCY: THEFREQUENCY, THEUNITFREQUENCY: THEUNITFREQUENCY, THERELATIONSHIPFREQUENCY: THERELATIONSHIPFREQUENCY, ENDFREQUENCY: ENDFREQUENCY, ENDUNITFREQUENCY: ENDUNITFREQUENCY, ENDRELATIONSHIPFREQUENCY: ENDRELATIONSHIPFREQUENCY, INDEX1: INDEX1, INDEX1UNIT: INDEX1UNIT, INDEX2: INDEX2, INDEX2UNIT: INDEX2UNIT, NOTE: NOTE, CATEGORY: CATEGORY });
            })
            //*****************************************************
            if (myArray6 != null)
                METERING_STANDARD_DEVICE.UNCERTAINTYTABLE = myArray6;
            METERING_STANDARD_DEVICE.ID = "@ViewBag.METERING_STANDARD_DEVICEID";
            //调用后台方法
            if (ifshujuUB(METERING_STANDARD_DEVICE)) {
                $.ajax({
                    url: "/api/UNCERTAINTYTABLEApi/InstUAUB",
                    type: "Post",
                    data: METERING_STANDARD_DEVICE,
                    dataType: "json",

                    success: function (data) {
                        if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                        else if (data.Code == 1) {
                            $.messager.alert('操作提示', "新增成功！", 'info');
                            return false;
                        }
                        else {
                            if ($.messager) {
                                $.messager.defaults.ok = '继续';
                                $.messager.defaults.cancel = '返回';

                                $.messager.confirm('操作提示', "新增失败！", function (r) {
                                    if (!r) {
                                        window.location.href = 'javascript:history.go(-1)';
                                    }
                                });
                            }
                        }
                    }
                })
            }
        }
    }
    //数据校验
    function ifshujuA(m) {
        var zhi = "";
        if (m.ALLOWABLE_ERROR == null) {
            zhi += "不确定度/准确度等级/最大允许误差不能为空！<br>";
        }
        if (m.METERING_STANDARD_DEVICE_CHECK.length == 0) {
            zhi += "证书信息不能为空！<br>";
        }
        for (var i = 0; i < m.METERING_STANDARD_DEVICE_CHECK.length; i++) {
            if (isNull(m.METERING_STANDARD_DEVICE_CHECK[i].CERTIFICATEUNIT)) {
                zhi += "证书发放单位不能为空！<br>";
            }
            if (isNull(m.METERING_STANDARD_DEVICE_CHECK[i].CERTIFICATE_NUM)) {
                zhi += "证书编号不能为空！<br>";
            }
            if (isNull(m.METERING_STANDARD_DEVICE_CHECK[i].VALID_TO)) {
                zhi += "有效期至不能为空！<br>";
            }
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            //return false;
            return true;
        }
    }
    function ifshujuUA(m) {
        var zhi = "";
        if (isNull(m.UNCERTAINTYTABLE.ASSESSMENTITEM)) {
            zhi += "评定项不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ERRORSOURCES)) {
            zhi += "误差来源不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ERRORLIMITS)) {
            zhi += "误差限不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ERRORLIMITUNIT)) {
            zhi += "误差限单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.KVALE)) {
            zhi += "K不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THEERRODISTRIBUTION)) {
            zhi += "误差分布状况不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.UNCERTAINTYUI)) {
            zhi += "不确定度ui不能为空！<br>";
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            //return false;
            return true;
        }
    }
    function ifshujuUB(m) {
        var zhi = "";
        if (isNull(m.UNCERTAINTYTABLE.ASSESSMENTITEM)) {
            zhi += "评定项不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THERANGESCOPE)) {
            zhi += "量程范围起不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ERRORLIMITS)) {
            zhi += "起单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THERELATIONSHIP)) {
            zhi += "起关系不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDRANGESCOPE)) {
            zhi += "量程范围止不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDUNIT)) {
            zhi += "止单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDRELATIONSHIP)) {
            zhi += "止关系不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THEFREQUENCY)) {
            zhi += "频率范围起不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THEUNITFREQUENCY)) {
            zhi += "频率范围起单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THERELATIONSHIPFREQUENCY)) {
            zhi += "频率范围起关系不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDFREQUENCY)) {
            zhi += "频率范围止不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDUNITFREQUENCY)) {
            zhi += "频率范围止单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDRELATIONSHIPFREQUENCY)) {
            zhi += "频率范围止关系指标不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.INDEX1)) {
            zhi += "指标1不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.INDEX1UNIT)) {
            zhi += "指标1单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.INDEX2)) {
            zhi += "指标2不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.INDEX2UNIT)) {
            zhi += "指标2单位不能为空！<br>";
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            //return false;
            return true;
        }
    }
    function isNull(str) {
        if (str == "") return true;
        var regu = "^[ ]+$";
        var re = new RegExp(regu);
        return re.test(str);
    }
</script>


