@model Langben.DAL.METERING_STANDARD_DEVICE

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models
 @section CurentPlace {
    修改  
}

@using (Html.BeginForm("", "api/METERING_STANDARD_DEVICEApi/Put"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="修改" />
            <input class="a2 f2" type="button" onclick="BackList('METERING_STANDARD_DEVICE')" value="返回列表" />
        </legend>
        <div class="bigdiv">
            @Html.HiddenFor(model => model.ID )      
            <div class="editor-label">
                @Html.LabelFor(model => model.NAME)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NAME)
                @Html.ValidationMessageFor(model => model.NAME)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.TEST_RANGE)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TEST_RANGE)
                @Html.ValidationMessageFor(model => model.TEST_RANGE)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.FACTORY_NUM)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FACTORY_NUM)
                @Html.ValidationMessageFor(model => model.FACTORY_NUM)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.CATEGORY)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CATEGORY)
                @Html.ValidationMessageFor(model => model.CATEGORY)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.STATUS)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.STATUS)
                @Html.ValidationMessageFor(model => model.STATUS)
            </div>      
            <div class="editor-label">
                <a class="anUnderLine" onclick="showModalOnly('UNDERTAKE_LABORATORYID','../../UNDERTAKE_LABORATORY');">
                    @Html.LabelFor(model => model.UNDERTAKE_LABORATORYID) 
                </a>：
            </div>
            <div class="editor-field">
                <div id="checkUNDERTAKE_LABORATORYID">
                        @if(Model!=null)
                        {
                        if (null != Model.UNDERTAKE_LABORATORYID)                      
                        { 
                    <table id="@Model.UNDERTAKE_LABORATORYID"
                        class="deleteStyle">
                        <tr>
                            <td>
                                <img alt="删除"  title="点击删除" onclick="deleteTable('@Model.UNDERTAKE_LABORATORYID ','UNDERTAKE_LABORATORYID');" src="../../../Images/deleteimge.png" />
                            </td>
                            <td>
                                @Model.UNDERTAKE_LABORATORY.NAME
                            </td>
                        </tr>
                    </table>
                    }} 
                </div>
                @Html.HiddenFor(model => model.UNDERTAKE_LABORATORYID)
            </div>@Html.HiddenFor(model => model.CREATETIME )      
            <div class="editor-label">
                @Html.LabelFor(model => model.CREATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CREATEPERSON)
                @Html.ValidationMessageFor(model => model.CREATEPERSON)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.UPDATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UPDATEPERSON)
                @Html.ValidationMessageFor(model => model.UPDATEPERSON)
            </div>  
        <div class="editor-label">
            <a class="anUnderLine" onclick="showModalMany('PREPARE_SCHEMEID','../../PREPARE_SCHEME');">
                @Html.LabelFor(model => model.PREPARE_SCHEMEID) 
            </a>：
        </div>
        <div class="editor-field">
            <div id="checkPREPARE_SCHEMEID">
                @{string ids12 = string.Empty;
                if(Model!=null)
                {
                   foreach (var item12 in Model.PREPARE_SCHEME)
                   {
                       string item121 = string.Empty;
                       item121 += item12.ID + "&" + item12.REPORT_CATEGORY;
                       if (ids12.Length > 0)
                       {
                           ids12 += "^" + item121;
                       }
                       else
                       {
                           ids12 += item121;
                       }
               
                <table id="@item121"
                    class="deleteStyle">
                    <tr>
                        <td>
                            <img  alt="删除" title="点击删除" onclick="deleteTable('@item121','PREPARE_SCHEMEID');"  src="../../../Images/deleteimge.png" />
                        </td>
                        <td>
                            @item12.REPORT_CATEGORY
                        </td>
                    </tr>
                </table>
                }} }
                <input type="hidden" value="@ids12" name="PREPARE_SCHEMEIDOld" id="PREPARE_SCHEMEIDOld" />
                <input type="hidden" value="@ids12" name="PREPARE_SCHEMEID" id="PREPARE_SCHEMEID" />
            </div>
        </div>
        </div>
    </fieldset>
}



    <script type="text/javascript">

        $(function () {
            

            // 获取待编辑内容并显示
            var id = '@ViewBag.Id';
            $.ajax({
                url: "/api/METERING_STANDARD_DEVICEApi/" + id,
                type: "POST",
                // async: false,
                success: function (res) {
                    $("#ID").val(res.ID);$("#NAME").val(res.NAME);$("#TEST_RANGE").val(res.TEST_RANGE);$("#FACTORY_NUM").val(res.FACTORY_NUM);$("#CATEGORY").val(res.CATEGORY);$("#STATUS").val(res.STATUS);$("#CREATETIME").val(res.CREATETIME);$("#CREATEPERSON").val(res.CREATEPERSON);$("#UPDATEPERSON").val(res.UPDATEPERSON);
                }
            })
        });
        

    </script>



