@model Langben.App.Models.METERING_STANDARD_DEVICEShow

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models

@section CurentPlace {

    修改

}

<input type="hidden" id="rowindex" value="1" />
<div data-options="region:'center',title:'',iconCls:'icon-ok',border:false" style="padding:3px;">
    @if (Model.IS == "A")
    {
        <div class="mt10" id="">
            <div id="divtable">
                <h2 class="f14 mt10"> 不确定度/准确度等级/最大允许误差 </h2>
                @if (ViewBag.CATEGORY == "AA")
                {
                    <label>
                        @foreach (var item in Model.ALLOWABLE_ERRORShow)
                    {
                        if (item.THEACCURACYLEVEL != null)
                        {
                                <input type="radio" name="three" id="three_1" onclick="radio.check()" checked="checked" />
                                break;
                            }
                            else
                            {
                                <input type="radio" name="three" id="three_1" onclick="radio.check()" />
                                break;
                            }
                        }
                        准确度等级
                    </label>
                    <div class="mt10" id="div1">
                        @foreach (var item in Model.ALLOWABLE_ERRORShow)
                    {
                        if (item.THEACCURACYLEVEL != null)
                        {
                                <ul class="clear mt10">
                                    <li class="fl mr10">
                                        <input class="my-textbox " value="@item.THEACCURACYLEVEL" id="@item.ID" name="THEACCURACYLEVEL" style="width:200px" placeholder="请输入数值">
                                    </li>
                                    <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                                </ul>
                            }
                            else
                            {
                                <ul class="clear mt10">
                                    <li class="fl mr10">
                                        <input class="my-textbox " value="" name="THEACCURACYLEVEL" id="" style="width:200px" placeholder="请输入数值">
                                    </li>
                                    <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                                </ul>
                                break;
                            }
                        }
                    </div>
                }
                else if (ViewBag.CATEGORY == "AB")
                {
                    <label>
                        @foreach (var item in Model.ALLOWABLE_ERRORShow)
                    {
                        if (item.MAXCATEGORIES != null || item.MAXVALUE != null)
                        {
                                <input type="radio" name="three" id="three_2" checked="checked" onclick="radio.check()" />
                                break;
                            }
                            else
                            {
                                <input type="radio" name="three" id="three_2" onclick="radio.check()" />
                                break;
                            }
                        }

                        最大允许误差
                    </label>
                    <div class="clear" id="div2">
                        @foreach (var item in Model.ALLOWABLE_ERRORShow)
                    {
                        if (item.MAXCATEGORIES != null || item.MAXVALUE != null)
                        {
                                <ul class="clear mt10">
                                    @if (item.MAXCATEGORIES == "DCV:")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="MAXCATEGORIES">
                                                <option value="">请选择类别</option>
                                                <option selected="selected" value="DCV:">DCV:</option>
                                                <option value="ACV:">ACV:</option>
                                                <option value="DCI:">DCI:</option>
                                                <option value="ACI:">ACI:</option>
                                                <option value="DCR:">DCR:</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.MAXCATEGORIES == "ACV:")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="MAXCATEGORIES">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:">DCV:</option>
                                                <option selected="selected" value="ACV:">ACV:</option>
                                                <option value="DCI:">DCI:</option>
                                                <option value="ACI:">ACI:</option>
                                                <option value="DCR:">DCR:</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.MAXCATEGORIES == "DCI:")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="MAXCATEGORIES">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:">DCV:</option>
                                                <option value="ACV:">ACV:</option>
                                                <option selected="selected" value="DCI:">DCI:</option>
                                                <option value="ACI:">ACI:</option>
                                                <option value="DCR:">DCR:</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.MAXCATEGORIES == "ACI:")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="MAXCATEGORIES">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:">DCV:</option>
                                                <option value="ACV:">ACV:</option>
                                                <option value="DCI:">DCI:</option>
                                                <option selected="selected" value="ACI:">ACI:</option>
                                                <option value="DCR:">DCR:</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.MAXCATEGORIES == "DCR:")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="MAXCATEGORIES">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:">DCV:</option>
                                                <option value="ACV:">ACV:</option>
                                                <option value="DCI:">DCI:</option>
                                                <option value="ACI:">ACI:</option>
                                                <option selected="selected" value="DCR:">DCR:</option>
                                            </select>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="MAXCATEGORIES">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:">DCV:</option>
                                                <option value="ACV:">ACV:</option>
                                                <option value="DCI:">DCI:</option>
                                                <option value="ACI:">ACI:</option>
                                                <option value="DCR:">DCR:</option>
                                            </select>
                                        </li>
                                    }
                                    <li class="fl mr10">
                                        ±
                                        <input class="my-textbox " value="@item.MAXVALUE" name="MAXVALUE" id="@item.ID" placeholder="填入数据">
                                        %
                                    </li>
                                    <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                                </ul>
                            }
                            else
                            {
                                <ul class="clear mt10">
                                    <li class="fl mr10">
                                        <select class="my-combobox" name="MAXCATEGORIES">
                                            <option value="">请选择类别</option>
                                            <option value="DCV:">DCV:</option>
                                            <option value="ACV:">ACV:</option>
                                            <option value="DCI:">DCI:</option>
                                            <option value="ACI:">ACI:</option>
                                            <option value="DCR:">DCR:</option>
                                        </select>
                                    </li>
                                    <li class="fl mr10">
                                        ±
                                        <input class="my-textbox " value="" name="MAXVALUE" id="" placeholder="填入数据">
                                        %
                                    </li>
                                    <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                                </ul>
                                break;
                            }
                        }

                    </div>
                }
                else if (ViewBag.CATEGORY == "AC")
                {
                    <label>
                        @foreach (var item in Model.ALLOWABLE_ERRORShow)
                    {
                        if (item.THEUNCERTAINTY != null || item.THEUNCERTAINTYVALUE != null || item.THEUNCERTAINTYNDEXL != null || item.THEUNCERTAINTYVALUEK != null)
                        {
                                <input type="radio" name="three" id="three_3" onclick="radio.check()" checked="checked" />
                                break;
                            }
                            else
                            {
                                <input type="radio" name="three" id="three_3" onclick="radio.check()" />
                                break;
                            }
                        }

                        不确定度
                    </label>
                    <div class="clear" id="div3">

                        @foreach (var item in Model.ALLOWABLE_ERRORShow)
                    {

                        if (item.THEUNCERTAINTY != null || item.THEUNCERTAINTYVALUE != null || item.THEUNCERTAINTYNDEXL != null || item.THEUNCERTAINTYVALUEK != null)
                        {
                                <ul class="clear mt10">
                                    @if (item.THEUNCERTAINTY == "DCV:Urel=")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTY">
                                                <option value="">请选择类别</option>
                                                <option selected="selected" value="DCV:Urel=">DCV:Urel=</option>
                                                <option value="ACV:Urel=">ACV:Urel=</option>
                                                <option value="DCI:Urel=">DCI:Urel=</option>
                                                <option value="ACI:Urel=">ACI:Urel=</option>
                                                <option value="DCR:Urel=">DCR:Urel=</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTY == "ACV:Urel=")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTY">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:Urel=">DCV:Urel=</option>
                                                <option selected="selected" value="ACV:Urel=">ACV:Urel=</option>
                                                <option value="DCI:Urel=">DCI:Urel=</option>
                                                <option value="ACI:Urel=">ACI:Urel=</option>
                                                <option value="DCR:Urel=">DCR:Urel=</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTY == "DCI:Urel=")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTY">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:Urel=">DCV:Urel=</option>
                                                <option value="ACV:Urel=">ACV:Urel=</option>
                                                <option selected="selected" value="DCI:Urel=">DCI:Urel=</option>
                                                <option value="ACI:Urel=">ACI:Urel=</option>
                                                <option value="DCR:Urel=">DCR:Urel=</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTY == "ACI:Urel=")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTY">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:Urel=">DCV:Urel=</option>
                                                <option value="ACV:Urel=">ACV:Urel=</option>
                                                <option value="DCI:Urel=">DCI:Urel=</option>
                                                <option selected="selected" value="ACI:Urel=">ACI:Urel=</option>
                                                <option value="DCR:Urel=">DCR:Urel=</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTY == "DCR:Urel=")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTY">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:Urel=">DCV:Urel=</option>
                                                <option value="ACV:Urel=">ACV:Urel=</option>
                                                <option value="DCI:Urel=">DCI:Urel=</option>
                                                <option value="ACI:Urel=">ACI:Urel=</option>
                                                <option selected="selected" value="DCR:Urel=">DCR:Urel=</option>
                                            </select>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTY">
                                                <option value="">请选择类别</option>
                                                <option value="DCV:Urel=">DCV:Urel=</option>
                                                <option value="ACV:Urel=">ACV:Urel=</option>
                                                <option value="DCI:Urel=">DCI:Urel=</option>
                                                <option value="ACI:Urel=">ACI:Urel=</option>
                                                <option value="DCR:Urel=">DCR:Urel=</option>
                                            </select>
                                        </li>
                                    }
                                    <li class="fl mr10">
                                        <input class="my-textbox " value="@item.THEUNCERTAINTYVALUE" name="THEUNCERTAINTYVALUE" id="@item.ID" placeholder="填入数据">
                                    </li>
                                    @if (item.THEUNCERTAINTYNDEXL == "×10-1")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                                <option value="">请选择指数级别</option>
                                                <option selected="selected" value="×10-1">×10-1</option>
                                                <option value="×10-2">×10-2</option>
                                                <option value="×10-3">×10-3</option>
                                                <option value="×10-4">×10-4</option>
                                                <option value="×10-5">×10-5</option>
                                                <option value="×10-6">×10-6</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTYNDEXL == "×10-2")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                                <option value="">请选择指数级别</option>
                                                <option value="×10-1">×10-1</option>
                                                <option selected="selected" value="×10-2">×10-2</option>
                                                <option value="×10-3">×10-3</option>
                                                <option value="×10-4">×10-4</option>
                                                <option value="×10-5">×10-5</option>
                                                <option value="×10-6">×10-6</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTYNDEXL == "×10-3")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                                <option value="">请选择指数级别</option>
                                                <option value="×10-1">×10-1</option>
                                                <option value="×10-2">×10-2</option>
                                                <option selected="selected" value="×10-3">×10-3</option>
                                                <option value="×10-4">×10-4</option>
                                                <option value="×10-5">×10-5</option>
                                                <option value="×10-6">×10-6</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTYNDEXL == "×10-4")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                                <option value="">请选择指数级别</option>
                                                <option value="×10-1">×10-1</option>
                                                <option value="×10-2">×10-2</option>
                                                <option value="×10-3">×10-3</option>
                                                <option selected="selected" value="×10-4">×10-4</option>
                                                <option value="×10-5">×10-5</option>
                                                <option value="×10-6">×10-6</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTYNDEXL == "×10-5")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                                <option value="">请选择指数级别</option>
                                                <option value="×10-1">×10-1</option>
                                                <option value="×10-2">×10-2</option>
                                                <option value="×10-3">×10-3</option>
                                                <option value="×10-4">×10-4</option>
                                                <option selected="selected" value="×10-5">×10-5</option>
                                                <option value="×10-6">×10-6</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTYNDEXL == "×10-6")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                                <option value="">请选择指数级别</option>
                                                <option value="×10-1">×10-1</option>
                                                <option value="×10-2">×10-2</option>
                                                <option value="×10-3">×10-3</option>
                                                <option value="×10-4">×10-4</option>
                                                <option value="×10-5">×10-5</option>
                                                <option selected="selected" value="×10-6">×10-6</option>
                                            </select>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                                <option value="">请选择指数级别</option>
                                                <option value="×10-1">×10-1</option>
                                                <option value="×10-2">×10-2</option>
                                                <option value="×10-3">×10-3</option>
                                                <option value="×10-4">×10-4</option>
                                                <option value="×10-5">×10-5</option>
                                                <option value="×10-6">×10-6</option>
                                            </select>
                                        </li>
                                    }
                                    @if (item.THEUNCERTAINTYVALUEK == "2")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYVALUEK">
                                                <option value="">请选择k值</option>
                                                <option selected="selected" value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="√3">√3</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTYVALUEK == "3")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYVALUEK">
                                                <option value="">请选择k值</option>
                                                <option value="2">2</option>
                                                <option selected="selected" value="3">3</option>
                                                <option value="√3">√3</option>
                                            </select>
                                        </li>
                                    }
                                    else if (item.THEUNCERTAINTYVALUEK == "√3")
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYVALUEK">
                                                <option value="">请选择k值</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option selected="selected" value="√3">√3</option>
                                            </select>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="fl mr10">
                                            <select class="my-combobox" name="THEUNCERTAINTYVALUEK">
                                                <option value="">请选择k值</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="√3">√3</option>
                                            </select>
                                        </li>
                                    }
                                    <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                                </ul>
                            }
                            else
                            {
                                <ul class="clear mt10">
                                    <li class="fl mr10">
                                        <select class="my-combobox" name="THEUNCERTAINTY">
                                            <option value="">请选择类别</option>
                                            <option value="DCV:Urel=">DCV:Urel=</option>
                                            <option value="ACV:Urel=">ACV:Urel=</option>
                                            <option value="DCI:Urel=">DCI:Urel=</option>
                                            <option value="ACI:Urel=">ACI:Urel=</option>
                                            <option value="DCR:Urel=">DCR:Urel=</option>
                                        </select>
                                    </li>
                                    <li class="fl mr10">
                                        <input class="my-textbox " value="" name="THEUNCERTAINTYVALUE" id="" placeholder="填入数据">
                                    </li>
                                    <li class="fl mr10">
                                        <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                            <option value="">请选择指数级别</option>
                                            <option value="×10-1">×10-1</option>
                                            <option value="×10-2">×10-2</option>
                                            <option value="×10-3">×10-3</option>
                                            <option value="×10-4">×10-4</option>
                                            <option value="×10-5=">×10-5=</option>
                                            <option value="×10-6=">×10-6=</option>
                                        </select>
                                    </li>
                                    <li class="fl mr10">
                                        <select class="my-combobox" name="THEUNCERTAINTYVALUEK">
                                            <option value="">请选择k值</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="√3">√3</option>
                                        </select>
                                    </li>
                                    <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                                </ul>
                                break;
                            }
                        }
                    </div>
                }
            </div>
            <br>
            <h2 class="f14 mt10"> 证书信息 </h2>
            <div class="mt10" id="div4">
                @foreach (var item in Model.METERING_STANDARD_DEVICE_CHECKShow)
                {
                    if (item.CERTIFICATEUNIT != null || item.CERTIFICATE_NUM != null || item.VALID_TO != null)
                    {
                        <ul class="clear mt10">
                            <li class="fl mr10">
                                证书发放单位：
                                <input class="my-textbox " value="@item.CERTIFICATEUNIT" id="@item.ID" name="CERTIFICATEUNIT">
                            </li>
                            <li class="fl mr10">
                                证书编号：
                                <input class="my-textbox " value="@item.CERTIFICATE_NUM" name="CERTIFICATE_NUM">
                            </li>
                            <li class="fl mr10">
                                有效期至（例如2016-12-06）：
                                <input class="my-textbox" value="@Convert.ToDateTime(item.VALID_TO).ToString("yyyy-MM-dd")" name="VALID_TO">
                            </li>
                            <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="clear mt10">
                            <li class="fl mr10">
                                证书发放单位：
                                <input class="my-textbox " value="" name="CERTIFICATEUNIT" id="">
                            </li>
                            <li class="fl mr10">
                                证书编号：
                                <input class="my-textbox " value="" name="CERTIFICATE_NUM">
                            </li>
                            <li class="fl mr10">
                                有效期至(如:2016-01-01)：
                                <input class="my-textbox" value="" name="VALID_TO" onblur="jaoyanshijian(this)">
                            </li>
                            <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                        </ul>
                        break;
                    }
                }

            </div>
        </div>
    }
    else if (Model.IS == "UA")
    {
        <div class="mt10" id="">
            <label>
                误差来源
            </label>
            <div class="mt10" id="div5">
                @foreach (var item in Model.UNCERTAINTYTABLEShow)
                {
                    if (item.UNCERTAINTYUI != null)
                    {
                        <ul class="clear mt10">
                            @if (item.ASSESSMENTITEM == "三相四线")
                            {
                                <li class="fl mr10">
                                    评定项：
                                    <select class="my-combobox" name="ASSESSMENTITEM">
                                        <option value="">请选择</option>
                                        <option selected="selected" value="三相四线">三相四线</option>
                                        <option value="三相三线">三相三线</option>
                                    </select>
                                </li>
                            }
                            else if (item.ASSESSMENTITEM == "三相三线")
                            {
                                <li class="fl mr10">
                                    评定项：
                                    <select class="my-combobox" name="ASSESSMENTITEM">
                                        <option value="">请选择</option>
                                        <option value="三相四线">三相四线</option>
                                        <option selected="selected" value="三相三线">三相三线</option>
                                    </select>
                                </li>
                            }
                            else
                            {
                                <li class="fl mr10">
                                    评定项：
                                    <select class="my-combobox" name="ASSESSMENTITEM">
                                        <option value="">请选择</option>
                                        <option value="三相四线">三相四线</option>
                                        <option value="三相三线">三相三线</option>
                                    </select>
                                </li>
                            }

                            <li class="fl mr10">
                                误差来源：
                                <input class="my-textbox " value="@item.ERRORSOURCES" name="ERRORSOURCES" id="@item.ID">
                            </li>
                            <li class="fl mr10">
                                误差限：
                                <input class="my-textbox" value="@item.ERRORLIMITS" name="ERRORLIMITS">
                            </li>
                            @if (item.ERRORLIMITUNIT == "%")
                            {
                                <li class="fl mr10">
                                    误差限单位：
                                    <select class="my-combobox" name="ERRORLIMITUNIT">
                                        <option value="">请选择</option>
                                        <option selected="selected" value="%">%</option>
                                        <option value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option value="ˊ">ˊ</option>
                                        <option value="%">mS</option>
                                    </select>
                                </li>
                            }
                            else if (item.ERRORLIMITUNIT == "Ω")
                            {
                                <li class="fl mr10">
                                    误差限单位：
                                    <select class="my-combobox" name="ERRORLIMITUNIT">
                                        <option value="">请选择</option>
                                        <option value="%">%</option>
                                        <option selected="selected" value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option value="ˊ">ˊ</option>
                                        <option value="%">mS</option>
                                    </select>
                                </li>
                            }
                            else if (item.ERRORLIMITUNIT == "mΩ")
                            {
                                <li class="fl mr10">
                                    误差限单位：
                                    <select class="my-combobox" name="ERRORLIMITUNIT">
                                        <option value="">请选择</option>
                                        <option value="%">%</option>
                                        <option value="Ω">Ω</option>
                                        <option selected="selected" value="mΩ">mΩ</option>
                                        <option value="ˊ">ˊ</option>
                                        <option value="%">mS</option>
                                    </select>
                                </li>
                            }
                            else if (item.ERRORLIMITUNIT == "ˊ")
                            {
                                <li class="fl mr10">
                                    误差限单位：
                                    <select class="my-combobox" name="ERRORLIMITUNIT">
                                        <option value="">请选择</option>
                                        <option value="%">%</option>
                                        <option selected="selected" value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option selected="selected" value="ˊ">ˊ</option>
                                        <option value="%">mS</option>
                                    </select>
                                </li>
                            }
                            else if (item.ERRORLIMITUNIT == "mS")
                            {
                                <li class="fl mr10">
                                    误差限单位：
                                    <select class="my-combobox" name="ERRORLIMITUNIT">
                                        <option value="">请选择</option>
                                        <option value="%">%</option>
                                        <option selected="selected" value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option value="ˊ">ˊ</option>
                                        <option selected="selected" value="mS">mS</option>
                                    </select>
                                </li>
                            }
                            else
                            {
                                <li class="fl mr10">
                                    误差限单位：
                                    <select class="my-combobox" name="ERRORLIMITUNIT">
                                        <option value="">请选择</option>
                                        <option value="%">%</option>
                                        <option value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option value="ˊ">ˊ</option>
                                        <option selected="selected" value="mS">mS</option>
                                    </select>
                                </li>
                            }
                            @if (item.THEERRODISTRIBUTION == "正态分布")
                            {
                                <li class="fl mr10">
                                    误差分布状况：
                                    <select class="my-combobox" name="THEERRODISTRIBUTION">
                                        <option value="">请选择</option>
                                        <option selected="selected" value="正态分布">正态分布</option>
                                        <option value="矩形分布">矩形分布</option>
                                        <option value="均匀分布">均匀分布</option>
                                    </select>
                                </li>
                            }
                            else if (item.THEERRODISTRIBUTION == "矩形分布")
                            {
                                <li class="fl mr10">
                                    误差分布状况：
                                    <select class="my-combobox" name="THEERRODISTRIBUTION">
                                        <option value="">请选择</option>
                                        <option value="正态分布">正态分布</option>
                                        <option selected="selected" value="矩形分布">矩形分布</option>
                                        <option value="均匀分布">均匀分布</option>
                                    </select>
                                </li>
                            }
                            else if (item.THEERRODISTRIBUTION == "均匀分布")
                            {
                                <li class="fl mr10">
                                    误差分布状况：
                                    <select class="my-combobox" name="THEERRODISTRIBUTION">
                                        <option value="">请选择</option>
                                        <option value="正态分布">正态分布</option>
                                        <option value="矩形分布">矩形分布</option>
                                        <option selected="selected" value="均匀分布">均匀分布</option>
                                    </select>
                                </li>
                            }
                            else
                            {
                                <li class="fl mr10">
                                    误差分布状况：
                                    <select class="my-combobox" name="THEERRODISTRIBUTION">
                                        <option value="">请选择</option>
                                        <option value="正态分布">正态分布</option>
                                        <option value="矩形分布">矩形分布</option>
                                        <option value="均匀分布">均匀分布</option>
                                    </select>
                                </li>
                            }
                            @if (item.KVALE == "2")
                            {
                                <li class="fl mr10">
                                    k：
                                    <select class="my-combobox" name="KVALE">
                                        <option value="">请选择</option>
                                        <option selected="selected" value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="√3">√3</option>
                                        <option value="2.06">2.06</option>
                                    </select>
                                </li>
                            }
                            else if (item.KVALE == "3")
                            {
                                <li class="fl mr10">
                                    k：
                                    <select class="my-combobox" name="KVALE">
                                        <option value="">请选择</option>
                                        <option value="2">2</option>
                                        <option selected="selected" value="3">3</option>
                                        <option value="√3">√3</option>
                                        <option value="2.06">2.06</option>
                                    </select>
                                </li>
                            }
                            else if (item.KVALE == "√3")
                            {
                                <li class="fl mr10">
                                    k：
                                    <select class="my-combobox" name="KVALE">
                                        <option value="">请选择</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option selected="selected" value="√3">√3</option>
                                        <option value="2.06">2.06</option>
                                    </select>
                                </li>
                            }
                            else if (item.KVALE == "2.06")
                            {
                                <li class="fl mr10">
                                    k：
                                    <select class="my-combobox" name="KVALE">
                                        <option value="">请选择</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option  value="√3">√3</option>
                                        <option selected="selected" value="2.06">2.06</option>
                                    </select>
                                </li>
                            }
                            else
                            {
                                <li class="fl mr10">
                                    k：
                                    <select class="my-combobox" name="KVALE">
                                        <option value="">请选择</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="√3">√3</option>
                                        <option value="2.06">2.06</option>
                                    </select>
                                </li>
                            }
                            <li class="fl mr10">
                                不确定度ui：
                                <input class="my-textbox" value="@item.UNCERTAINTYUI" name="UNCERTAINTYUI">
                            </li>
                            @if (item.UNCERTAINTYUIUNIT == "%")
                            {
                                <li class="fl mr10">
                                    不确定度ui单位：
                                    <select class="my-combobox" name="UNCERTAINTYUIUNIT">
                                        <option value="">请选择</option>
                                        <option selected="selected" value="%">%</option>
                                        <option value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option value="&prime;">&prime;</option>
                                    </select>
                                </li>
                            }
                            else if (item.UNCERTAINTYUIUNIT == "Ω")
                            {
                                <li class="fl mr10">
                                    不确定度ui单位：
                                    <select class="my-combobox" name="UNCERTAINTYUIUNIT">
                                        <option value="">请选择</option>
                                        <option value="%">%</option>
                                        <option selected="selected" value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option value="&prime;">&prime;</option>
                                    </select>
                                </li>
                            }
                            else if (item.UNCERTAINTYUIUNIT == "mΩ")
                            {
                                <li class="fl mr10">
                                    不确定度ui单位：
                                    <select class="my-combobox" name="UNCERTAINTYUIUNIT">
                                        <option value="">请选择</option>
                                        <option selected="selected" value="%">%</option>
                                        <option value="Ω">Ω</option>
                                        <option selected="selected" value="mΩ">mΩ</option>
                                        <option value="&prime;">&prime;</option>
                                    </select>
                                </li>
                            }
                            else if (item.UNCERTAINTYUIUNIT == "&prime;")
                            {
                                <li class="fl mr10">
                                    不确定度ui单位：
                                    <select class="my-combobox" name="UNCERTAINTYUIUNIT">
                                        <option value="">请选择</option>
                                        <option selected="selected" value="%">%</option>
                                        <option value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option selected="selected" value="&prime;">&prime;</option>
                                    </select>
                                </li>
                            }
                            else
                            {
                                <li class="fl mr10">
                                    不确定度ui单位：
                                    <select class="my-combobox" name="UNCERTAINTYUIUNIT">
                                        <option value="">请选择</option>
                                        <option value="%">%</option>
                                        <option value="Ω">Ω</option>
                                        <option value="mΩ">mΩ</option>
                                        <option value="&prime;">&prime;</option>
                                    </select>
                                </li>
                            }
                            <li class="fl mr10">
                                备注：
                                <input class="my-textbox" value="@item.NOTE" name="NOTE">
                            </li>
                            <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="clear mt10">
                            <li class="fl mr10">
                                评定项：
                                <select class="my-combobox" name="ASSESSMENTITEM">
                                    <option value="">请选择</option>
                                    <option value="三相四线">三相四线</option>
                                    <option value="三相三线">三相三线</option>
                                </select>
                            </li>
                            <li class="fl mr10">
                                误差来源：
                                <input class="my-textbox " value="" name="ERRORSOURCES">
                            </li>
                            <li class="fl mr10">
                                误差限：
                                <input class="my-textbox" value="" name="ERRORLIMITS">
                            </li>
                            <li class="fl mr10">
                                误差限单位：
                                <select class="my-combobox" name="ERRORLIMITUNIT">
                                    <option value="">请选择</option>
                                    <option value="%">%</option>
                                    <option selected="selected" value="Ω">Ω</option>
                                    <option value="mΩ">mΩ</option>
                                    <option value="&prime">&prime</option>
                                    <option value="%">mS</option>
                                </select>
                            </li>
                            <li class="fl mr10">
                                误差分布状况：
                                <select class="my-combobox" name="THEERRODISTRIBUTION">
                                    <option value="">请选择</option>
                                    <option value="正态分布">正态分布</option>
                                    <option value="矩形分布">矩形分布</option>
                                </select>
                            </li>
                            <li class="fl mr10">
                                k：
                                <select class="my-combobox" name="KVALE">
                                    <option value="">请选择</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </li>
                            <li class="fl mr10">
                                不确定度ui：
                                <input class="my-textbox" value="" name="UNCERTAINTYUI">
                            </li>
                            <li class="fl mr10">
                                不确定度ui单位：
                                <select class="my-combobox" name="UNCERTAINTYUIUNIT">
                                    <option value="">请选择</option>
                                    <option value="%">%</option>
                                    <option value="Ω">Ω</option>
                                    <option value="mΩ">mΩ</option>
                                    <option value="&prime;">&prime;</option>
                                </select>
                            </li>
                            <li class="fl mr10">
                                备注：
                                <input class="my-textbox" value="" name="NOTE">
                            </li>
                            <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a></li>
                        </ul>
                        break;
                    }
                }
            </div>
        </div>
    }
   
    <div class="mt10"><a href="javascript:;" class="easyui-linkbutton" onclick="baocun()">保存修改</a> <a href="javascript:;" class="easyui-linkbutton" onclick="javascript: window.location.href = '/METERING_STANDARD_DEVICE/Index';">返回</a></div>
</div>



<script>
    //$(function () {
    //    $("#state").bind('change', function (obj) {
    //        (($(this).val() == 1) ? $('#choicePre').show() : $('#choicePre').hide());

    //    }); 0
    //})
    var radio = {
        check: function () {
            var obj = $("input[name='three']:checked");
            var id = obj.attr("id");
            switch (id) {
                case ("three_1"):
                    var row = $("#div2 ul");
                    var row2 = $("#div3 ul");
                    row.each(function () {
                        if ($("#div2 ul").length > 1)
                            $(this).remove();
                        else
                            $("#div2").find(":text,:selected,select,textarea").each(function () {
                                $(this).val("");
                                //$(this).combobox('select', "");
                            })
                    })
                    row2.each(function () {
                        if ($("#div3 ul").length > 1)
                            $(this).remove();
                        else
                            $("#div3").find(":text,:selected,select,textarea").each(function () {
                                $(this).val("");
                                //$(this).combobox('select', "");
                            })
                    })
                    break
                case ("three_2"):
                    var row = $("#div1 ul");
                    var row2 = $("#div3 ul");
                    row.each(function () {
                        if ($("#div1 ul").length > 1)
                            $(this).remove();
                        else
                            $("#div1").find(":text,:selected,select,textarea").each(function () {
                                $(this).val("");
                                //$(this).combobox('select', "");
                            })
                    })
                    row2.each(function () {
                        if ($("#div3 ul").length > 1)
                            $(this).remove();
                        else
                            $("#div3").find(":text,:selected,select,textarea").each(function () {
                                $(this).val("");
                                //$(this).combobox('select', "");
                            })
                    })
                    break
                case ("three_3"):
                    var row = $("#div2 ul");
                    var row2 = $("#div1 ul");
                    row.each(function () {
                        if ($("#div2 ul").length > 1)
                            $(this).remove();
                        else
                            $("#div2").find(":text,:selected,select,textarea").each(function () {
                                $(this).val("");
                                //$(this).combobox('select', "");
                            })
                    })
                    row2.each(function () {
                        if ($("#div1 ul").length > 1)
                            $(this).remove();
                        else
                            $("#div1").find(":text,:selected,select,textarea").each(function () {
                                $(this).val("");
                                //$(this).combobox('select', "");
                            })
                    })
                    break
                default:

            }


        }
    }
    var linkButton = {
        add: function (obj) {
            var html = $(obj).parents('div ul').html();
            var html2 = html.replace(/id="\w*"/, "");
            var newRow = " <ul class=\"clear mt10\">" + html2 + "</ul>";
            var parDiv = $(obj).parents('div ul').parent()
            var newobj = $(parDiv).append(newRow);

            // $.parser.parse();
        },
        del: function (obj) {
            var row = $(obj).parents('div ul');
            if ($(row).parent().children().length > 1)
                $(row).remove();
            else
                alert('就剩一行了你还删除呀？');
        }
    }

</script>

<script type="text/javascript">
    $(function () {
        debugger
        if ("@Model.IS" == "UB") {
            var a=new Object();
            a= @Model.UNCERTAINTYTABLEShow;



        }
    })
    function morengzhi(zhi, id) {

        var dianliu = "A, mA, μA, nA, pA, kA";
        var dianya = "V,mV,μV,kV,MV";
        var dianzhu = "Ω,TΩ,GΩ,MΩ,kΩ,mΩ,μΩ";
        if (dianliu.indexOf(zhi) >= 0) {
            $("#" + id + "").append('<option value="A">A</option><option value="mA">mA</option><option value="μA">μA</option><option value="nA">nA</option><option value="pA">pA</option><option value="kA">kA</option>');
            $("#" + id + "").val(zhi);
        }
        else if (dianya.indexOf(zhi) >= 0) {
            $("#" + id + "").append('<option value="V">V</option><option value="mV">mV</option><option value="μV">μV</option><option value="kV">kV</option><option value="MV">MV</option>');
            $("#" + id + "").val(zhi);
        }
        else if (dianzhu.indexOf(zhi) >= 0) {
            $("#" + id + "").append('<option value="Ω">Ω</option><option value="TΩ">TΩ</option><option value="GΩ">GΩ</option><option value="MΩ">MΩ</option><option value="kΩ">kΩ</option><option value="mΩ">mΩ</option><option value="μΩ">μΩ</option>');
            $("#" + id + "").val(zhi);
        }
    }
    //下拉框选择事件
    function gradeChange(ex) {
        var zhi = $(ex).val();
        if (zhi == "直流电流" || zhi == "交流电流") {
            getCity($("#THEUNIT"));
            getCity($("#ENDUNIT"));
            getCity($("#INDEX1UNIT"));
            getCity($("#INDEX2UNIT"));
            tianjiazhi("THEUNIT,ENDUNIT,INDEX1UNIT,INDEX2UNIT", "电流")
        }
        else if (zhi == "直流电压" || zhi == "交流电压") {
            getCity($("#THEUNIT"));
            getCity($("#ENDUNIT"));
            getCity($("#INDEX1UNIT"));
            getCity($("#INDEX2UNIT"));
            tianjiazhi("THEUNIT,ENDUNIT,INDEX1UNIT,INDEX2UNIT", "电压")
        }
        else if (zhi == "直流电阻") {
            getCity($("#THEUNIT"));
            getCity($("#ENDUNIT"));
            getCity($("#INDEX1UNIT"));
            getCity($("#INDEX2UNIT"));
            tianjiazhi("THEUNIT,ENDUNIT,INDEX1UNIT,INDEX2UNIT", "电阻")
        }
    }
    function tianjiazhi(sun, lei) {
        var lst = sun.split(',');
        if (lei == "电流") {
            for (var i = 0; i < lst.length; i++) {
                $("#" + lst[i] + "").append('<option value="A">A</option><option value="mA">mA</option><option value="μA">μA</option><option value="nA">nA</option><option value="pA">pA</option><option value="kA">kA</option>');
            }
        }
        else if (lei == "电压") {
            for (var i = 0; i < lst.length; i++) {
                $("#" + lst[i] + "").append('<option value="V">V</option><option value="mV">mV</option><option value="μV">μV</option><option value="kV">kV</option><option value="MV">MV</option>');
            }
        }
        else if (lei == "电阻") {
            for (var i = 0; i < lst.length; i++) {
                $("#" + lst[i] + "").append('<option value="Ω">Ω</option><option value="TΩ">TΩ</option><option value="GΩ">GΩ</option><option value="MΩ">MΩ</option><option value="kΩ">kΩ</option><option value="mΩ">mΩ</option><option value="μΩ">μΩ</option>');
            }
        }
    }
    function getCity(City) {
        $(City).empty();
        $("<option></option>")
                .val("")
                .text("请选择")
                .appendTo($(City));
    }
</script>

<script type="text/javascript">
    //时间校验
    function jaoyanshijian(e) {
        var zhi = $(e).val();
        if (zhi != "") {
            var regu = "(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)";
            var re = new RegExp(regu);
            if (!re.test(zhi)) {
                $.messager.alert('操作提示', "时间格式不对!", 'info');
                return false;
            }
        }

    }
    //保存
    function baocun() {
        if ("@Model.IS" == "A") {
            var myArray = null;
            var myArray2 = null;
            var myArray3 = null;
            var myArray4 = null;
            var METERING_STANDARD_DEVICE = new Object();
            var obj = $("input[name='three']:checked");
            var id = obj.attr("id");
            switch (id) {
                case ("three_1"):
                    myArray = new Array()
                    $("#div1").find("ul").each(function () {
                        var THEACCURACYLEVEL = $(this).find("li :input").eq(0).val();
                        var ID = $(this).find("li :input").eq(0).attr("id");
                        var GROUPS = "@ViewBag.GROUPS";
                        var CATEGORY="@ViewBag.CATEGORY"
                        if (THEACCURACYLEVEL != null) {
                            myArray.push({ THEACCURACYLEVEL: THEACCURACYLEVEL, ID: ID, GROUPS: GROUPS, CATEGORY: CATEGORY });
                        }
                    })
                    break
                case ("three_2"):
                    myArray2 = new Array()
                    $("#div2").find("ul").each(function () {
                        var MAXCATEGORIES = $(this).find("li :selected").eq(0).val();
                        var MAXVALUE = $(this).find("li :input").eq(1).val();
                        var ID = $(this).find("li :input").eq(1).attr("id");
                        var GROUPS = "@ViewBag.GROUPS";
                        var CATEGORY = "@ViewBag.CATEGORY";
                        if (MAXCATEGORIES != null || MAXVALUE != null) {
                            myArray2.push({ MAXCATEGORIES: MAXCATEGORIES, MAXVALUE: MAXVALUE, ID: ID, GROUPS: GROUPS, CATEGORY: CATEGORY });
                        }
                    })
                    break
                case ("three_3"):
                    myArray3 = new Array()
                    $("#div3").find("ul").each(function () {
                        var THEUNCERTAINTY = $(this).find("li :selected").eq(0).val();
                        var THEUNCERTAINTYVALUE = $(this).find("li :input").eq(1).val();
                        var ID = $(this).find("li :input").eq(1).attr("id");
                        var THEUNCERTAINTYNDEXL = $(this).find("li :selected").eq(1).val();
                        var THEUNCERTAINTYVALUEK = $(this).find("li :selected").eq(2).val();
                        var GROUPS = "@ViewBag.GROUPS";
                        var CATEGORY = "@ViewBag.CATEGORY";
                        if (THEUNCERTAINTY != null || THEUNCERTAINTYVALUE != null || THEUNCERTAINTYNDEXL != null || THEUNCERTAINTYVALUEK != null) {

                            myArray3.push({ THEUNCERTAINTY: THEUNCERTAINTY, THEUNCERTAINTYVALUE: THEUNCERTAINTYVALUE, THEUNCERTAINTYNDEXL: THEUNCERTAINTYNDEXL, THEUNCERTAINTYVALUEK: THEUNCERTAINTYVALUEK, ID: ID, GROUPS: GROUPS, CATEGORY: CATEGORY });
                        }
                    })
                    break
                default:
            }
            //证书
            myArray4 = new Array();
            $("#div4").find("ul").each(function () {
                var CERTIFICATEUNIT = $(this).find("li :input").eq(0).val();
                var ID = $(this).find("li :input").attr("id");
                var CERTIFICATE_NUM = $(this).find("li :input").eq(1).val();
                var VALID_TO = $(this).find("li :input").eq(2).val();
                var GROUPS = "@ViewBag.GROUPS";
                var CATEGORY = "@ViewBag.CATEGORY";
                //校验时间格式是否正确
                if (CERTIFICATEUNIT != "" || CERTIFICATE_NUM != "" || VALID_TO != "") {
                    myArray4.push({ CERTIFICATEUNIT: CERTIFICATEUNIT, CERTIFICATE_NUM: CERTIFICATE_NUM, VALID_TO: VALID_TO, ID: ID, GROUPS: GROUPS, CATEGORY: CATEGORY });
                }
            })
            if (myArray != null)
                METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray;
            else if (myArray2 != null)
                METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray2;
            else if (myArray3 != null)
                METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray3;
            METERING_STANDARD_DEVICE.METERING_STANDARD_DEVICE_CHECK = myArray4;
            METERING_STANDARD_DEVICE.ID = "@Model.ID";
            //调用后台方法
            if (ifshujuA(METERING_STANDARD_DEVICE)) {
                //if (false) {
                $.ajax({
                    url: "/api/ALLOWABLE_ERRORApi/Put",
                    type: "Put",
                    data: METERING_STANDARD_DEVICE,
                    dataType: "json",

                    success: function (data) {
                        if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                        else if (data.Code == 1) {
                            $.messager.alert('操作提示', "修改成功！", 'info');
                            return false;
                        }
                        else {
                            if ($.messager) {
                                $.messager.defaults.ok = '继续';
                                $.messager.defaults.cancel = '返回';

                                $.messager.confirm('操作提示', "修改失败！", function (r) {
                                    if (!r) {
                                        window.location.href = 'javascript:history.go(-1)';
                                    }
                                });
                            }
                        }
                    }
                })
            }
        }
        else if ("@Model.IS" == "UA") {
            var myArray5 = new Array();
            var METERING_STANDARD_DEVICE = new Object();
            //*******************************************不确定度
            $("#div5").find("ul").each(function () {
                debugger
                var ASSESSMENTITEM = $(this).find("li :selected").eq(0).val();//评定项
                var ERRORSOURCES = $(this).find("li :input").eq(1).val();//误差来源
                var ID = $(this).find("li :input").eq(1).attr("id");//ID
                var ERRORLIMITS = $(this).find("li :input").eq(2).val();//误差限
                var ERRORLIMITUNIT = $(this).find("li :selected").eq(1).val();//误差限单位
                var THEERRODISTRIBUTION = $(this).find("li :selected").eq(2).val();//误差分布状况
                var KVALE = $(this).find("li :selected").eq(3).val();//K
                var UNCERTAINTYUI = $(this).find("li :input").eq(6).val();//不确定度ui
                var NOTE = $(this).find("li :input").eq(7).val();//备注
                var GROUPS = "@ViewBag.GROUPS";
                var CATEGORY = "@ViewBag.CATEGORY";
                if (ASSESSMENTITEM != null || ERRORSOURCES != null || THEUNIT != null || ERRORLIMITUNIT != null || THEERRODISTRIBUTION != null || KVALE != null || UNCERTAINTYUI != null || NOTE != null)

                    myArray5.push({ METERING_STANDARD_DEVICEID: "@ViewBag.METERING_STANDARD_DEVICEID", ASSESSMENTITEM: ASSESSMENTITEM, ERRORSOURCES: ERRORSOURCES, ERRORLIMITS: ERRORLIMITS, ERRORLIMITUNIT: ERRORLIMITUNIT, THEERRODISTRIBUTION: THEERRODISTRIBUTION, KVALE: KVALE, UNCERTAINTYUI: UNCERTAINTYUI, NOTE: NOTE, ID: ID, GROUPS: GROUPS, CATEGORY: CATEGORY });
            })
            //*****************************************************
            if (myArray5 != null)
                METERING_STANDARD_DEVICE.UNCERTAINTYTABLE = myArray5;
            METERING_STANDARD_DEVICE.ID = "@Model.ID";
            //调用后台方法
            if (ifshujuUA(METERING_STANDARD_DEVICE)) {
                //if (true) {
                $.ajax({
                    url: "/api/UNCERTAINTYTABLEApi/Put",
                    type: "Put",
                    data: METERING_STANDARD_DEVICE,
                    //data: { entity: "123" },
                    dataType: "json",

                    success: function (data) {
                        if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                        else if (data.Code == 1) {
                            $.messager.alert('操作提示', "修改成功！", 'info');
                            return false;
                        }
                        else {
                            if ($.messager) {
                                $.messager.defaults.ok = '继续';
                                $.messager.defaults.cancel = '返回';

                                $.messager.confirm('操作提示', "修改失败！", function (r) {
                                    if (!r) {
                                        window.location.href = 'javascript:history.go(-1)';
                                    }
                                });
                            }
                        }
                    }
                })
            }
        }
     
    }
    //数据校验
    function ifshujuA(m) {
        var zhi = "";
        if (m.ALLOWABLE_ERROR == null) {
            zhi += "不确定度/准确度等级/最大允许误差不能为空！<br>";
        }
        if (m.METERING_STANDARD_DEVICE_CHECK.length == 0) {
            zhi += "证书信息不能为空！<br>";
        }
        for (var i = 0; i < m.METERING_STANDARD_DEVICE_CHECK.length; i++) {
            if (isNull(m.METERING_STANDARD_DEVICE_CHECK[i].CERTIFICATEUNIT)) {
                zhi += "证书发放单位不能为空！<br>";
            }
            if (isNull(m.METERING_STANDARD_DEVICE_CHECK[i].CERTIFICATE_NUM)) {
                zhi += "证书编号不能为空！<br>";
            }
            if (isNull(m.METERING_STANDARD_DEVICE_CHECK[i].VALID_TO)) {
                zhi += "有效期至不能为空！<br>";
            }
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            //return false;
            return true;
        }
    }
    function ifshujuUA(m) {
        var zhi = "";
        if (isNull(m.UNCERTAINTYTABLE.ASSESSMENTITEM)) {
            zhi += "评定项不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ERRORSOURCES)) {
            zhi += "误差来源不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ERRORLIMITS)) {
            zhi += "误差限不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ERRORLIMITUNIT)) {
            zhi += "误差限单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.KVALE)) {
            zhi += "K不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THEERRODISTRIBUTION)) {
            zhi += "误差分布状况不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.UNCERTAINTYUI)) {
            zhi += "不确定度ui不能为空！<br>";
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            //return false;
            return true;
        }
    }
    function ifshujuUB(m) {
        var zhi = "";
        if (isNull(m.UNCERTAINTYTABLE.ASSESSMENTITEM)) {
            zhi += "评定项不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THERANGESCOPE)) {
            zhi += "量程范围起不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ERRORLIMITS)) {
            zhi += "起单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THERELATIONSHIP)) {
            zhi += "起关系不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDRANGESCOPE)) {
            zhi += "量程范围止不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDUNIT)) {
            zhi += "止单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDRELATIONSHIP)) {
            zhi += "止关系不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THEFREQUENCY)) {
            zhi += "频率范围起不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THEUNITFREQUENCY)) {
            zhi += "频率范围起单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.THERELATIONSHIPFREQUENCY)) {
            zhi += "频率范围起关系不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDFREQUENCY)) {
            zhi += "频率范围止不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDUNITFREQUENCY)) {
            zhi += "频率范围止单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.ENDRELATIONSHIPFREQUENCY)) {
            zhi += "频率范围止关系指标不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.INDEX1)) {
            zhi += "指标1不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.INDEX1UNIT)) {
            zhi += "指标1单位不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.INDEX2)) {
            zhi += "指标2不能为空！<br>";
        }
        if (isNull(m.UNCERTAINTYTABLE.INDEX2UNIT)) {
            zhi += "指标2单位不能为空！<br>";
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            //return false;
            return true;
        }
    }
    function isNull(str) {
        if (str == "") return true;
        var regu = "^[ ]+$";
        var re = new RegExp(regu);
        return re.test(str);
    }
</script>
