@model Langben.DAL.METERING_STANDARD_DEVICE

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models
@section CurentPlace {
    修改
}

@using (Html.BeginForm("", "api/METERING_STANDARD_DEVICEApi/Put"))
{
    <input type="hidden" id="rowindex" value="1" />
    <div data-options="region:'center',title:'',iconCls:'icon-ok',border:false" style="padding:3px;">
        <div class="mt10" id="">
            <h2 class="f14"> 基本信息 </h2>
            <div class="clear mt10">
                <ul>
                    <li class="fl mr10">
                        名称：
                        <input class="my-textbox " value="@Model.NAME" name="NAME" id="NAME">
                    </li>
                    <li class="fl mr10">
                        测量范围：
                        <input class="my-textbox " value="@Model.TEST_RANGE" name="TEST_RANGE" id="TEST_RANGE">
                    </li>
                    <li class="fl mr10">
                        型号：
                        <input class="my-textbox " value="@Model.XINGHAO" name="XINGHAO" id="XINGHAO">
                    </li>
                    <li class="fl mr10">
                        编号：
                        <input class="my-textbox " value="@Model.FACTORY_NUM" name="FACTORY_NUM" id="FACTORY_NUM">
                    </li>
                    <li class="fl mr10">
                        类别：
                        <select class="my-combobox" name="CATEGORY" id="CATEGORY">
                            <option value="">请选择 </option>
                            <option value="标准装置">标准装置 </option>
                            <option value="标准器">标准器</option>
                            <option value="中间试品">中间试品</option>
                        </select>
                    </li>
                    <li class="fl mr10">
                        实验室：
                        <select class="my-combobox" name="UNDERTAKE_LABORATORYID" id="UNDERTAKE_LABORATORYID">
                            <option value="">请选择 </option>
                            <option value="数表三相">数表三相 </option>
                            <option value="数表单相">数表单相</option>
                            <option value="电能">电能</option>
                            <option value="指示仪表">指示仪表</option>
                            <option value="直流仪器">直流仪器</option>
                            <option value="互感器">互感器</option>
                        </select>
                    </li>
                    <li class="fl mr10" @*style="display:none"*@ id="choicePre"> <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'" onclick="showModalOnly('THESUPERIOR', '../../METERING_STANDARD_DEVICE');">选择上一级</a></li>
                </ul>
            </div>
            <hr>
            <div class="clearfix"></div>
            <br>

            <div id="divtable">
                <h2 class="f14 mt10"> 不确定度/准确度等级/最大允许误差 </h2>
                <label>
                    <input type="radio" name="three" id="three_1" onclick="radio.check()" checked="checked" />
                    准确度等级
                </label>
                <div class="mt10" id="div1">


                    @foreach (var item in Model.ALLOWABLE_ERROR)
                    {
                        if (item.THEACCURACYLEVEL != null)
                        {
                            <ul class="clear mt10">
                                <li class="fl mr10">
                                    <input class="my-textbox " value="" name="THEACCURACYLEVEL" style="width:200px" placeholder="请输入数值">
                                </li>
                                <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="clear mt10">
                                <li class="fl mr10">
                                    <input class="my-textbox " value="" name="THEACCURACYLEVEL" style="width:200px" placeholder="请输入数值">
                                </li>
                                <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                            </ul>
                        }
                    }


                </div>
                <br>
                <label>
                    <input type="radio" name="three" id="three_2" onclick="radio.check()" />
                    最大允许误差
                </label>
                <div class="clear" id="div2">
                    <ul class="clear mt10">
                        <li class="fl mr10">
                            <select class="my-combobox" name="MAXCATEGORIES">
                                <option selected="selected" value="">请选择类别</option>
                                <option value="DCV:">DCV:</option>
                                <option value="ACV:">ACV:</option>
                                <option value="DCI:">DCI:</option>
                                <option value="ACI:">ACI:</option>
                                <option value="DCR:">DCR:</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            ±
                            <input class="my-textbox " value="" name="MAXVALUE" placeholder="填入数据">
                            %
                        </li>
                        <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                    </ul>
                </div>
                <br>
                <label>
                    <input type="radio" name="three" id="three_3" onclick="radio.check()" />
                    不确定度
                </label>
                <div class="clear" id="div3">
                    <ul class="clear mt10">
                        <li class="fl mr10">
                            <select class="my-combobox" name="THEUNCERTAINTY">
                                <option value="">请选择类别</option>
                                <option value="DCV:Urel=">DCV:Urel=</option>
                                <option value="ACV:Urel=">ACV:Urel=</option>
                                <option value="DCI:Urel=">DCI:Urel=</option>
                                <option value="ACI:Urel=">ACI:Urel=</option>
                                <option value="DCR:Urel=">DCR:Urel=</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            <input class="my-textbox " value="" name="THEUNCERTAINTYVALUE" placeholder="填入数据">
                        </li>
                        <li class="fl mr10">
                            <select class="my-combobox" name="THEUNCERTAINTYNDEXL">
                                <option value="">请选择指数级别</option>
                                <option value="×10-1">×10-1</option>
                                <option value="×10-2">×10-2</option>
                                <option value="×10-3">×10-3</option>
                                <option value="×10-4">×10-4</option>
                                <option value="×10-5=">×10-5=</option>
                                <option value="×10-6=">×10-6=</option>
                            </select>
                        </li>
                        <li class="fl mr10">
                            <select class="my-combobox" name="THEUNCERTAINTYVALUEK">
                                <option value="">请选择k值</option>
                                <option value="k=2">k=2</option>
                                <option value="k=3">k=3</option>
                            </select>
                        </li>
                        <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <h2 class="f14 mt10"> 证书信息 </h2>
            <div class="mt10" id="div4">
                <ul class="clear mt10">
                    <li class="fl mr10">
                        证书发放单位：
                        <input class="my-textbox " value="" name="CERTIFICATEUNIT">
                    </li>
                    <li class="fl mr10">
                        证书编号：
                        <input class="my-textbox " value="" name="CERTIFICATE_NUM">
                    </li>
                    <li class="fl mr10">
                        有效期至：
                        <input class="easyui-datebox" value="" name="VALID_TO">
                    </li>
                    <li class="fl mr10"><a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.add(this)">添加</a> <a href="javascript:;" class="easyui-linkbutton" onclick="linkButton.del(this)">移除</a></li>
                </ul>

            </div>
        </div>
        <div class="mt10"><a href="javascript:;" class="easyui-linkbutton" onclick="baocun()">保存</a> <a href="javascript:;" class="easyui-linkbutton" onclick="javascript: window.location.href = '/METERING_STANDARD_DEVICE/Index';">返回</a></div>
    </div>
    <script>
                $(function () {
                    $("#state").bind('change', function (obj) {
                        (($(this).val() == 1) ? $('#choicePre').show() : $('#choicePre').hide());

                    }); 0
                })
                var radio = {
                    check: function () {
                        var obj = $("input[name='three']:checked");
                        var id = obj.attr("id");
                        switch (id) {
                            case ("three_1"):
                                var row = $("#div2 ul");
                                var row2 = $("#div3 ul");
                                row.each(function () {
                                    if ($("#div2 ul").length > 1)
                                        $(this).remove();
                                    else
                                        $("#div2").find(":text,:selected,select,textarea").each(function () {
                                            $(this).val("");
                                            //$(this).combobox('select', "");
                                        })
                                })
                                row2.each(function () {
                                    if ($("#div3 ul").length > 1)
                                        $(this).remove();
                                    else
                                        $("#div3").find(":text,:selected,select,textarea").each(function () {
                                            $(this).val("");
                                            //$(this).combobox('select', "");
                                        })
                                })
                                break
                            case ("three_2"):
                                var row = $("#div1 ul");
                                var row2 = $("#div3 ul");
                                row.each(function () {
                                    if ($("#div1 ul").length > 1)
                                        $(this).remove();
                                    else
                                        $("#div1").find(":text,:selected,select,textarea").each(function () {
                                            $(this).val("");
                                            //$(this).combobox('select', "");
                                        })
                                })
                                row2.each(function () {
                                    if ($("#div3 ul").length > 1)
                                        $(this).remove();
                                    else
                                        $("#div3").find(":text,:selected,select,textarea").each(function () {
                                            $(this).val("");
                                            //$(this).combobox('select', "");
                                        })
                                })
                                break
                            case ("three_3"):
                                var row = $("#div2 ul");
                                var row2 = $("#div1 ul");
                                row.each(function () {
                                    if ($("#div2 ul").length > 1)
                                        $(this).remove();
                                    else
                                        $("#div2").find(":text,:selected,select,textarea").each(function () {
                                            $(this).val("");
                                            //$(this).combobox('select', "");
                                        })
                                })
                                row2.each(function () {
                                    if ($("#div1 ul").length > 1)
                                        $(this).remove();
                                    else
                                        $("#div1").find(":text,:selected,select,textarea").each(function () {
                                            $(this).val("");
                                            //$(this).combobox('select', "");
                                        })
                                })
                                break
                            default:

                        }
                        //$("#divtable .easyui-linkbutton").linkbutton("disable");
                        //$(obj).next('div').children(1).find('li a').linkbutton("enable");
                        //$(".mt10").next('div').children(9).find('li a').linkbutton("enable");
                        //$(".mt10").eq(12).find('a').linkbutton("enable");

                    }
                }
                var linkButton = {
                    add: function (obj) {
                        var newRow = " <ul class=\"clear mt10\">" + $(obj).parents('div ul').html() + "</ul>";
                        var parDiv = $(obj).parents('div ul').parent()
                        var newobj = $(parDiv).append(newRow);

                        // $.parser.parse();
                    },
                    del: function (obj) {
                        var row = $(obj).parents('div ul');
                        if ($(row).parent().children().length > 1)
                            $(row).remove();
                        else
                            alert('就剩一行了你还删除呀？');
                    }
                }

    </script>

}



<script type="text/javascript">

    $(function () {
        $("#CATEGORY").val("@Model.CATEGORY");//类别
        $("#UNDERTAKE_LABORATORYID").val("@Model.UNDERTAKE_LABORATORYID");//实验室

        var html1 = "";
        var html2 = "";
        var html3 = "";
  
        @foreach (var item in Model.ALLOWABLE_ERROR)
            {
                if (item.THEACCURACYLEVEL != null)
                {
    
                }
            }
        $("#div1").html(html1);
        $("#div2").html(html1);
        $("#div3").html(html1);
    });
    //保存
    function baocun() {
        var METERING_STANDARD_DEVICE = new Object();//标准装置/计量标准器信息
        var myArray = null;
        var myArray2 = null;
        var myArray3 = null;
        var myArray4 = new Array()
        var obj = $("input[name='three']:checked");
        var id = obj.attr("id");
        switch (id) {
            case ("three_1"):
                myArray = new Array()
                $("#div1").find("ul").each(function () {
                    var THEACCURACYLEVEL = $(this).find("li :input").eq(0).val();
                    myArray.push({ THEACCURACYLEVEL: THEACCURACYLEVEL });
                })
                break
            case ("three_2"):
                myArray2 = new Array()
                $("#div2").find("ul").each(function () {
                    var MAXCATEGORIES = $(this).find("li :selected").eq(0).val();
                    var MAXVALUE = $(this).find("li :input").eq(1).val();
                    myArray2.push({ MAXCATEGORIES: MAXCATEGORIES, MAXVALUE: MAXVALUE });
                })
                break
            case ("three_3"):
                myArray3 = new Array()
                $("#div3").find("ul").each(function () {
                    var THEUNCERTAINTY = $(this).find("li :selected").eq(0).val();
                    var THEUNCERTAINTYVALUE = $(this).find("li :input").eq(1).val();
                    var THEUNCERTAINTYNDEXL = $(this).find("li :selected").eq(1).val();
                    var THEUNCERTAINTYVALUEK = $(this).find("li :selected").eq(2).val();
                    myArray3.push({ THEUNCERTAINTY: THEUNCERTAINTY, THEUNCERTAINTYVALUE: THEUNCERTAINTYVALUE, THEUNCERTAINTYNDEXL: THEUNCERTAINTYNDEXL, THEUNCERTAINTYVALUEK: THEUNCERTAINTYVALUEK });
                })
                break
            default:
        }
        $("#div4").find("ul").each(function () {
            var CERTIFICATEUNIT = $(this).find("li :input").eq(0).val();
            var CERTIFICATE_NUM = $(this).find("li :input").eq(1).val();
            var VALID_TO = $(this).find("li :input").eq(2).datebox('getValue');
            //校验时间格式是否正确
            if (CERTIFICATEUNIT != "" || CERTIFICATE_NUM != "" || VALID_TO != "")
                myArray4.push({ CERTIFICATEUNIT: CERTIFICATEUNIT, CERTIFICATE_NUM: CERTIFICATE_NUM, VALID_TO: VALID_TO });
        })
        METERING_STANDARD_DEVICE.NAME = $("#NAME").val();//名称
        METERING_STANDARD_DEVICE.TEST_RANGE = $("#TEST_RANGE").val();//测量范围
        METERING_STANDARD_DEVICE.XINGHAO = $("#XINGHAO").val();//型号
        METERING_STANDARD_DEVICE.FACTORY_NUM = $("#FACTORY_NUM").val();//编号
        METERING_STANDARD_DEVICE.CATEGORY = $("#CATEGORY  option:selected").val();//类别
        METERING_STANDARD_DEVICE.UNDERTAKE_LABORATORYID = $("#UNDERTAKE_LABORATORYID  option:selected").val();//实验室
        METERING_STANDARD_DEVICE.THESUPERIOR = $("#THESUPERIOR").val();//上级
        if (myArray != null)
            METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray;
        else if (myArray2 != null)
            METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray2;
        else if (myArray3 != null)
            METERING_STANDARD_DEVICE.ALLOWABLE_ERROR = myArray3;
        METERING_STANDARD_DEVICE.METERING_STANDARD_DEVICE_CHECK = myArray4;
        //调用后台方法
        if (ifshuju(METERING_STANDARD_DEVICE)) {
            $.ajax({
                url: "/api/METERING_STANDARD_DEVICEApi/Post",
                type: "Post",
                data: METERING_STANDARD_DEVICE,
                dataType: "json",

                success: function (data) {
                    if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                    else if (data.Code == 1) {
                        $.messager.alert('操作提示', "新增成功！", 'info');
                        return false;
                    }
                    else {
                        if ($.messager) {
                            $.messager.defaults.ok = '继续';
                            $.messager.defaults.cancel = '返回';

                            $.messager.confirm('操作提示', "新增失败！", function (r) {
                                if (!r) {
                                    window.location.href = 'javascript:history.go(-1)';
                                }
                            });
                        }
                    }
                }
            })
        }

    }
    //数据校验
    function ifshuju(m) {
        var zhi = "";
        if (isNull(m.NAME)) {
            zhi += "名称不能为空！<br>";
        }
        if (isNull(m.TEST_RANGE)) {
            zhi += "测量范围不能为空！<br>";
        }
        if (isNull(m.XINGHAO)) {
            zhi += "型号不能为空！<br>";
        }
        if (isNull(m.FACTORY_NUM)) {
            zhi += "类别不能为空！<br>";
        }
        if (isNull(m.UNDERTAKE_LABORATORYID)) {
            zhi += "实验室不能为空！<br>";
        }
        if (m.ALLOWABLE_ERROR == null) {
            zhi += "不确定度/准确度等级/最大允许误差不能为空！<br>";
        }
        if (m.METERING_STANDARD_DEVICE_CHECK == null) {
            zhi += "证书信息不能为空！<br>";
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            //return false;
            return true;
        }
    }
    /*
用途：检查输入字符串是否为空或者全部都是空格
输入：str
返回：
如果全是空返回true,否则返回false
*/
    function isNull(str) {
        if (str == "") return true;
        var regu = "^[ ]+$";
        var re = new RegExp(regu);
        return re.test(str);
    }

</script>



