
@model Langben.DAL.METERING_STANDARD_DEVICE
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<script src="~/Scripts/JScriptIndex.js"></script>
@*<div id="divQuery">

        <div class='input_search' style="padding-top:10px;">
            <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
                查 询
            </a>
        </div>
    </div>*@
<br style="clear: both;" />
@*新增*@
<div id="w" class="easyui-dialog" title="新增" data-options="iconCls:''" style="width:600px;height:400px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <div class="clear mt10">
            <ul>
                <li class="fl mr10">
                    名称：
                    <input class="my-textbox " value="" name="NAME" id="NAME">
                </li>
                <li class="fl mr10">
                    测量范围：
                    <input class="my-textbox " value="" name="TEST_RANGE" id="TEST_RANGE">
                </li>
                <li class="fl mr10">
                    型号：
                    <input class="my-textbox " value="" name="XINGHAO" id="XINGHAO">
                </li>
                <li class="fl mr10">
                    编号：
                    <input class="my-textbox " value="" name="FACTORY_NUM" id="FACTORY_NUM">
                </li>
                <li class="fl mr10">
                    类别：
                    <select class="my-combobox" name="CATEGORY" id="CATEGORY">
                        <option value="">请选择 </option>
                        <option value="标准装置">标准装置 </option>
                        <option value="标准器">标准器</option>
                        <option value="中间试品">中间试品</option>
                    </select>
                </li>
                <li class="fl mr10">
                    实验室：
                    <select class="my-combobox" name="UNDERTAKE_LABORATORYID" id="UNDERTAKE_LABORATORYID">
                        <option value="">请选择 </option>
                        <option value="数表三相">数表三相 </option>
                        <option value="数表单相">数表单相</option>
                        <option value="电能">电能</option>
                        <option value="指示仪表">指示仪表</option>
                        <option value="直流仪器">直流仪器</option>
                        <option value="互感器">互感器</option>
                    </select>
                </li>
                <li class="fl mr10" id="choicePre">
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'" onclick="showModalOnly('THESUPERIOR', '../../METERING_STANDARD_DEVICE');">选择上一级</a><span id="checkTHESUPERIOR">
                    </span>@Html.HiddenFor(model => model.THESUPERIOR)
                </li>
            </ul>
        </div>

        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="baocun()" style="width:80px">确定</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:$('#w').dialog('close')" style="width:80px">取消</a>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(function () {
        $("#w").dialog('close');
        $('#flexigridData').datagrid({
            title: '标准装置/计量标准器信息', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '/api/METERING_STANDARD_DEVICEApi/PostData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',

            toolbar: [
                 {
                     text: '创建',
                     iconCls: 'icon-add',
                     handler: function () {
                         return flexiCreate();
                     }
                 }
                 , {
                     text: '修改',
                     iconCls: 'icon-edit',
                     handler: function () {
                         return flexiModify();
                     }
                 }],
            columns: [[
                { field: 'ID', title: 'ID', width: 86, hidden: true }
                , { field: 'NAME', title: '@Html.DisplayNameFor(model => model.NAME)', width: 200, align: 'center' }
                , { field: 'TEST_RANGE', title: '@Html.DisplayNameFor(model => model.TEST_RANGE)', width: 130, align: 'center' }
                , { field: 'FACTORY_NUM', title: '@Html.DisplayNameFor(model => model.FACTORY_NUM)', width: 130, align: 'center' }
                , { field: 'XINGHAO', title: '@Html.DisplayNameFor(model => model.XINGHAO)', width: 130, align: 'center' }
                , { field: 'CATEGORY', title: '@Html.DisplayNameFor(model => model.CATEGORY)', width: 86, align: 'center' }
                , { field: 'STATUS', title: '@Html.DisplayNameFor(model => model.STATUS)', width: 86, hidden: true, align: 'center' }
                , { field: 'UNDERTAKE_LABORATORYID', title: '@Html.DisplayNameFor(model => model.UNDERTAKE_LABORATORYIDOld)', width: 86, align: 'center' }
                , { field: 'CREATETIME', title: '@Html.DisplayNameFor(model => model.CREATETIME)', width: 86, formatter: formatDatebox, align: 'center' }
                , { field: 'CREATEPERSON', title: '@Html.DisplayNameFor(model => model.CREATEPERSON)', width: 86, align: 'center' }
                 , {
                     field: 'aa', title: '操作', width: 86, formatter: function (value, row, index) {
                         var html = "<a href='/METERING_STANDARD_DEVICE/ALLOWABLE_ERROR/" + row.ID + "'>准确度等级</a><br/>";
                         //html += "<a href='/VSHENHE/XiaZaiShenHe/" + row.ID + "^P'>证书信息</a><br/>";
                         html += "<a href='/METERING_STANDARD_DEVICE/UNCERTAINTYTABLE/" + row.ID+"'>不确定参数信息</a>";
                         return html;
                     }
                 }
            ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
            else
                search = search + this.name + "&" + this.value + "^";
        });
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {
        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].ID);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].NAME);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }

    //导航到创建的按钮
    function flexiCreate() {
        $("#w").dialog('open');
        //window.location.href = "../METERING_STANDARD_DEVICE/Create";
        //return false;
    }

    //导航到修改的按钮
    function flexiModify() {

        var arr = $('#flexigridData').datagrid('getSelections');

        if (arr.length == 1) {
            window.location.href = "../METERING_STANDARD_DEVICE/Edit/" + arr[0].ID;

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;

    };

    //新增保存
    function baocun() {
        debugger
        var METERING_STANDARD_DEVICE = new Object();
        METERING_STANDARD_DEVICE.NAME = $("#NAME").val();//名称
        METERING_STANDARD_DEVICE.TEST_RANGE = $("#TEST_RANGE").val();//测量范围
        METERING_STANDARD_DEVICE.XINGHAO = $("#XINGHAO").val();//型号
        METERING_STANDARD_DEVICE.FACTORY_NUM = $("#FACTORY_NUM").val();//编号
        METERING_STANDARD_DEVICE.CATEGORY = $("#CATEGORY option:selected").val();//类别
        METERING_STANDARD_DEVICE.UNDERTAKE_LABORATORYID = $("#UNDERTAKE_LABORATORYID option:selected").val();//实验室
        METERING_STANDARD_DEVICE.THESUPERIOR = $("#THESUPERIOR").val();//上级

        //if (ifshuju(METERING_STANDARD_DEVICE)) {
        if (false) {
            $.ajax({
                url: "/api/METERING_STANDARD_DEVICEApi/Post",
                type: "Post",
                data: METERING_STANDARD_DEVICE,
                dataType: "json",

                success: function (data) {
                    if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                    else if (data.Code == 1) {
                        $.messager.alert('操作提示', "新增成功！", 'info');
                        $("#flexigridData").datagrid("reload");
                        $("#flexigridData").datagrid("clearSelections");
                        $('#w').dialog('close');
                        return false;
                    }
                    else {
                        if ($.messager) {
                            $.messager.defaults.ok = '继续';
                            $.messager.defaults.cancel = '返回';

                            $.messager.confirm('操作提示', "新增失败！", function (r) {
                                if (!r) {
                                    window.location.href = 'javascript:history.go(-1)';
                                }
                            });
                        }
                    }
                }
            })
        }
    }
    //数据校验
    function ifshuju(m) {
        var zhi = "";
        if (isNull(m.NAME)) {
            zhi += "名称不能为空！<br>";
        }
        if (isNull(m.TEST_RANGE)) {
            zhi += "测量范围不能为空！<br>";
        }
        if (isNull(m.XINGHAO)) {
            zhi += "型号不能为空！<br>";
        }
        if (isNull(m.FACTORY_NUM)) {
            zhi += "类别不能为空！<br>";
        }
        if (isNull(m.UNDERTAKE_LABORATORYID)) {
            zhi += "实验室不能为空！<br>";
        }
        if (zhi != "") {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            //return false;
            return true;
        }
    }
    /*
用途：检查输入字符串是否为空或者全部都是空格
输入：str
返回：
如果全是空返回true,否则返回false
*/
    function isNull(str) {
        if (str == "") return true;
        var regu = "^[ ]+$";
        var re = new RegExp(regu);
        return re.test(str);
    }
</script>

