
@model Langben.DAL.ORDER_TASK_INFORMATION 
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common 
@using Models
<script src="~/Scripts/JScriptIndex.js"></script>
<div id="divQuery">
     
            <div class="input_search">
            <div class="input_search-label">
                    @Html.LabelFor(model => model.ORDER_NUMBER):
             </div>
                <div class="input_search-field">
                    <input type='text' id='ORDER_NUMBER'/>
               </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.ACCEPT_ORGNIZATION):
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("ACCEPT_ORGNIZATION", Models.SysFieldModels.GetSysField("Appliance", "ACCEPT_ORGNIZATION"), "请选择")
                </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.INSPECTION_ENTERPRISE):
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("INSPECTION_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox",id= "INSPECTION_ENTERPRISE" })
                </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE):
                </div>
                <div class="input_search-field">
                   @Html.DropDownList("CERTIFICATE_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox",id = "CERTIFICATE_ENTERPRISE" })
                </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.ORDER_STATUS):
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("ORDER_STATUS", Models.SysFieldModels.GetSysField("ORDER_TASK_INFORMATION","ORDER_STATUS"),"请选择",new { id = "ORDER_STATUS" })
                </div>
            </div> 
            <div class='input_search'>
              <div class='input_search-label'>
                    @Html.LabelFor(model => model.CREATETIME):
                </div>
                <div class='input_search-field-time'>
                    <input type="text" id="CREATETIMEStart_Time" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'CREATETIMEEnd_Time\');}'})"  />
                    <span>到</span>
                    <input type="text" id="CREATETIMEEnd_Time" onclick="WdatePicker({minDate:'#F{$dp.$D(\'CREATETIMEStart_Time\');}'})" />
               </div>
            </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
 <br style="clear: both;" />

<script type="text/javascript" language="javascript">
        $(function () {

            $('#flexigridData').datagrid({
                title: '委托单列表', //列表的标题
                iconCls: 'icon-site',
                width: 'auto',
                height: 'auto',
                //nowrap: false,
                striped: true,
                collapsible: true,
                url: '/api/ORDER_TASK_INFORMATIONApi/PostData', //获取数据的url
                sortName: 'ID',
                sortOrder: 'desc',
                idField: 'ID',

                toolbar: [

                    // {
                    //     text: '签名委托单查看',
                    //    iconCls: 'icon-search',
                    //    handler: function () {
                    //        return chakanqianming();
                    //    }
                    //} 
                ],
                columns: [[
                    { field: 'ID', title: '@Html.DisplayNameFor(model => model.ACCEPT_ORGNIZATION)', width: 220, hidden: true },
					{
					    field: 'ORDER_NUMBER', title: '@Html.DisplayNameFor(model => model.ORDER_NUMBER)', width: 220, formatter: function (value, row, index) {
					        return "<a href='../ORDER_TASK_INFORMATION/Details/" + row.ID + "'>" + row.ORDER_NUMBER + "</a>";
					}}
					, { field: 'ACCEPT_ORGNIZATION', title: '@Html.DisplayNameFor(model => model.ACCEPT_ORGNIZATION)', width: 220 }
					,{ field: 'INSPECTION_ENTERPRISE', title:  '@Html.DisplayNameFor(model => model.INSPECTION_ENTERPRISE)', width: 140 }
					 ,{ field: 'CERTIFICATE_ENTERPRISE', title:  '@Html.DisplayNameFor(model => model.CERTIFICATE_ENTERPRISE)', width: 140 }
				 ,{ field: 'CREATETIME', title:  '@Html.DisplayNameFor(model => model.CREATETIME)', width: 140
                    , formatter: formatDatebox
}
					,{ field: 'CREATEPERSON', title:  '@Html.DisplayNameFor(model => model.CREATEPERSON)', width: 140 }
					 	,{ field: 'ORDER_STATUS', title:  '@Html.DisplayNameFor(model => model.ORDER_STATUS )', width: 40 }

                ]],
                pagination: true,
                rownumbers: true

            });

             var parent = window.dialogArguments; //获取父页面
            if (parent == "undefined" || parent == null) {
                //    不是在iframe中打开的
            } else {
                //隐藏所有的按钮和分隔符
                $(".l-btn.l-btn-plain").hide();
                $(".datagrid-btn-separator").hide();
                //添加选择按钮
                $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
            }
        });

        //“查询”按钮，弹出查询框
        function flexiQuery() {

            //将查询条件按照分隔符拼接成字符串
            var search = "";
            search += "ORDER_NUMBER&" + $("#ORDER_NUMBER").val()+"^";
            search += "ACCEPT_ORGNIZATION&" + $("#ACCEPT_ORGNIZATION option:selected").val() + "^";
            search += "INSPECTION_ENTERPRISE&" + $('#INSPECTION_ENTERPRISE').combobox('getText') + "^";
            search += "CERTIFICATE_ENTERPRISE&" + $('#CERTIFICATE_ENTERPRISE').combobox('getText') + "^";
            search += "ORDER_STATUS&" + $("#ORDER_STATUS option:selected").val() + "^";
            search += "CREATETIMEStart_Time&" + $("#CREATETIMEStart_Time").val() + "^";
            search += "CREATETIMEEnd_Time&" + $("#CREATETIMEEnd_Time").val() + "^";
            $('#flexigridData').datagrid('load', { search: search });
        };

    //查看委托单签名
        function chakanqianming() {
            var arr = $('#flexigridData').datagrid('getSelections');
            if (arr.length == 1) {
                window.location.href = '/ORDER_TASK_INFORMATION/Edit/' + arr[0].ID;
            }
            else {
                $.messager.alert('操作提示', '请选择一条数据!', 'warning');
                return false;
            }


        }

</script>

