
@model Langben.DAL.ORDER_TASK_INFORMATION 
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common 
@using Models
<script src="~/Scripts/JScriptIndex.js"></script>
<div id="divQuery">
     
            <div class="input_search">
            <div class="input_search-label">
                    @Html.LabelFor(model => model.ORDER_NUMBER):
             </div>
                <div class="input_search-field">
                    <input type='text' id='ORDER_NUMBER'/>
               </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.ACCEPT_ORGNIZATION):
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("ACCEPT_ORGNIZATION", Models.SysFieldModels.GetSysField("Appliance", "ACCEPT_ORGNIZATION"), "请选择")
                </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.INSPECTION_ENTERPRISE):
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("INSPECTION_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox",id= "INSPECTION_ENTERPRISE" })
                </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE):
                </div>
                <div class="input_search-field">
                   @Html.DropDownList("CERTIFICATE_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox",id = "CERTIFICATE_ENTERPRISE" })
                </div>
            </div>
            <div class="input_search">
             <div class="input_search-label">
                    @Html.LabelFor(model => model.ORDER_STATUS):
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("ORDER_STATUS", Models.SysFieldModels.GetSysField("ORDER_TASK_INFORMATION","ORDER_STATUS"),"请选择",new { id = "ORDER_STATUS" })
                </div>
            </div> 
            <div class='input_search'>
              <div class='input_search-label'>
                    @Html.LabelFor(model => model.CREATETIME):
                </div>
                <div class='input_search-field-time'>
                    <input type="text" id="CREATETIMEStart_Time" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'CREATETIMEEnd_Time\');}'})"  />
                    <span>到</span>
                    <input type="text" id="CREATETIMEEnd_Time" onclick="WdatePicker({minDate:'#F{$dp.$D(\'CREATETIMEStart_Time\');}'})" />
               </div>
            </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
 <br style="clear: both;" />

<script type="text/javascript" language="javascript">
        $(function () {

            $('#flexigridData').datagrid({
                title: '委托单列表', //列表的标题
                iconCls: 'icon-site',
                width: 'auto',
                height: 'auto',
                //nowrap: false,
                striped: true,
                collapsible: true,
                url: '/api/ORDER_TASK_INFORMATIONApi/PostData', //获取数据的url
                sortName: 'ID',
                sortOrder: 'desc',
                idField: 'ID',

                toolbar: [

                     {
                         text: '签名委托单查看',
                        iconCls: 'icon-search',
                        handler: function () {
                            //return getView();
                        }
                    }  ],
                columns: [[
					{ field: 'ID', title: '@Html.DisplayNameFor(model => model.ORDER_NUMBER)', width: 220, formatter: function (value, row, index) {             						   
					    return "<a href='../ORDER_TASK_INFORMATION/Details/" + row.ID + "'>" + row.ID + "</a>";
					}}
					, { field: 'ACCEPT_ORGNIZATION', title: '@Html.DisplayNameFor(model => model.ACCEPT_ORGNIZATION)', width: 220 }
					,{ field: 'INSPECTION_ENTERPRISE', title:  '@Html.DisplayNameFor(model => model.INSPECTION_ENTERPRISE)', width: 140 }
					 ,{ field: 'CERTIFICATE_ENTERPRISE', title:  '@Html.DisplayNameFor(model => model.CERTIFICATE_ENTERPRISE)', width: 140 }
				 ,{ field: 'CREATETIME', title:  '@Html.DisplayNameFor(model => model.CREATETIME)', width: 140
                    , formatter: formatDatebox
}
					,{ field: 'CREATEPERSON', title:  '@Html.DisplayNameFor(model => model.CREATEPERSON)', width: 140 }
					 	,{ field: 'ORDER_STATUS', title:  '@Html.DisplayNameFor(model => model.ORDER_STATUS )', width: 40 }

                ]],
                pagination: true,
                rownumbers: true

            });

             var parent = window.dialogArguments; //获取父页面
            if (parent == "undefined" || parent == null) {
                //    不是在iframe中打开的
            } else {
                //隐藏所有的按钮和分隔符
                $(".l-btn.l-btn-plain").hide();
                $(".datagrid-btn-separator").hide();
                //添加选择按钮
                $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
            }
        });

        //“查询”按钮，弹出查询框
        function flexiQuery() {

            //将查询条件按照分隔符拼接成字符串
            var search = "";
            search += "ORDER_NUMBER&" + $("#ORDER_NUMBER").val()+"^";
            search += "ACCEPT_ORGNIZATION&" + $("#ACCEPT_ORGNIZATION option:selected").val() + "^";
            search += "INSPECTION_ENTERPRISE&" + $('#INSPECTION_ENTERPRISE').combobox('getText') + "^";
            search += "CERTIFICATE_ENTERPRISE&" + $('#CERTIFICATE_ENTERPRISE').combobox('getText') + "^";
            search += "ORDER_STATUS&" + $("#ORDER_STATUS option:selected").val() + "^";
            search += "CREATETIMEStart_Time&" + $("#CREATETIMEStart_Time").val() + "^";
            search += "CREATETIMEEnd_Time&" + $("#CREATETIMEEnd_Time").val() + "^";
            $('#flexigridData').datagrid('load', { search: search });
        };
        //“导出”按钮     在6.0版本中修改
        function flexiExport() {

            //将查询条件按照分隔符拼接成字符串
            var search = "";
            $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
                search = search + this.id + "&" + this.value + "^";
            });

            var p = $('#flexigridData').datagrid('options').columns[0];
            var field = [];//所有的列名
            var title = [];//所有的标题名称
            $(p).each(function () {
                field.push(this.field);
                title.push(this.title);
            });

            $.post("api/ORDER_TASK_INFORMATIONApi/PostExport",
                {
                    title: title.join(","),
                    field: field.join(","),
                    sortName: $('#flexigridData').datagrid('options').sortName,
                    sortOrder: $('#flexigridData').datagrid('options').sortOrder,
                    search: search
                }, function (res) {
                    if (res.Code == 1) {
                        window.location.href = res.Message;
                    }
                    else $.messager.alert('操作提示', res.Message, 'info');

                });
        };
        //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
        function flexiSelect() {

            var rows = $('#flexigridData').datagrid('getSelections');
            if (rows.length == 0) {
                $.messager.alert('操作提示', '请选择数据!', 'warning');
                return false;
            }

            var arr = [];
            for (var i = 0; i < rows.length; i++) {
                arr.push(rows[i].ID);
            }
            arr.push("^");
            for (var i = 0; i < rows.length; i++) {
                arr.push(rows[i].ORDER_NUMBER);
            }
            //主键列和显示列之间用 ^ 分割   每一项用 , 分割
            if (arr.length > 0) {//一条数据和多于一条
                returnParent(arr.join("&")); //每一项用 & 分割
            }
        }
        //导航到查看详细的按钮
        function getView() {

            var arr = $('#flexigridData').datagrid('getSelections');

            if (arr.length == 1) {
                window.location.href = "../ORDER_TASK_INFORMATION/Details/" + arr[0].ID;

            } else {
                $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            }
            return false;
        }
        //导航到创建的按钮
        function flexiCreate() {

            window.location.href = "../ORDER_TASK_INFORMATION/Create";
            return false;
        }
        //导航到修改的按钮
        function flexiModify() {

            var arr = $('#flexigridData').datagrid('getSelections');

            if (arr.length == 1) {
                window.location.href = "../ORDER_TASK_INFORMATION/Edit/" + arr[0].ID;

            } else {
                $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            }
            return false;

        };
        //删除的按钮
        function flexiDelete() {

            var rows = $('#flexigridData').datagrid('getSelections');
            if (rows.length == 0) {
                $.messager.alert('操作提示', '请选择数据!', 'warning');
                return false;
            }

            var arr = [];
            for (var i = 0; i < rows.length; i++) {
                arr.push(rows[i].ID);
            }

            $.messager.confirm('操作提示', "确认删除这 " + arr.length + " 项吗？", function (r) {
                if (r) {
                    $.ajax({
                        url: "api/ORDER_TASK_INFORMATIONApi/Delete?query=" + arr.join(","),
                        type: "DELETE",
                        success: function (res) {
                            if (res.Code == 1) {
                                //移除删除的数据

                                $.messager.alert('操作提示', res.Message, 'info');
                                $("#flexigridData").datagrid("reload");
                                $("#flexigridData").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert('操作提示', res.Message, 'info');
                            }

                        }
                    })
                }
            });

        };

</script>

