@model Langben.DAL.RULE

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models
 @section CurentPlace {
    修改  
}

@using (Html.BeginForm("", "api/RULEApi/Put"))
{
    <fieldset>
        
        <div class="bigdiv">
            @Html.HiddenFor(model => model.ID )   
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NAMEOTHER)：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NAMEOTHER)
                    @Html.ValidationMessageFor(model => model.NAMEOTHER)
                </div>
                </div>
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NAME)：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NAME)
                    @Html.ValidationMessageFor(model => model.NAME)
                </div>
            </div>
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.SCHEME_MENU)：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SCHEME_MENU)
                    @Html.ValidationMessageFor(model => model.SCHEME_MENU)
                </div>
            </div>
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.SORT) ：
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SORT, new { onkeyup = "isInt(this)", @class = "text-box single-line" })
                    @Html.ValidationMessageFor(model => model.SORT)
                </div>
            </div>
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.IS_UNCERTAINTY)：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.IS_UNCERTAINTY)
                    @Html.ValidationMessageFor(model => model.IS_UNCERTAINTY)
                </div>
            </div>
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UNCERTAINTY_MENU)：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UNCERTAINTY_MENU)
                    @Html.ValidationMessageFor(model => model.UNCERTAINTY_MENU)
                </div>
            </div>
            <div class="search-form">
                <div class="editor-label">
                    <a class="anUnderLine" onclick="showModalOnly('UNDERTAKE_LABORATORYID','../../UNDERTAKE_LABORATORY');">
                        @Html.LabelFor(model => model.UNDERTAKE_LABORATORYID)
                    </a>：
                </div>
                <div class="editor-field">
                    <div id="checkUNDERTAKE_LABORATORYID">
                        @if (Model != null)
                        {
                            if (null != Model.UNDERTAKE_LABORATORYID)
                            {
                                <table id="@Model.UNDERTAKE_LABORATORYID"
                                       class="deleteStyle">
                                    <tr>
                                        <td>
                                            <img alt="删除" title="点击删除" onclick="deleteTable('@Model.UNDERTAKE_LABORATORYID ','UNDERTAKE_LABORATORYID');" src="../../../Images/deleteimge.png" />
                                        </td>
                                        <td>
                                            @Model.UNDERTAKE_LABORATORY.NAME
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    </div>
                    @Html.HiddenFor(model => model.UNDERTAKE_LABORATORYID)
                </div>
            </div>
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.INPUTSTATE)：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.INPUTSTATE)
                    @Html.ValidationMessageFor(model => model.INPUTSTATE)
                </div>
            </div>
            <div class="search-form">
                <div class="editor-label">
                    <a class="anUnderLine" onclick="showModalOnly('PARENTID','../../RULE');">
                        @Html.LabelFor(model => model.PARENTID)
                    </a>：
                </div>
                <div class="editor-field">
                    <div id="checkPARENTID">
                        @if (Model != null)
                        {
                            if (!string.IsNullOrWhiteSpace(Model.PARENTID))
                            {
                                <table id="@Model.PARENTID"
                                       class="deleteStyle">
                                    <tr>
                                       
                                        <td>
                                            @Model.RULE2.NAMEOTHER
                                        </td>
                                        <td>
                                            <img alt="删除" title="点击删除" src="../../../Images/deleteimge.png" onclick="deleteTable('@Model.PARENTID ','PARENTID');" />
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    </div>
                    @Html.HiddenFor(model => model.PARENTID)
                </div>@Html.HiddenFor(model => model.CREATETIME)
            </div>
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.CREATEPERSON)：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CREATEPERSON)
                    @Html.ValidationMessageFor(model => model.CREATEPERSON)
                </div>
            </div>
            <div class="search-form">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UPDATEPERSON)：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UPDATEPERSON)
                    @Html.ValidationMessageFor(model => model.UPDATEPERSON)
                </div>
            </div>
           
            </div>
        <div class="clearfix"></div>
        <div class="search-form">
            <div class="editor-label"></div>
            <div class="editor-field">

                <input class="a2 f2" type="submit" value="修改" />
                <input class="a2 f2" type="button" onclick="BackList('RULE')" value="返回列表" />

            </div>
        </div>
    </fieldset>
}



    <script type="text/javascript">

        $(function () {
            

            // 获取待编辑内容并显示
            var id = '@ViewBag.Id';
            $.ajax({
                url: "/api/RULEApi/Get/" + id,
                type: "GET",
                dataType: "json",
                

                // async: false,
                success: function (res) {
                    $("#ID").val(res.ID);$("#NAMEOTHER").val(res.NAMEOTHER);$("#NAME").val(res.NAME);$("#SCHEME_MENU").val(res.SCHEME_MENU);$("#SORT").val(res.SORT);$("#IS_UNCERTAINTY").val(res.IS_UNCERTAINTY);$("#UNCERTAINTY_MENU").val(res.UNCERTAINTY_MENU);$("#INPUTSTATE").val(res.INPUTSTATE);$("#CREATETIME").val(res.CREATETIME);$("#CREATEPERSON").val(res.CREATEPERSON);$("#UPDATEPERSON").val(res.UPDATEPERSON);
                }
            })
        });
        

    </script>



