@model Langben.DAL.VZHENGSHULEIBEITONGJIFENXI
@{ Layout = "~/Views/Shared/Echart.cshtml"; }
@using Common
@using Models
<div id="divQuery">
    <div class="input_search">
        <div class="input_search-label">
            报告批准通期间:
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="PIZHUNSHIJIANStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'PIZHUNSHIJIANStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="PIZHUNSHIJIANEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'PIZHUNSHIJIANEnd_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            所属单位:
        </div>
        <div class="input_search-field">
            <input type='text' id='SUOSHUDANWEI' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            证书单位:
        </div>
        <div class="input_search-field">
            <input type='text' id='ZHENGSHUDANWEI' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            受理单位:
        </div>
        <div class="input_search-field">
            @Html.DropDownList("SHOULIDANWEI", Models.SysFieldModels.GetSysField("Appliance", "ACCEPT_ORGNIZATION"),"请选择", new { @class = "easyui-combobox" })
        </div>
    </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
<br style="clear: both;" />
<style type="text/css">
    .subtotal {
        font-weight: bold;
    }
    /*合计单元格样式*/
</style>
<script type="text/javascript" language="javascript">
    $(function () {

        $('#flexigridData').datagrid({
            title: '证书类别统计分析', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '../VZHENGSHULEIBEITONGJIFENXI/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            onLoadSuccess: function (data) {
                var rows = $('#flexigridData').datagrid('getRows');
                var total = 0;
                var data2 = [];
                var data3 = [];
                for (var i = 0; i < rows.length; i++) {
                    total += parseFloat(rows[i].BAOGAOSHULIANG);
                    if (rows[i].SHOUQUANZIZHI == null) {
                        data2.push(rows[i].ZHEGNSHUBAOGAOLEIBIE);
                        data3.push({ value: rows[i].BAOGAOSHULIANG, name: rows[i].ZHEGNSHUBAOGAOLEIBIE });
                    }
                    else {
                        data2.push(rows[i].SHOUQUANZIZHI + "+" + rows[i].ZHEGNSHUBAOGAOLEIBIE);
                        data3.push({ value: rows[i].BAOGAOSHULIANG, name: rows[i].SHOUQUANZIZHI + "+" + rows[i].ZHEGNSHUBAOGAOLEIBIE });
                    }
                    
                }
                $('#flexigridData').datagrid('appendRow', { ZHEGNSHUBAOGAOLEIBIE: '<b>统计：</b>', BAOGAOSHULIANG: total });
                //图表
                var myChart = echarts.init(document.getElementById('main'));
                var option = {
                    title: {
                        text: '证书类别统计分析图表',
                        //subtext: '纯属虚构',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: data2
                    },
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data:data3,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                myChart.setOption(option);
            },
            showFooter: true,
            toolbar: [

                 //{
                 //    text: '详细',
                 //    iconCls: 'icon-search',
                 //    handler: function () {
                 //        return getView();
                 //    }
                 //}
            ],
            columns: [[
					{ field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', width: 129, hidden: true }
					, { field: 'ZHEGNSHUBAOGAOLEIBIE', title: '@Html.DisplayNameFor(model => model.ZHEGNSHUBAOGAOLEIBIE)', width: 129 }
					, { field: 'SHOUQUANZIZHI', title: '@Html.DisplayNameFor(model => model.SHOUQUANZIZHI)', width: 129 }
					, { field: 'BAOGAOSHULIANG', title: '@Html.DisplayNameFor(model => model.BAOGAOSHULIANG)', width: 129 }
            ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {
        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "PIZHUNSHIJIANStart_Time&" + $("#PIZHUNSHIJIANStart_Time").val() + "^";
        search += "PIZHUNSHIJIANEnd_Time&" + $("#PIZHUNSHIJIANEnd_Time").val() + "^";
        search += "SUOSHUDANWEI&" + $("#SUOSHUDANWEI").val() + "^";
        search += "ZHENGSHUDANWEI&" + $("#ZHENGSHUDANWEI").val() + "^";
        search += "SHOULIDANWEI&" + $('#SHOULIDANWEI').combobox('getValue') + "^";
        if ($("#PIZHUNSHIJIANStart_Time").val() != "") {
            search += "PIZHUNJIELUN&" + "合格" + "^";
        }
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].ID);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].SUOSHUDANWEI);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }
    //导航到查看详细的按钮
    function getView() {

        var arr = $('#flexigridData').datagrid('getSelections');

        if (arr.length == 1) {
            window.location.href = "../VZHENGSHULEIBEITONGJIFENXI/Details/" + arr[0].ID;

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;
    }
</script>

