@model Langben.DAL.ALLOWABLE_ERROR

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                  
                <div class="display-label">
                      @Html.LabelFor(model => model.VALUE) :
                </div>
                <div class="display-field" id='VALUE'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UNIT) :
                </div>
                <div class="display-field" id='UNIT'>
                </div>        
                <div class="display-label">
                      @Html.LabelFor(model => model.METERING_STANDARD_DEVICEID) :
                </div>
                <div class="display-field">
                    @if (Model.METERING_STANDARD_DEVICE != null)
                       {
                    @Model.METERING_STANDARD_DEVICE.NAME
                    } 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATETIME) :
                </div>
                <div class="display-field" id='CREATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATEPERSON) :
                </div>
                <div class="display-field" id='CREATEPERSON'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATETIME) :
                </div>
                <div class="display-field" id='UPDATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATEPERSON) :
                </div>
                <div class="display-field" id='UPDATEPERSON'>
                </div>
        </div>
    </fieldset>

<script type="text/javascript">

    $(function () {
        // 获取内容并显示
        var id = '@ViewBag.Id';
        $.ajax({
            url: "/api/ALLOWABLE_ERRORApi/" + id,
            type: "POST",
            // async: false,
            success: function (res) {
		$("#VALUE").html(res.VALUE);$("#UNIT").html(res.UNIT);$("#CREATETIME").html(res.CREATETIME);$("#CREATEPERSON").html(res.CREATEPERSON);$("#UPDATETIME").html(res.UPDATETIME);$("#UPDATEPERSON").html(res.UPDATEPERSON);
            }
        })
    });
</script>

