@model Langben.DAL.VQIJULINGQU1
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<script src="~/Scripts/datagrid-detailview.js"></script>
<div id="divQuery">

    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.ORDER_NUMBER):
        </div>
        <div class="input_search-field">
            <input type='text' id='ORDER_NUMBER' />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("CERTIFICATE_ENTERPRISE", Models.COMPANYModels.GetCOMPANY(), "请选择", new { @class = "easyui-combobox" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.APPLIANCECOLLECTIONSATE):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("APPLIANCECOLLECTIONSATE", Models.SysFieldModels.GetSysField("VQIJULINGQU1", "APPLIANCECOLLECTIONSATE"), "请选择", new { id = "APPLIANCECOLLECTIONSATE", @class = "easyui-combobox" })
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CREATETIME):
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="CREATETIMEStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'CREATETIMEStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="CREATETIMEEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'CREATETIMEEnd_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.REPORTTORECEVESTATE):
        </div>
        <div class="input_search-field">
            @Html.DropDownList("REPORTTORECEVESTATE", Models.SysFieldModels.GetSysField("VQIJULINGQU1", "REPORTTORECEVESTATE"), "请选择", new { id = "REPORTTORECEVESTATE", @class = "easyui-combobox" })
        </div>
    </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
<br style="clear: both;" />
<div id="myWindow">
</div>
<input type="hidden" id="baogaoid" value="" />
<input type="hidden" id="qijuid" value="" />
<input type="hidden" id="huishou" value="" />
<script type="text/javascript" language="javascript">
    $(function () {
        $('#flexigridData').datagrid({
            //title: '器具报告领取', //列表的标题
            //iconCls: 'icon-site',
            width: 'auto',
            height: 340,
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '../VQIJULINGQU1/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',

            toolbar: [
                 {
                     text: '签名',
                     iconCls: 'icon-edit',
                     handler: function () {
                         return getView();
                     }
                 },
                    {
                        text: '报告回收',
                        iconCls: 'icon-daoru',
                        handler: function () {
                            return baogaohuishou();
                        }
                    }
            ],
            columns: [[
					{ field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', hidden: true, width: 359 }
					, { field: 'ORDER_NUMBER', title: '@Html.DisplayNameFor(model => model.ORDER_NUMBER)', width: 359 }//委托单号
					, { field: 'CERTIFICATE_ENTERPRISE', title: '@Html.DisplayNameFor(model => model.CERTIFICATE_ENTERPRISE)', width: 359 }//证书单位
					, { field: 'CUSTOMER_SPECIFIC_REQUIREMENTS', title: '@Html.DisplayNameFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)', width: 359 }//客户特殊要求
                    , {
                        field: 'aa', title: '操作记录', width: 86, formatter: function (value, row, index) {
                            return html = "<a onclick='showMyWindow(\"" + row.ID + "\");'href='#'>详情</a>";
                        }
                    }
            ]],
            pagination: true,
            rownumbers: true,
            view: detailview,
            detailFormatter: function (index, row) {
                return '<div style="padding:2px"><table class="ddv"></table></div>';
            },
            onExpandRow: function (index, row) {
                var ddv = $(this).datagrid('getRowDetail', index).find('table.ddv');
                ddv.datagrid({
                    url: '../VQIJULINGQU2/PostDataByID/' + row.ID,
                    fitColumns: true,
                    singleSelect: true,
                    rownumbers: true,
                    loadMsg: '',
                    height: 'auto',
                    columns: [[
                       { field: 'ID', title: '器具明细表id', width: 111, hidden: true }
					, { field: 'APPLIANCE_NAME', title: '器具名称', width: 111 }
					, { field: 'VERSION', title: '型号', width: 91 }
					, { field: 'FACTORY_NUM', title: '出厂编号', width: 91 }
					, { field: 'NUM', title: '数量', width: 61 }
					, { field: 'ATTACHMENT', title: '附件', width: 61 }
					, { field: 'UNDERTAKE_LABORATORYID', title: '承接实验室', width: 91 }
					, {
					    field: 'APPLIANCE_RECIVE', title: '器具接收', width: 61
					}
                    , {
                        field: 'APPLIANCECOLLECTIONSATE', title: '器具领取', width: 91, formatter: function (value, row, index) {
                            if (row.APPLIANCE_RECIVE == "是") {
                                if (row.APPLIANCECOLLECTIONSATE == "器具已领取") {
                                    //return "<input id='qiju' type='checkbox' name='qiju' value='" + row.ID + "#" + row.ORDER_TASK_INFORMATIONID + "' checked='checked' disabled='disabled'/>";
                                    return "已领取";
                                }
                                else {
                                    return "<input id='qiju' type='checkbox' name='qiju' value='" + row.ID + "~" + row.ORDER_TASK_INFORMATIONID + "'/>";
                                }
                            }
                        }
                    }
                     , {
                         field: 'REPORTTORECEVESTATE', title: '报告领取', width: 191, formatter: function (value, row, index) {
                             if (row.REPORTTORECEVESTATE == "报告已领取") {
                                 //return "<input id='baogao' type='checkbox' name='baogao' value='" + row.PREPARE_SCHEMEID + "#" + row.ORDER_TASK_INFORMATIONID + "' checked='checked' disabled='disabled'/><label>" + row.REPORTNUMBER + "</label>";
                                 return "已领取";
                             }
                             else {
                                 if (row.REPORTNUMBER != null) {
                                     return "<input id='baogao' type='checkbox' name='baogao' value='" + row.PREPARE_SCHEMEID + "~" + row.ORDER_TASK_INFORMATIONID + "'/><label>" + row.REPORTNUMBER + "</label>";
                                 }
                             }

                         }
                     }, {
                         field: 'a', title: '报告回收', width: 91, formatter: function (value, row, index) {
                             if (row.REPORTSTATUS == "@Common.REPORTSTATUS.报告已回收.ToString()") {
                                 //return "<input type='radio' name='huishou' value='" + row.PREPARE_SCHEMEID + "' checked='checked' disabled='disabled'/>";
                                 return "已回收";
                             }
                             else {
                                 return "<input type='radio' name='huishou' value='" + row.PREPARE_SCHEMEID + "'/>";
                             }

                         }
                     }
					, { field: 'REMARKS', title: '备注', width: 111 }
                    ]],
                    onResize: function () {
                        $('#flexigridData').datagrid('fixDetailRowHeight', index);
                    },
                    onLoadSuccess: function () {
                        setTimeout(function () { $('#flexigridData').datagrid('fixDetailRowHeight', index); }, 0);
                        $("input[name='qiju']").unbind().bind("click", function () {
                            var checkrows = $("input[name='qiju']:checked").length;
                            var items = $("input[name='qiju']:checked");
                            var result = "";
                            $.each(items, function (index, item) {
                                result = result + "|" + item.value;
                            });
                            $("#qijuid").val(result);
                        });
                        $("input[name='baogao']").unbind().bind("click", function () {
                            var checkrows = $("input[name='baogao']:checked").length;
                            var items = $("input[name='baogao']:checked");
                            var result = "";
                            $.each(items, function (index, item) {
                                result = result + "|" + item.value;
                            });
                            $("#baogaoid").val(result);
                        });
                        $("input[name='huishou']").unbind().bind("click", function () {
                            var checkrows = $("input[name='huishou']:checked").length;
                            var items = $("input[name='huishou']:checked");
                            var result = "";
                            $.each(items, function (index, item) {
                                result = item.value;
                            });
                            $("#huishou").val(result);
                        });
                    }
                });
                $('#flexigridData').datagrid('fixDetailRowHeight', index);
            }
        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {
        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "ORDER_NUMBER&" + $("#ORDER_NUMBER").val() + "^";
        search += "CERTIFICATE_ENTERPRISE&" + $('#CERTIFICATE_ENTERPRISE').combobox('getText') + "^";
        if ($('#APPLIANCECOLLECTIONSATE').combobox('getText') == "待领取") {
            search += "APPLIANCECOLLECTIONSATE&" + "@Common.ORDER_STATUS.器具已入库.ToString()" + "^";
        }
        else if ($('#APPLIANCECOLLECTIONSATE').combobox('getText') == "已领取") {
            search += "APPLIANCECOLLECTIONSATE&" + "@Common.ORDER_STATUS.器具已领取.ToString()" + "^";
        }
        search += "CREATETIMEStart_Time&" + $("#CREATETIMEStart_Time").val() + "^";
        search += "CREATETIMEEnd_Time&" + $("#CREATETIMEEnd_Time").val() + "^";
        if ($('#REPORTTORECEVESTATE').combobox('getText') == "待领取") {
            search += "REPORTTORECEVESTATE&" + "@Common.REPORTSTATUS.报告已打印.ToString()" + "^";
        }
        else if ($('#REPORTTORECEVESTATE').combobox('getText') == "已领取") {
            search += "REPORTTORECEVESTATE&" + "@Common.REPORTSTATUS.报告已领取.ToString()" + "^";
        }

        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    var WindowObjectReference; // global variable
    //签名
    function getView() {
        var baogao = $("#baogaoid").val();
        var qiju = $("#qijuid").val();
        if (baogao != "" || qiju != "") {
            if (baogao != "") {
                var a = baogao.split('|');
                var z = a[1].split('~')[1];
                for (var i = 0; i <a.length; i++) {
                    if (a[i] != "") {
                        if (a[i].split('~')[1] != z) {
                            $.messager.alert('操作提示', '请选择同一委托单下的数据!', 'warning');
                            return false;
                        }
                    }
                }
            }
            if (qiju != "") {
                var b = qiju.split('|');
                var z = b[1].split('~')[1];
                for (var i = 0; i < b.length; i++) {
                    if (b[i] != "") {
                        if (b[i].split('~')[1] != z) {
                            $.messager.alert('操作提示', '请选择同一委托单下的数据!', 'warning');
                            return false;
                        }                        
                    }
                }
            }
            var fulls = "left=0,screenX=0,top=0,screenY=0,scrollbars=1";    //定义弹出窗口的参数  
            if (window.screen) {
                var ah = screen.availHeight - 30;
                var aw = screen.availWidth - 10;
                fulls += ",height=" + ah;
                fulls += ",innerHeight=" + ah;
                fulls += ",width=" + aw;
                fulls += ",innerWidth=" + aw;
                fulls += ",resizable"
            } else {
                fulls += ",resizable"; // 对于不支持screen属性的浏览器，可以手工进行最大化。 manually  
            }


            WindowObjectReference = window.open('/VQIJULINGQU1/Show/?baogaoid=' + baogao + "&qijuid=" + qiju,
"签字",
fulls);
             
        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;
    }

    //报告回收
    function baogaohuishou() {
        var huishou = $("#huishou").val();
        if (huishou != null || huishou != "") {
            $.ajax({
                url: "/api/VQIJULINGQU2Api/BaoGaoHuiShou/" + huishou,
                type: "Put",
                //data: arr,
                success: function (res) {
                    if (res.Code == 1) {
                        $.messager.alert('操作提示', "回收成功！", 'info', function () {
                            window.location.href = '/Appliance/Index/' + res.Id;
                        });
                    }
                    else {
                        $.messager.alert('操作提示', "回收失败！", 'error');
                    }
                }
            })

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;
    }
    //详情
    function showMyWindow(href) {

        $('#myWindow').window({
            title: '详情',
            width: 830,
            height: 450,
            content: '<iframe scrolling="yes" frameborder="0"  src="/SIGN/Index/' + href + '" style="width:100%;height:98%;"></iframe>',
            //        href: href === undefined ? null : href,
            modal: true,
            minimizable: false,
            maximizable: false,
            shadow: false,
            cache: false,
            closed: false,
            collapsible: false,
            resizable: false,
            loadingMessage: '正在加载数据，请稍等片刻......'
        });

    }
</script>
