@model Langben.App.Models.ORDER_TASK_INFORMATIONShow

@{
    ViewBag.Title = "签字";
    Layout = "~/Views/Shared/QianZi.cshtml";
}
@using Common
<script src="~/Scripts/jquery.edatagrid.js"></script>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">

<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <title>委托单</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .tab {
            width: 1085px;
            text-align: center;
            border-collapse: collapse;
            font-size: 12px;
        }

            .tab td, .tab1 td {
                padding: 2px;
                height: 30px;
            }

        .title_wtd {
            width: 1085px;
            height: 42px;
            margin: 0 auto;
            text-align: center;
            line-height: 42px;
            font-size: 12pt;
        }

            .title_wtd span {
                float: right;
                font-size: 12pt;
            }

        .title_jibei {
            width: 1085px;
            height: 42px;
            margin: 0 auto;
            text-align: center;
            line-height: 42px;
            font-size: 14pt;
            font-weight: bold;
        }

        .tab1 {
            width: 1085px;
            min-height: 128px;
            text-align: center;
            border-collapse: collapse;
            font-size: 11px;
            margin-top: 30px;
        }

        .beizhu {
            width: 1085px;
            height: 100px;
            margin: 10px auto 0;
            font-size: 9pt;
        }

            .beizhu .mail {
                margin-left: 132px;
            }

            .beizhu .yb {
                margin-left: 200px;
            }

        .qianzi {
            width: 1085px;
            border: none;
        }
        .my-btn {
            cursor: pointer;
            font-size: 14px;
            background: #006F69;
            color: #fff;
            padding: 0 15px;
            border: none;
            border-radius: 4px;
            height: 38px;
            font-family: 'Microsoft YaHei';
        }

            .my-btn:hover {
                background: #08B2AA;
            }
    </style>
</head>

<body>
    <div id="HTMLVALUE">
        <div class="title_jibei" id="ACCEPT_ORGNIZATION">冀北电力有限公司计量中心</div>
        <table class="tab" border="1px" cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td width="81" height="32">送检单位</td>
                <td colspan="2" id="INSPECTION_ENTERPRISE">@Model.INSPECTION_ENTERPRISE</td>
                <td width="81">单位地址</td>
                <td colspan="2" id="INSPECTION_ENTERPRISE_ADDRESS">@Model.INSPECTION_ENTERPRISE_ADDRESS</td>
                <td width="81">邮政编码</td>
                <td id="INSPECTION_ENTERPRISE_POST">@Model.INSPECTION_ENTERPRISE_POST</td>
            </tr>
            <tr>
                <td width="81" height="32">联系人</td>
                <td colspan="2" id="CONTACTS">@Model.CONTACTS</td>
                <td width="81">联系电话</td>
                <td colspan="2" id="CONTACT_PHONE">@Model.CONTACT_PHONE</td>
                <td width="81">传真</td>
                <td id="FAX">@Model.FAX</td>
            </tr>
            <tr>
                <td width="81" height="32">证书单位名称</td>
                <td colspan="2" id="CERTIFICATE_ENTERPRISE">@Model.CERTIFICATE_ENTERPRISE</td>
                <td width="81">单位地址</td>
                <td colspan="2" id="CERTIFICATE_ENTERPRISE_ADDRESS">@Model.CERTIFICATE_ENTERPRISE_ADDRESS</td>
                <td width="81">邮政编码</td>
                <td id="CERTIFICATE_ENTERPRISE_POST">@Model.CERTIFICATE_ENTERPRISE_POST</td>
            </tr>
            <tr>
                <td width="81" height="32">联系人</td>
                <td colspan="2" id="CONTACTS2">@Model.CONTACTS2</td>
                <td width="81">联系电话</td>
                <td colspan="2" id="CONTACT_PHONE2">@Model.CONTACT_PHONE2</td>
                <td width="81">传真</td>
                <td id="FAX2">@Model.FAX2</td>
            </tr>
        </table>
        <table class="tab1" border="1px" cellpadding="0" cellspacing="0" align="center" id="qijuzhi">
            <tr>
                <td>器具名称</td>
                <td>型号</td>
                <td>出厂编号</td>
                <td>数量</td>
                <td>附件</td>
                <td>承接实验室</td>
                <td>器具接收</td>
                <td>器具领取</td>
                <td>报告领取</td>
            </tr>
            @foreach (var item in Model.VQIJULINGQU2Show)
            {
                <tr>
                    <td>@item.APPLIANCE_NAME</td>
                    <td>@item.VERSION</td>
                    <td>@item.FACTORY_NUM</td>
                    <td>@item.NUM</td>
                    <td>@item.ATTACHMENT</td>
                    <td>@item.UNDERTAKE_LABORATORYID</td>
                    <td>@item.APPLIANCE_RECIVE</td>
                    <td>@item.APPLIANCECOLLECTIONSATE</td>   
                    <td>@item.REPORTTORECEVESTATE</td>                 
                </tr>
            }
        </table>
        <table class="qianzi" cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td align='right' valign="top">
                    <div style="font-size:16pt; margin-top:20px">请客户确认上述信息后签字：</div>
                </td>
                <td width="700" height="300">
                    <div style="width:700px; height:300px; background:#eee">
                        <object id="HWPenSign"
                                name="HWPenSign"
                                classid="clsid:E8F5278C-0C72-4561-8F7E-CCBC3E48C2E3"
                                width="700"
                                height="330"></object>
                    </div>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
       
        <p class="beizhu" id="tongxundizi">

        </p>
        <div class="tr mt10">
            <input id="Button3" type="button" value="重新签字" class="my-btn" onclick="" />
            <input id="Button14" type="button" value="确定" class="my-btn" onclick="baocun()" />
        </div>
    </div>

    <script type="text/javascript">
        function baocun() {
            $.ajax({
                url: "/api/VQIJULINGQU2Api/Put?baogaoid=" + '@ViewBag.Baogaoid '+ "&qijuid=" +'@ViewBag.Qijuid' + "&yemian=" + null + "",
                type: "Put",
                //data: arr,
                success: function (res) {
                    if (res.Code == 1) {

                        $.messager.alert('操作提示', "领取成功！", 'info');
                        if (window.opener) {
                            window.opener.location.href = "/VQIJULINGQU1";

                            window.close();
                        }
                        //$("#flexigridData").datagrid("reload");
                        //$("#flexigridData").datagrid("clearSelections");
                    }
                    else {
                        $.messager.alert('操作提示', "领取失败！", 'error');
                    }
                }
            })
        }
    </script>
</body>
</html>
