@model Langben.DAL.VSHIYANSHIGONGZUOLIANG
@{ Layout = "~/Views/Shared/Echart.cshtml"; }
@using Common
@using Models
<div id="divQuery">
    <div class="input_search">
        <div class="input_search-label">
            统计期间:
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="PIZHUNSHIJIANStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'PIZHUNSHIJIANStart_Time\');}' })" />
            <span>到</span>
            <input type="text" id="PIZHUNSHIJIANEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'PIZHUNSHIJIANEnd_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            受理单位:
        </div>
        <div class="input_search-field">
            <input type='text' id='SHOULIDANWEI' />
        </div>
    </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
<br style="clear: both;" />

<script type="text/javascript" language="javascript">


    $(function () {

        $('#flexigridData').datagrid({
            title: '实验室别工作量统计分析', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '/VSHIYANSHIGONGZUOLIANG/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            onLoadSuccess: function (data) {
                var rows = $('#flexigridData').datagrid('getRows');
                var WEITUODAN = 0;
                var JIANDINGWANCHENG = 0;
                var SHEBEIGUZHANG = 0;
                var PIZHUNTONGGUO = 0;
                var HEGE = 0;
                var BUHEGE = 0;
                var CHAOQI = 0;
                for (var i = 0; i < rows.length; i++) {
                    WEITUODAN += parseFloat(rows[i].WEITUODAN);
                    JIANDINGWANCHENG += parseFloat(rows[i].JIANDINGWANCHENG);
                    SHEBEIGUZHANG += parseFloat(rows[i].SHEBEIGUZHANG);
                    PIZHUNTONGGUO += parseFloat(rows[i].PIZHUNTONGGUO);
                    HEGE += parseFloat(rows[i].HEGE);
                    BUHEGE += parseFloat(rows[i].BUHEGE);
                    CHAOQI += parseFloat(rows[i].CHAOQI);
                }

                var myChart = echarts.init(document.getElementById('main'));

              var  legend_size = 10;

              var  data = [
                    [0.5, 0.4, 0.3, 0.5],
                    [4.5, 2.3, 1.8, 1.9],
                    [1.7, 1.2, 0.7, 1.4],
                    [1.2, 0.8, 0.9, 0.9],
                ];
              var categories = ['好奇', '妈咪宝贝', '帮宝适', '花王'];
              var dims = ['柔软度', '吸水性', '透气度', '厚度']

                myChart.setOption({
                    
                    legend: {
                        bottom: '10',
                        data: dims,
                        icon: 'square',

                        itemWidth: legend_size,
                        itemHeight: legend_size,
                    },


                    xAxis: [{
                        type: 'category',
                        data: categories,

                    }],
                    yAxis: [{

                        type: 'value',
                        name: '差评占比',
                    }, ],
                    series: [{
                        name: dims[0],
                        type: 'bar',
                        data: data[0]
                    }, {
                        name: dims[1],
                        type: 'bar',
                        data: data[1]
                    }, {
                        name: dims[2],
                        type: 'bar',
                        data: data[2]
                    }, {
                        name: dims[3],
                        type: 'bar',
                        data: data[3],
                    }]
                });



                $('#flexigridData').datagrid('appendRow', { ID: '<b>统计：</b>', WEITUODAN: WEITUODAN, JIANDINGWANCHENG: JIANDINGWANCHENG, SHEBEIGUZHANG: SHEBEIGUZHANG, PIZHUNTONGGUO: PIZHUNTONGGUO, HEGE: HEGE, BUHEGE: BUHEGE, CHAOQI: CHAOQI });
            },
            columns: [[
					{ field: 'ID', title: '@Html.DisplayNameFor(model => model.ID)', width: 140 }
					, { field: 'WEITUODAN', title: '@Html.DisplayNameFor(model => model.WEITUODAN)', width: 140 }
					, { field: 'JIANDINGWANCHENG', title: '@Html.DisplayNameFor(model => model.JIANDINGWANCHENG)', width: 140 }
					, { field: 'SHEBEIGUZHANG', title: '@Html.DisplayNameFor(model => model.SHEBEIGUZHANG)', width: 140 }
					, { field: 'PIZHUNTONGGUO', title: '@Html.DisplayNameFor(model => model.PIZHUNTONGGUO)', width: 140 }
					, { field: 'HEGE', title: '@Html.DisplayNameFor(model => model.HEGE)', width: 140 }
					, { field: 'BUHEGE', title: '@Html.DisplayNameFor(model => model.BUHEGE)', width: 140 }
					, { field: 'CHAOQI', title: '@Html.DisplayNameFor(model => model.CHAOQI)', width: 140 }
            ]],
            pagination: false,
            rownumbers: false

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }





    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
            else
                search = search + this.name + "&" + this.value + "^";
        });
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };


</script>



