@model Langben.DAL.VSHIYANSHIGONGZUOLIANG
@{ Layout = "~/Views/Shared/Echart.cshtml"; }
@using Common
@using Models
<div id="divQuery">
    <div class="input_search">
        <div class="input_search-label">
            统计期间:
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="sTARTDATEStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'eNDDATEEnd_Time\');}' })" />
            <span>到</span>
            <input type="text" id="eNDDATEEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'sTARTDATEStart_Time\');}' })" />
        </div>
    </div>
    <div class="input_search">
        <div class="input_search-label">
            受理单位:
        </div>
        <div class="input_search-field">
            @Html.DropDownList("SHOULIDANWEI", Models.SysFieldModels.GetSysField("Appliance", "ACCEPT_ORGNIZATION"), "请选择", new { @class = "easyui-combobox" })
        </div>
    </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
<br style="clear: both;" />

<script type="text/javascript" language="javascript">


    $(function () {

        $('#flexigridData').datagrid({
            title: '报告类别统计分析', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '/VSHIYANSHIGONGZUOLIANG/GetDataZH', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            onLoadSuccess: function (data) {
                var rows = $('#flexigridData').datagrid('getRows');
                var WEITUODAN = 0;
                var JIANDINGWANCHENG = 0;
               
                var PIZHUNTONGGUO = 0;
                var HEGE = 0;
                var BUHEGE = 0;
                var CHAOQI = 0;
                var data1 = [];
                var WEITUODAN1 = [];
                var JIANDINGWANCHENG1 = [];
                
                var PIZHUNTONGGUO1 = [];
                var HEGE1 = [];
                var BUHEGE1 = [];
                var CHAOQI1 = [];
                var categories = [];

                for (var i = 0; i < rows.length; i++) {
                    categories.push(rows[i].ID);
                    WEITUODAN += parseFloat(rows[i].WEITUODAN);
                    JIANDINGWANCHENG += parseFloat(rows[i].JIANDINGWANCHENG);
                   
                    PIZHUNTONGGUO += parseFloat(rows[i].PIZHUNTONGGUO);
                    HEGE += parseFloat(rows[i].HEGE);
                    BUHEGE += parseFloat(rows[i].BUHEGE);
                    CHAOQI += parseFloat(rows[i].CHAOQI);
                    WEITUODAN1.push(rows[i].WEITUODAN);
                    JIANDINGWANCHENG1.push(rows[i].JIANDINGWANCHENG);
        
                    PIZHUNTONGGUO1.push(rows[i].PIZHUNTONGGUO);
                    HEGE1.push(rows[i].HEGE);
                    BUHEGE1.push(rows[i].BUHEGE);
                    CHAOQI1.push(rows[i].CHAOQI);
                }
                data1.push(WEITUODAN1, JIANDINGWANCHENG1,  PIZHUNTONGGUO1, HEGE1, BUHEGE1, CHAOQI1);
                var myChart = echarts.init(document.getElementById('main'));



                var dims = ['委托数量','检定完成数量', '批准通过数量','合格报告数量','不合格报告数量','超期数量']

                myChart.setOption({

                    legend: {
                        bottom: '10',
                        data: dims,
                        icon: 'square',

                        itemWidth: 11,
                        itemHeight: 11,
                    },


                    xAxis: [{
                        type: 'category',
                        data: categories,
                    }],
                    yAxis: [{
                        type: 'value',
                        name: '报告类别统计图表分析',
                    }, ],
                    series: [{
                        name: dims[0],
                        type: 'bar',
                        data: data1[0]
                    }, {
                        name: dims[1],
                        type: 'bar',
                        data: data1[1]
                    }, {
                        name: dims[2],
                        type: 'bar',
                        data: data1[2]
                    }, {
                        name: dims[3],
                        type: 'bar',
                        data: data1[3],
                    }, {
                        name: dims[4],
                        type: 'bar',
                        data: data1[4],
                    }, {
                        name: dims[5],
                        type: 'bar',
                        data: data1[5],
                    }
                    ]
                });



                $('#flexigridData').datagrid('appendRow', { ID: '<b>统计：</b>', WEITUODAN: WEITUODAN, JIANDINGWANCHENG: JIANDINGWANCHENG,   PIZHUNTONGGUO: PIZHUNTONGGUO, HEGE: HEGE, BUHEGE: BUHEGE, CHAOQI: CHAOQI });
            },
            columns: [[
					{ field: 'ID', title: '报告类别', width: 120 }
					, { field: 'WEITUODAN', title: '@Html.DisplayNameFor(model => model.WEITUODAN)', width: 120 }
					, { field: 'JIANDINGWANCHENG', title: '@Html.DisplayNameFor(model => model.JIANDINGWANCHENG)', width: 120 }
					//, { field: 'SHEBEIGUZHANG', title: '@Html.DisplayNameFor(model => model.SHEBEIGUZHANG)', width: 120 }
					, { field: 'PIZHUNTONGGUO', title: '@Html.DisplayNameFor(model => model.PIZHUNTONGGUO)', width: 120 }
					, { field: 'HEGE', title: '@Html.DisplayNameFor(model => model.HEGE)', width: 120 }
					, { field: 'BUHEGE', title: '@Html.DisplayNameFor(model => model.BUHEGE)', width: 120 }
					, { field: 'CHAOQI', title: '@Html.DisplayNameFor(model => model.CHAOQI)', width: 120 }
            ]],
            pagination: false,
            rownumbers: false

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }





    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        search += "sTARTDATEStart_Time&" + $("#sTARTDATEStart_Time").val() + "^";
        search += "eNDDATEEnd_Time&" + $("#eNDDATEEnd_Time").val() + "^";
        search += "SHOULIDANWEI&" + $('#SHOULIDANWEI').combobox('getValue') + "^";
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };


</script>
