@model Langben.DAL.COMPANY

@{
    Layout = "~/Views/Shared/Create.cshtml";
}
@using Common
@using Models
 
@section CurentPlace {
 
      创建  
 
 }
@using (Html.BeginForm("", "api/COMPANYApi/Post/1"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="创建" />
            <input class="a2 f2" type="button" onclick="BackList('COMPANY')" value="返回" />
        </legend>
        <div class="bigdiv">
                 
            <div class="editor-label">
                @Html.LabelFor(model => model.COMPANYNAME)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.COMPANYNAME)
                @Html.ValidationMessageFor(model => model.COMPANYNAME)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.COMPANYADDRES)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.COMPANYADDRES)
                @Html.ValidationMessageFor(model => model.COMPANYADDRES)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.POSTCODE)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.POSTCODE)
                @Html.ValidationMessageFor(model => model.POSTCODE)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.CONTACTS)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CONTACTS)
                @Html.ValidationMessageFor(model => model.CONTACTS)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.CONTACTSNUMBER)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CONTACTSNUMBER)
                @Html.ValidationMessageFor(model => model.CONTACTSNUMBER)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.FAX)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FAX)
                @Html.ValidationMessageFor(model => model.FAX)
            </div>
        <div class="editor-label">
            <a class="anUnderLine" onclick="showModalOnly('PARENTID','../../COMPANY');">
                @Html.LabelFor(model => model.PARENTID) 
            </a>：
        </div>
        <div class="editor-field">
            <div id="checkPARENTID">               
            </div>
            @Html.HiddenFor(model => model.PARENTID)
        </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.CREATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CREATEPERSON)
                @Html.ValidationMessageFor(model => model.CREATEPERSON)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.UPDATEPERSON)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UPDATEPERSON)
                @Html.ValidationMessageFor(model => model.UPDATEPERSON)
            </div>
        </div>
    </fieldset>
} 


    
    <script type="text/javascript">

        $(function () {
            
        });
              

    </script>


