@model Langben.DAL.FILE_UPLOADER

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                  
                <div class="display-label">
                      @Html.LabelFor(model => model.NAME) :
                </div>
                <div class="display-field" id='NAME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.PATH) :
                </div>
                <div class="display-field" id='PATH'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.FULLPATH) :
                </div>
                <div class="display-field" id='FULLPATH'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.SUFFIX) :
                </div>
                <div class="display-field" id='SUFFIX'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.SIZE) :
                </div>
                <div class="display-field" id='SIZE'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.REMARK) :
                </div>
                <div class="display-field" id='REMARK'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.NAME2) :
                </div>
                <div class="display-field" id='NAME2'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.PATH2) :
                </div>
                <div class="display-field" id='PATH2'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.FULLPATH2) :
                </div>
                <div class="display-field" id='FULLPATH2'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.SUFFIX2) :
                </div>
                <div class="display-field" id='SUFFIX2'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.SIZE2) :
                </div>
                <div class="display-field" id='SIZE2'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.REMARK2) :
                </div>
                <div class="display-field" id='REMARK2'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.STATE2) :
                </div>
                <div class="display-field" id='STATE2'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.STATE) :
                </div>
                <div class="display-field" id='STATE'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATETIME) :
                </div>
                <div class="display-field" id='CREATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATEPERSON) :
                </div>
                <div class="display-field" id='CREATEPERSON'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CONCLUSION) :
                </div>
                <div class="display-field" id='CONCLUSION'>
                </div>        
                <div class="display-label">
                      @Html.LabelFor(model => model.PREPARE_SCHEMEID) :
                </div>
                <div class="display-field">
                    @if (Model.PREPARE_SCHEME != null)
                       {
                    @Model.PREPARE_SCHEME.REPORT_CATEGORY
                    } 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATETIME) :
                </div>
                <div class="display-field" id='UPDATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATEPERSON) :
                </div>
                <div class="display-field" id='UPDATEPERSON'>
                </div>
        </div>
    </fieldset>

<script type="text/javascript">

    $(function () {
        // 获取内容并显示
        var id = '@ViewBag.Id';
        $.ajax({
            url: "/api/FILE_UPLOADERApi/" + id,
            type: "POST",
            // async: false,
            success: function (res) {
		$("#NAME").html(res.NAME);$("#PATH").html(res.PATH);$("#FULLPATH").html(res.FULLPATH);$("#SUFFIX").html(res.SUFFIX);$("#SIZE").html(res.SIZE);$("#REMARK").html(res.REMARK);$("#NAME2").html(res.NAME2);$("#PATH2").html(res.PATH2);$("#FULLPATH2").html(res.FULLPATH2);$("#SUFFIX2").html(res.SUFFIX2);$("#SIZE2").html(res.SIZE2);$("#REMARK2").html(res.REMARK2);$("#STATE2").html(res.STATE2);$("#STATE").html(res.STATE);$("#CREATETIME").html(res.CREATETIME);$("#CREATEPERSON").html(res.CREATEPERSON);$("#CONCLUSION").html(res.CONCLUSION);$("#UPDATETIME").html(res.UPDATETIME);$("#UPDATEPERSON").html(res.UPDATEPERSON);
            }
        })
    });
</script>

