@model Models.ChangePasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>修改密码</title>
    <script src="/scripts/jquery.min.js"></script>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        body
        {
            font-size: 12px;
            font-family: 微软雅黑,新宋体;
        
        }
        .validation-summary-errors {
            background: #E74C3C;
            color: #fff; width:80%; margin:10px auto; padding:10px
        }
             .field-validation-error {
            color: #ff0000;
        }       
        .buttonOn
        {
            background: url(../images/buttonOn_login.gif) left top no-repeat;
            height: 21px;
            width: 109px;
            text-align: center;
            border: 0px;
            margin: 9px,150px,0px,222px;
        }
    </style>
</head>
<body>
   
   @using (Html.BeginForm())
       {
    <div>
        @Html.ValidationSummary(true)
        <table width="100%">
            <tr>
                <td width="120" height="35" align="right">用户名：</td>
                <td >@ViewBag.PersonNamea</td>
            </tr>
            <tr>
                <td height="35" align="right">@Html.LabelFor(m => m.OldPassword)：</td>
                <td>@Html.PasswordFor(m => m.OldPassword, new { @class = "my-textbox" })
@Html.ValidationMessageFor(m => m.OldPassword)</td>
            </tr>
            <tr>
                <td height="35" align="right">@Html.LabelFor(m => m.NewPassword)：</td>
                <td>@Html.PasswordFor(m => m.NewPassword, new { @class = "my-textbox" })
@Html.ValidationMessageFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td height="35" align="right">@Html.LabelFor(m => m.ConfirmPassword)：</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "my-textbox" })
@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>
            <tr>
                <td height="35"></td>
                <td><input class="buttonOn" type="submit" value="修改密码" /></td>
            </tr>
        </table>
      
         
      
    </div>
     }
</body>
</html>

