@model Models.LogOnModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>登   录</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    
    <script type="text/javascript">
      
        function RefreshValidateCode(obj) {
            obj.src = "/Account/ValidateCode/" + Math.floor(Math.random() * 10000);
        }
     </script>
</head>
 
<body class="bg1">
    <div class="container container-login">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p class="login-top"><img src="/images/logo.png" alt=""><span class="login-top-span">&nbsp;&nbsp;实验室管理系统</span>
                <p>
            </div>
            <div class="col-lg-4 col-lg-offset-4 form-div">
                <img class="form-photo" src="/images/formphoto.png" alt="">
                <form class="login-form" id="Form1" method="post">
                    <fieldset>

                        <div class="input-group input-group-div">
                            <span class="input-group-addon input-icon"><img class="input-icon-img" src="/images/user.png" alt=""></span>
                            @Html.TextBoxFor(m => m.PersonName, new { @class = "form-control input-login", placeholder = "请输入用户名" })
                           
                        </div>
                        <div class="input-error"> @Html.ValidationMessageFor(m => m.PersonName)</div>
                        <div class="input-group input-group-div">
                            <span class="input-group-addon input-icon"><img class="input-icon-img" src="/images/password.png" alt=""></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-login", placeholder = "请输入密码" })
                           
                        </div>
                        <div class="input-error">@Html.ValidationMessageFor(m => m.Password) </div>
                        <div class="input-group input-group-div">
                            @Html.TextBoxFor(m => m.ValidateCode, new { MaxLength = "4", @class = "form-control input-verify", placeholder = "请输入验证码" })
                            <a class="verify-ctrl" href="javascript:;">
                                <img alt="点击刷新验证码！" title="点击刷新验证码！" src="/Account/ValidateCode" class="input-verify-img" style="cursor: pointer;"
                                     onclick="RefreshValidateCode(this);" />
                               
                            </a>
                        </div>
                        <div class="input-error"> 
   
</div>
                    
                        <button type="submit" class="btn btn-warning btn-block" >登 录</button>
                    </fieldset>

                </form>
                <br><br>


            </div>
            <div class="col-lg-12 login-foot">
                <p class="text-center"> 国网冀北电力公司版权所有 </p>
                <p class="text-center"> SYS17.01.13 </p>
            </div>
            <div id="div_fail" class="reveal-modal1 text-center">
             
                <h3 id="message" class="h3_fail">验证码</h3>
                <a id="btn_fail1" class="close-reveal-modal lg_x">确定</a>
            </div>
        </div>
    </div>

    
</body>
</html>
