
@model Langben.DAL.SCHEME
@{ Layout = "~/Views/Shared/FangAnIndex.cshtml"; }
@using Common
@using Models
<script src="~/Scripts/JScriptIndex.js"></script>
<div id="divQuery">


    <div data-options="region:'north',border:false" style="height: 50px; overflow:hidden; padding:5px;">
    <div class="easyui-panel" title="" data-options="iconcls:'icon-search',fit:true" style="padding:5px; overflow:hidden;">
            <table>
                <tr>
                    <td> 标准量传部：</td>
                    <td>                      
                        <select  name="UNDERTAKE_LABORATORYID" id="UNDERTAKE_LABORATORYID" style="width:200px;" onchange="flexiQuery();" class="my-combobox" >
                           
                           
                        </select>
                        <input type="hidden" value="@ViewBag.shiyanshi" id="UNDERTAKELABORATORYID" />
                    </td>


                </tr>
            </table>
        </div>
    </div>
</div>
<br style="clear: both;" />
<div class="p5">
    <script type="text/javascript" language="javascript">
    $(function () {
        bindShiyanshi("#UNDERTAKE_LABORATORYID");
        $('#flexigridData').datagrid({
            //title: '方案', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '/api/SCHEMEApi/PostData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            queryParams: { search: GetQuery() },//默认查询条件
            toolbar: [
                {
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        return flexiCreate();
                    }
                },
             {
                 text: '编辑',
                 iconCls: 'icon-edit',
                 handler: function () {
                     return flexiModify();
                 }
             },
             {
                 text: '复制',
                 iconCls: 'icon-copy',
                 handler: function () {
                     return flexiCopy();
                 }
             },
             {
                 text: '停用',
                 iconCls: 'icon-stop',
                 handler: function () {
                     return flexiMultOp("停用");
                 }
             },
             {
                 text: '启用',
                 iconCls: 'icon-fabu',
                 handler: function () {
                     return flexiMultOp("启用");
                 }
             },
            ],
            columns: [[

                {
                    field: 'NAME', title: '@Html.DisplayNameFor(model => model.NAME)', width: 350, align: 'center',
                    formatter: function (value, row, index) {
                        var html = "<a href='/SCHEME/Create?ID=" + row.ID + "&OP='修改'>" + value + "</a>";
                        return html;
                    }}
                , { field: 'UNDERTAKE_LABORATORYID', title: '@Html.DisplayNameFor(model => model.UNDERTAKE_LABORATORYIDOld)', width:150,align: 'center' }
               
                    , { field: 'ISSTOP', title: '操作', width:140,align: 'center' ,
                    formatter: function (value, row, index) {
                        if(value=="启用")
                        {
                            var html = "<a href='javascript:void(0)' onclick='javascript:UpdateIsStop(" +'"'+ row.ID+'"'+ ',"停用"'+"); '> 停用 </a>";
                            html += "&nbsp;&nbsp;<a disabled='true' href='javascript:void(0)' style='color:gray; text-decoration:none'> 启用 </a>";
                            return html;
                        }
                        else
                        {
                            var html = "<a disabled='true' href='javascript:void(0)' style='color:gray; text-decoration:none'> 停用 </a>";
                            html += "&nbsp;&nbsp;<a  href='javascript:void(0)' onclick='javascript:UpdateIsStop(" +'"'+ row.ID +'"'+ ',"启用"'+"); '>  启用 </a>";
                            return html;
                        }

                    }}
                @*, { field: 'ISPUBLISH', title: '@Html.DisplayNameFor(model => model.ISPUBLISH)', width:140,align: 'center' }*@
                @*, { field: 'COPYID', title: '@Html.DisplayNameFor(model => model.COPYID)', width: 51 }
                , { field: 'PUBLISHPERSON', title: '@Html.DisplayNameFor(model => model.PUBLISHPERSON)', width: 51 }
                , { field: 'ISPUBLISHTIME', title: '@Html.DisplayNameFor(model => model.ISPUBLISHTIME)', width: 51 }
                , { field: 'ISPUBLISHPERSON', title: '@Html.DisplayNameFor(model => model.ISPUBLISHPERSON)', width: 51 }
                , {
                    field: 'CREATETIME', title: '@Html.DisplayNameFor(model => model.CREATETIME)', width: 51
                , formatter: formatDatebox
                }
                , { field: 'CREATEPERSON', title: '@Html.DisplayNameFor(model => model.CREATEPERSON)', width: 51 }
                , {
                    field: 'UPDATETIME', title: '@Html.DisplayNameFor(model => model.UPDATETIME)', width: 51
                , formatter: formatDatebox
                }
                , { field: 'UPDATEPERSON', title: '@Html.DisplayNameFor(model => model.UPDATEPERSON)', width: 51 }*@
            ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {
        //执行查询
        $('#flexigridData').datagrid('load', { search: GetQuery() });
    };
   //将查询条件按照分隔符拼接成字符串
    function GetQuery() {
        var search = "";
        $('#divQuery').find(":text,:selected,select").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
            else if (this.name)
                search = search + this.name + "&" + this.value + "^";
        });
        return search;
    }
    //“导出”按钮     在6.0版本中修改
    function flexiExport() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            search = search + this.id + "&" + this.value + "^";
        });

        var p = $('#flexigridData').datagrid('options').columns[0];
        var field = [];//所有的列名
        var title = [];//所有的标题名称
        $(p).each(function () {
            field.push(this.field);
            title.push(this.title);
        });

        $.post("api/SCHEMEApi/PostExport",
            {
                title: title.join(","),
                field: field.join(","),
                sortName: $('#flexigridData').datagrid('options').sortName,
                sortOrder: $('#flexigridData').datagrid('options').sortOrder,
                search: search
            }, function (res) {
                if (res.Code == 1) {
                    window.location.href = res.Message;
                }
                else $.messager.alert('操作提示', res.Message, 'info');

            });
    };
    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].ID);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].NAME);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }
    //导航到查看详细的按钮
    function getView() {

        var arr = $('#flexigridData').datagrid('getSelections');

        if (arr.length == 1) {
            window.location.href = "../SCHEME/Details/" + arr[0].ID;

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;
    }
    //导航到创建的按钮
    function flexiCreate() {

        window.location.href = "../SCHEME/Create?OP=创建&UNDERTAKE_LABORATORYID=" + $("#UNDERTAKE_LABORATORYID").val();
        return false;
    }
    //导航到修改的按钮
    function flexiModify() {

        var arr = $('#flexigridData').datagrid('getSelections');
        if (arr.length == 1) {
            window.location.href = "../SCHEME/Create?id=" + arr[0].ID + "&OP=修改&UNDERTAKE_LABORATORYID=" + $("#UNDERTAKE_LABORATORYID").val();

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;

    };
    //复制
    function flexiCopy()
    {
        var arr = $('#flexigridData').datagrid('getSelections');

        if (arr.length == 1) {
            window.location.href = "../SCHEME/Create?id=" + arr[0].ID + "&OP=复制&UNDERTAKE_LABORATORYID=" + $("#UNDERTAKE_LABORATORYID").val();

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;
    }
    //批量删除、停用
    function flexiMultOp(Op) {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].ID);
        }

        $.messager.confirm('操作提示', "确认"+Op+"这 " + arr.length + " 项吗？", function (r) {
            if (r) {
                //$.ajax({
                //    url: "api/SCHEMEApi/MultOp?query=" + arr.join(",")+"&Op="+Op,
                //    type: "DELETE",
                //    success: function (res) {
                //        if (res.Code == 1) {
                //            //移除删除的数据

                //            $.messager.alert('操作提示', res.Message, 'info');
                //            $("#flexigridData").datagrid("reload");
                //            $("#flexigridData").datagrid("clearSelections");
                //        }
                //        else {
                //            $.messager.alert('操作提示', res.Message, 'info');
                //        }

                //    }
                //})
                //获取空对象用于保存添加的信息
                $.ajax({
                    type: 'post', //使用post方法访问后台
                    dataType: "json", //返回json格式的数据
                    url: '/SCHEME/MultOp', //要访问的后台地址
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8', //指定编码方式
                    data: "query=" + arr.join(",")+"&Op="+Op, //要发送的数据
                    beforeSend: function () {
                        //InitAlertJS();
                    },
                    complete: function () {
                    }, //AJAX请求完成时隐藏loading提示

                    success: function (res) {//msg为返回的数据，在这里做数据绑定
                        if (res.Code == "1") {
                            flexiQuery();
                        }
                        $.messager.alert('操作提示', res.Message, 'info');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.messager.alert('操作提示', '操作失败!' + errorThrown.messager, 'warning');
                    }
                });
            }
        });

    };
    //启用停用
    function UpdateIsStop(ID,ISSTOP)
    {
        $.messager.confirm('操作提示', "确认" + ISSTOP + "吗？", function (r) {
            if (r) {;
                //获取空对象用于保存添加的信息
                $.ajax({
                    type: 'post', //使用post方法访问后台
                    dataType: "json", //返回json格式的数据
                    url: '/SCHEME/UpdateIsStop', //要访问的后台地址
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8', //指定编码方式
                    data: 'ID=' + ID + '&ISSTOP=' + ISSTOP, //要发送的数据
                    beforeSend: function () {
                        //InitAlertJS();
                    },
                    complete: function () {
                    }, //AJAX请求完成时隐藏loading提示

                    success: function (res) {//msg为返回的数据，在这里做数据绑定
                        if (res.Code == "1") {
                            flexiQuery();
                        }
                        $.messager.alert('操作提示', res.Message, 'info');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.messager.alert('操作提示', '操作失败!' + errorThrown.messager, 'warning');
                    }
                });
            }
        });
    }

    </script>

</div>