@model Langben.DAL.ORDER_TASK_INFORMATION
@{
    Layout = "~/Views/Shared/AppCreate.cshtml";
}
@using Common
@using Models

@*表格*@
<script src="~/Scripts/jquery.edatagrid.js"></script>

@section HeadContent {

    创建

}
<div>
    条形码：@Html.Editor("BAR_CODE_NUM")
    出厂编号：@Html.Editor("FACTORY_NUM")
    型号：@Html.Editor("VERSION")
    器具名称：@Html.Editor("APPLIANCE_NAME")
</div>
<br style="clear:both;" />

<input type="button" onclick="seng()" value="查询" />
<div class="bigdiv" style="width: 854px;" id="order">

    <div class="editor-label">
        @Html.LabelFor(model => model.ACCEPT_ORGNIZATION)：
    </div>
    <div class="editor-field">
        @Html.DropDownList("ACCEPT_ORGNIZATION", Models.SysFieldModels.GetSysField("Appliance", "ACCEPT_ORGNIZATION"), "请选择")
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.INSPECTION_ENTERPRISE)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.INSPECTION_ENTERPRISE)
        @Html.ValidationMessageFor(model => model.INSPECTION_ENTERPRISE)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.INSPECTION_ENTERPRISE_ADDRESS)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.INSPECTION_ENTERPRISE_ADDRESS)
        @Html.ValidationMessageFor(model => model.INSPECTION_ENTERPRISE_ADDRESS)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.INSPECTION_ENTERPRISE_POST)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.INSPECTION_ENTERPRISE_POST)
        @Html.ValidationMessageFor(model => model.INSPECTION_ENTERPRISE_POST)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CONTACTS)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CONTACTS)
        @Html.ValidationMessageFor(model => model.CONTACTS)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CONTACT_PHONE)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CONTACT_PHONE)
        @Html.ValidationMessageFor(model => model.CONTACT_PHONE)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.FAX)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FAX)
        @Html.ValidationMessageFor(model => model.FAX)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CERTIFICATE_ENTERPRISE)
        @Html.ValidationMessageFor(model => model.CERTIFICATE_ENTERPRISE)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE_ADDRESS)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CERTIFICATE_ENTERPRISE_ADDRESS)
        @Html.ValidationMessageFor(model => model.CERTIFICATE_ENTERPRISE_ADDRESS)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CERTIFICATE_ENTERPRISE_POST)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CERTIFICATE_ENTERPRISE_POST)
        @Html.ValidationMessageFor(model => model.CERTIFICATE_ENTERPRISE_POST)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CONTACTS2)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CONTACTS2)
        @Html.ValidationMessageFor(model => model.CONTACTS2)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CONTACT_PHONE2)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CONTACT_PHONE2)
        @Html.ValidationMessageFor(model => model.CONTACT_PHONE2)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.FAX2)：
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FAX2)
        @Html.ValidationMessageFor(model => model.FAX2)
    </div>
    <br style="clear:both;" />
    <div class="editor-label">
        @Html.LabelFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)：
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)
        @Html.ValidationMessageFor(model => model.CUSTOMER_SPECIFIC_REQUIREMENTS)
    </div>

</div>

<br style="clear:both;" />
<br style="clear:both;" />
<br style="clear:both;" />
<br style="clear:both;" />
<br style="clear:both;" />
<input type="hidden" id="ORDER_TASK_INFORMATIONID" />
<table id="ApplianceDate" singleSelect="true"></table>
<br style="clear:both;" />
<script type="text/javascript">
    //数据验证
    function ifshuju(entity) {
        var zhi = "";

        if (isNull(entity.CERTIFICATE_ENTERPRISE)) {
            zhi += "证书单位不能为空！<br>";
        }
        if (isNull(entity.CERTIFICATE_ENTERPRISE_ADDRESS)) {
            zhi += "证书单位地址不能为空！<br>";
        }
        if (isNull(entity.CONTACTS2)) {
            zhi += "联系人2不能为空！<br>";
        }
        if (isNull(entity.CONTACT_PHONE2)) {
            zhi += "联系电话2不能为空！<br>";
            if (checkPhone(entity.CONTACT_PHONE2)) {
                zhi += "联系电话2格式不对！<br>";
            }
        }
        if (entity.APPLIANCE_DETAIL_INFORMATION.length > 1) {
            for (var i = 0; i < entity.APPLIANCE_DETAIL_INFORMATION.length; i++) {
                if (entity.APPLIANCE_DETAIL_INFORMATION[i].APPLIANCE_NAME == "undefined" || entity.APPLIANCE_DETAIL_INFORMATION[i].VERSION == "undefined"
                    || entity.APPLIANCE_DETAIL_INFORMATION[i].NUM == "undefined" || entity.APPLIANCE_DETAIL_INFORMATION[i].APPEARANCE_STATUS == "undefined" || entity.APPLIANCE_DETAIL_INFORMATION[i].UNDERTAKE_LABORATORYID == "undefined") {
                    zhi += "器具数据有误！<br>";
                    break;
                }
                if (isNull(entity.APPLIANCE_DETAIL_INFORMATION[i].APPLIANCE_NAME)) {
                    zhi += "器具名称不能为空！<br>";
                }
                if (isNull(entity.APPLIANCE_DETAIL_INFORMATION[i].VERSION)) {
                    zhi += "型号不能为空！<br>";
                }
                if (isNull(entity.APPLIANCE_DETAIL_INFORMATION[i].NUM)) {
                    zhi += "数量不能为空！<br>";
                    if (isInteger(entity.APPLIANCE_DETAIL_INFORMATION[i].NUM)) {
                        zhi += "数量必须为数字整型！<br>";
                    }
                }
                if (isNull(entity.APPLIANCE_DETAIL_INFORMATION[i].APPEARANCE_STATUS)) {
                    zhi += "外观状态不能为空！<br>";
                }
                if (isNull(entity.APPLIANCE_DETAIL_INFORMATION[i].UNDERTAKE_LABORATORYID)) {
                    zhi += "实验室不能为空！<br>";
                }
            }
        }
        else {
            zhi += "器具数据不能为空！<br>";
        }

        if (zhi != null) {
            $.messager.alert('操作提示', "" + zhi + "", 'info');
            return false;
        }
        else {
            return false;
            //return true;
        }

    }
    /*
用途：检查输入字符串是否为空或者全部都是空格
输入：str
返回：
如果全是空返回true,否则返回false
*/
    function isNull(str) {
        if (str == "") return true;
        var regu = "^[ ]+$";
        var re = new RegExp(regu);
        return re.test(str);
    }
    /*
   用途：检查输入的电话号码格式是否正确
   输入：
   strPhone：字符串
   返回：
   如果通过验证返回true,否则返回false
   */
    function checkPhone(strPhone) {
        var phoneRegWithArea = /^[0][1-9]{2,3}-[0-9]{5,10}$/;
        var phoneRegNoArea = /^[1-9]{1}[0-9]{5,8}$/;
        //var prompt = "您输入的电话号码不正确!"
        if (strPhone.length > 9) {
            if (phoneRegWithArea.test(strPhone)) {
                return true;
            } else {
                //alert( prompt );
                return false;
            }
        } else {
            if (phoneRegNoArea.test(strPhone)) {
                return true;
            } else {
                //alert(prompt);
                return false;
            }

        }
    }
    /*
用途：检查输入对象的值是否符合整数格式
输入：str 输入的字符串
返回：如果通过验证返回true,否则返回false
*/
    function isInteger(str) {
        var regu = /^[-]{0,1}[0-9]{1,}$/;
        return regu.test(str);
    }
</script>
<script type="text/javascript">

    //查询
    function seng() {
        var search = "BAR_CODE_NUM" + "@@" + $("#BAR_CODE_NUM").val() + "^" + "FACTORY_NUM" + "@@" + $("#FACTORY_NUM").val() + "^" + "VERSION" + "@@" + $("#VERSION").val() + "^" + "APPLIANCE_NAME" + "@@" + $("#APPLIANCE_NAME").val() + "^";
        $.ajax({
            //url: "/api/ORDER_TASK_INFORMATIONApi/Get" + $("#ORDER_TASK_INFORMATIONID").val(),
            url: '/api/APPLIANCE_DETAIL_INFORMATIONApi/PostDataByID/' + search,
            type: "Post",
            // async: false,
            success: function (data) {
                alert(data);
                alert(data.BAR_CODE_NUM);
            }
        })

        // 在第二行的位置插入一个新行
        //index：要插入的行索引，如果该索引值未定义，则追加新行。
        //row：行数据。
        $('#dg').datagrid('insertRow', {
            index: 1,  // 索引从0开始
            row: {
                APPLIANCE_NAME: '新名称',
                age: 30,
                note: '新消息'
            }
        });
        ////器具信息绑定
        //var search = "";
        //search = "BAR_CODE_NUM" + "@@" + $("#BAR_CODE_NUM").val() + "^" + "FACTORY_NUM" + "@@" + $("#FACTORY_NUM").val() + "^" + "VERSION" + "@@" + $("#VERSION").val() + "^" + "APPLIANCE_NAME" + "@@" + $("#APPLIANCE_NAME").val() + "^";
        //$('#ApplianceDate').edatagrid({ url: '/api/APPLIANCE_DETAIL_INFORMATIONApi/PostDataByID/' + search });

    }

    function s() {
        var id = $("#ORDER_TASK_INFORMATIONID").val()
        alert(id)
        $.ajax({
            //url: "/api/ORDER_TASK_INFORMATIONApi/Get" + $("#ORDER_TASK_INFORMATIONID").val(),
            url: "/api/ORDER_TASK_INFORMATIONApi/Get/" + id,
            type: "Post",
            // async: false,
            success: function (res) {
                $("#ACCEPT_ORGNIZATION option:selected").val(res.ACCEPT_ORGNIZATION);//受理单位
                $("#INSPECTION_ENTERPRISE").val(res.INSPECTION_ENTERPRISE);//送检单位
                $("#INSPECTION_ENTERPRISE_ADDRESS").val(res.INSPECTION_ENTERPRISE_ADDRESS);//送检单位地址
                $("#INSPECTION_ENTERPRISE_POST").val(res.INSPECTION_ENTERPRISE_POST);//送检单位邮政编码
                $("#CONTACTS").val(res.CONTACTS);//联系人
                $("#CONTACT_PHONE").val(res.CONTACT_PHONE);//联系电话
                $("#FAX").val(res.FAX);//传真
                $("#CERTIFICATE_ENTERPRISE").val(res.CERTIFICATE_ENTERPRISE);//证书单位
                $("#CERTIFICATE_ENTERPRISE_ADDRESS").val(res.CERTIFICATE_ENTERPRISE_ADDRESS);//证书单位地址
                $("#CERTIFICATE_ENTERPRISE_POST").val(res.CERTIFICATE_ENTERPRISE_POST);//证书单位邮政编码
                $("#CONTACTS2").val(res.CONTACTS2);//联系人2
                $("#CONTACT_PHONE2").val(res.CONTACT_PHONE2);//联系电话2
                $("#FAX2").val(res.FAX2);//传真2
                $("#CUSTOMER_SPECIFIC_REQUIREMENTS").val(res.CUSTOMER_SPECIFIC_REQUIREMENTS);//客户特殊要求
            }
        })
    }
    $(function () {
        var editIndex = undefined;
        function endEditing() {
            if (editIndex == undefined) { return true }
            if ($('#ApplianceDate').datagrid('validateRow', editIndex)) {
                $('#ApplianceDate').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function append() {
            if (endEditing()) {
                $('#ApplianceDate').datagrid('appendRow', { status: 'P' });
                editIndex = $('#ApplianceDate').datagrid('getRows').length - 1;
                $('#ApplianceDate').datagrid('selectRow', editIndex)
                        .datagrid('beginEdit', editIndex);
            }
        }
        function onClickCell(index, field) {
            if (editIndex != index) {
                if (endEditing()) {
                    $('#ApplianceDate').datagrid('selectRow', index)
                            .datagrid('beginEdit', index);
                    var ed = $('#ApplianceDate').datagrid('getEditor', { index: index, field: field });
                    if (ed) {
                        ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    }
                    editIndex = index;
                } else {
                    setTimeout(function () {
                        $('#ApplianceDate').datagrid('selectRow', editIndex);
                    }, 0);
                }
            }
        }
        //删除
        function flexiDelete() {
            $('#ApplianceDate').edatagrid('destroyRow');
        }
        //新增
        function flexiInsert() {
            $('#ApplianceDate').edatagrid('addRow', { "NUM": "1" });
            //$('#ApplianceDate').edatagrid('appendRow', { "NUM": "1" });
        }
        //复制新增
        function flexiInsertCopy() {

            debugger;
            //获取选中行
            var row = $('#ApplianceDate').datagrid('getSelected');
            // 获取当前行索引
            var rowIndex = $('#ApplianceDate').datagrid('getRowIndex', row);
            if (row) {

                if ($('#ApplianceDate').datagrid('validateRow', rowIndex)) {
                    //结束器具的编辑状态
                    $('#ApplianceDate').edatagrid('saveRow');
                    //增加一行
                    $('#ApplianceDate').datagrid('appendRow', {
                        APPLIANCE_NAME: row.APPLIANCE_NAME
                        , VERSION: row.VERSION
                        , NUM: row.NUM
                        , APPEARANCE_STATUS: row.APPEARANCE_STATUS
                        , FORMAT: row.FORMAT
                        , FACTORY_NUM: row.FACTORY_NUM
                        , ATTACHMENT: row.ATTACHMENT
                        , MAKE_ORGANIZATION: row.MAKE_ORGANIZATION
                        , UNDERTAKE_LABORATORYID: row.UNDERTAKE_LABORATORYID
                        , APPLIANCE_RECIVE: row.APPLIANCE_RECIVE
                        , REMARKS: row.REMARKS

                    });
                }



            }
            else {
                alert('请先选择一行')
            }
        }
        //委托单(包含器具信息)发送
        function flexiSave() {
            $.messager.confirm('操作提示', "确认发送吗？", function (r) {
                if (r) {
                    //结束器具的编辑状态
                    $('#ApplianceDate').edatagrid('saveRow');
                    //获取所有器具
                    var qiju = $('#ApplianceDate').edatagrid('getRows');
                    //实例化一个委托单对象
                    var entity = new Object();
                    entity.APPLIANCE_DETAIL_INFORMATION = qiju;
                    entity.ID = $("#ORDER_TASK_INFORMATIONID").val();

                    entity.ACCEPT_ORGNIZATION = $("#ACCEPT_ORGNIZATION option:selected").val();//受理单位
                    entity.INSPECTION_ENTERPRISE = $("#INSPECTION_ENTERPRISE").val();//送检单位
                    entity.INSPECTION_ENTERPRISE_ADDRESS = $("#INSPECTION_ENTERPRISE_ADDRESS").val();//送检单位地址
                    entity.INSPECTION_ENTERPRISE_POST = $("#INSPECTION_ENTERPRISE_POST").val();//送检单位邮政编码
                    entity.CONTACTS = $("#CONTACTS").val();//联系人
                    entity.CONTACT_PHONE = $("#CONTACT_PHONE").val();//联系电话
                    entity.FAX = $("#FAX").val();//传真
                    entity.CERTIFICATE_ENTERPRISE = $("#CERTIFICATE_ENTERPRISE").val();//证书单位
                    entity.CERTIFICATE_ENTERPRISE_ADDRESS = $("#CERTIFICATE_ENTERPRISE_ADDRESS").val();//证书单位地址
                    entity.CERTIFICATE_ENTERPRISE_POST = $("#CERTIFICATE_ENTERPRISE_POST").val();//证书单位邮政编码
                    entity.CONTACTS2 = $("#CONTACTS2").val();//联系人2
                    entity.CONTACT_PHONE2 = $("#CONTACT_PHONE2").val();//联系电话2
                    entity.FAX2 = $("#FAX2").val();//传真2
                    entity.CUSTOMER_SPECIFIC_REQUIREMENTS = $("#CUSTOMER_SPECIFIC_REQUIREMENTS").val();//客户特殊要求
                    if (ifshuju(entity)) {
                        //将委托单信息发送到服务器
                        $.ajax({
                            url: "/ORDER_TASK_INFORMATION/Save",
                            type: "Post",
                            dataType: "json",
                            data: {
                                entity: entity
                            },
                            success: function (data) {
                                if (data.Code == 1) {
                                    $("#order input[type='text']").each(function () {
                                        $(this).val("");
                                    });
                                    $("#ACCEPT_ORGNIZATION").val("");
                                    $("#ApplianceDate").edatagrid("loadData", [])
                                    $.messager.alert('操作提示', "发送实验室成功", 'info');
                                }
                                else {
                                    $("#ORDER_TASK_INFORMATIONID").val(data.Id);//记录该委托单的id，如果为空，表示为新增，否则为修改
                                    if ($.messager) {
                                        $.messager.defaults.ok = '继续';
                                        $.messager.defaults.cancel = '返回';

                                        $.messager.confirm('操作提示', data.Message, function (r) {
                                            if (!r) {
                                                window.location.href = 'javascript:history.go(-1)';
                                            }
                                        });
                                    }
                                }
                            }
                        });
                    }
                }
            })
        }

        $('#ApplianceDate').edatagrid({

            toolbar: [
             {
                 text: '新增',
                 iconCls: 'icon-add',
                 handler: function () {
                     return flexiInsert();
                 }
             }, {
                 text: '复制新增',
                 iconCls: 'icon-add',
                 handler: function () {
                     return flexiInsertCopy();
                 }
             }, {
                 text: '删除',
                 iconCls: 'icon-remove',
                 handler: function () {
                     return flexiDelete();
                 }
             },
               {
                   text: '打印器具条形码',
                   iconCls: 'icon-add',
                   handler: function () {
                       return;
                   }
               },
               {
                   text: '委托单签名',
                   iconCls: 'icon-add',
                   handler: function () {
                       return;
                   }
               },
               {
                   text: '打印委托单',
                   iconCls: 'icon-add',
                   handler: function () {
                       return;
                   }
               },
               {
                   text: '发送实验室',
                   iconCls: 'icon-add',
                   handler: function () {
                       return flexiSave();
                   }
               }
            ],
            columns: [[
       { field: 'ORDER_TASK_INFORMATIONID', title: 'ORDER_TASK_INFORMATIONID', width: 64, hidden: true }
       , {
           field: 'APPLIANCE_NAME', title: '器具名称', width: 135, editor: {
               type: 'validatebox', options: {
                   precision: 1,
                   required: true,
                   missingMessage: '必填'
               }
           }
       }, {
           field: 'VERSION', title: '型号', width: 65, editor: {
               type: 'validatebox', options: {
                   required: true,
                   missingMessage: '必填'
               }
           }
       }, { field: 'FORMAT', title: '规格', width: 65, editor: 'text' },
       { field: 'FACTORY_NUM', title: '出厂编号', width: 65, editor: 'text' },
       {
           field: 'NUM', title: '数量', width: 35
                , editor: {
                    type: 'validatebox', options: {
                        required: true,
                        missingMessage: '必填'
                    }
                }

       }, { field: 'ATTACHMENT', title: '附件', width: 135, editor: 'text' }
           , {
           field: 'APPEARANCE_STATUS', title: '外观状态', width: 65, editor: {
               type: 'validatebox', options: {
                   required: true,
                   missingMessage: '必填'
               }
           }
       }


           , { field: 'MAKE_ORGANIZATION', title: '制造单位', width: 65, editor: 'text' }
              , {
                  field: 'UNDERTAKE_LABORATORYID', title: '承接实验室', width: 135, editor: {
                      type: 'combobox',
                      options: {
                          multiple: true,
                          data: [{ value: '电能', text: '电能' }, { value: '指示仪表', text: '指示仪表' },
                              { value: '数字仪表', text: '数字仪表' }, { value: '互感器', text: '互感器' }, { value: '数表三相', text: '数表三相' }],
                          panelHeight: 'auto'
                      }
                  }
              }
           , {
               field: 'APPLIANCE_RECIVE', title: '器具接收', width: 65, editor: {
                   type: 'combobox', options: { data: [{ value: '是', text: '是' }, { value: '否', text: '否' }], panelHeight: 'auto' }
               }
           }
           , { field: 'REMARKS', title: '备注', width: 135, editor: 'text' }
            ]]

        });

    });
    //

</script>
@*百度模式输入显示下拉框*@
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript">
    //输入显示下拉框
    //出厂编号
    $("#FACTORY_NUM").ajaxStop();
    $("#FACTORY_NUM").autocomplete({
        source: "../Appliance/SearchAutoComplete/FACTORY_NUM",
        minLength: 1,//键入的字数
        select: function (event, ui) {
            $("#BAR_CODE_NUM").val(ui.item.BAR_CODE_NUM);//条形码
            $("#VERSION").val(ui.item.VERSION);//型号
            $("#APPLIANCE_NAME").val(ui.item.APPLIANCE_NAME);//器具名称
        }
    });
    //型号
    $("#VERSION").ajaxStop();
    $("#VERSION").autocomplete({
        source: "../Appliance/SearchAutoComplete/VERSION",
        minLength: 1,//键入的字数
        select: function (event, ui) {
            $("#BAR_CODE_NUM").val(ui.item.BAR_CODE_NUM);//条形码
            $("#FACTORY_NUM").val(ui.item.FACTORY_NUM);//出厂编号
            $("#APPLIANCE_NAME").val(ui.item.APPLIANCE_NAME);//器具名称
        }
    });
    //器具名称
    $("#APPLIANCE_NAME").ajaxStop();
    $("#APPLIANCE_NAME").autocomplete({
        source: "../Appliance/SearchAutoComplete/APPLIANCE_NAME",
        minLength: 1,//键入的字数
        select: function (event, ui) {
            $("#BAR_CODE_NUM").val(ui.item.BAR_CODE_NUM);//条形码
            $("#VERSION").val(ui.item.VERSION);//型号
            $("#FACTORY_NUM").val(ui.item.FACTORY_NUM);//出厂编号
        }
    });
</script>

