@model Langben.DAL.THEREVIEWPROCESS

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                    
                <div class="display-label">
                      @Html.LabelFor(model => model.PREPARE_SCHEMEID) :
                </div>
                <div class="display-field">
                    @if (Model.PREPARE_SCHEME != null)
                       {
                    @Model.PREPARE_SCHEME.REPORT_CATEGORY
                    } 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.REVIEWCONCLUSION) :
                </div>
                <div class="display-field" id='REVIEWCONCLUSION'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.REVIEWCONCLUSIONZI) :
                </div>
                <div class="display-field" id='REVIEWCONCLUSIONZI'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATETIME) :
                </div>
                <div class="display-field" id='CREATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATEPERSON) :
                </div>
                <div class="display-field" id='CREATEPERSON'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATETIME) :
                </div>
                <div class="display-field" id='UPDATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATEPERSON) :
                </div>
                <div class="display-field" id='UPDATEPERSON'>
                </div>
        </div>
    </fieldset>

<script type="text/javascript">

    $(function () {
        // 获取内容并显示
        var id = '@ViewBag.Id';
        $.ajax({
            url: "/api/THEREVIEWPROCESSApi/" + id,
            type: "POST",
            // async: false,
            success: function (res) {
		$("#REVIEWCONCLUSION").html(res.REVIEWCONCLUSION);$("#REVIEWCONCLUSIONZI").html(res.REVIEWCONCLUSIONZI);$("#CREATETIME").html(res.CREATETIME);$("#CREATEPERSON").html(res.CREATEPERSON);$("#UPDATETIME").html(res.UPDATETIME);$("#UPDATEPERSON").html(res.UPDATEPERSON);
            }
        })
    });
</script>

