@model Langben.DAL.TRANSMITTER_HEAD

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                  
                <div class="display-label">
                      @Html.LabelFor(model => model.类型) :
                </div>
                <div class="display-field" id='类型'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.变送器输入开始) :
                </div>
                <div class="display-field" id='变送器输入开始'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.变送器输入开始单位) :
                </div>
                <div class="display-field" id='变送器输入开始单位'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.变送器输入结束) :
                </div>
                <div class="display-field" id='变送器输入结束'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.变送器输入结束单位) :
                </div>
                <div class="display-field" id='变送器输入结束单位'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.通道) :
                </div>
                <div class="display-field" id='通道'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.Un) :
                </div>
                <div class="display-field" id='Un'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.Un单位) :
                </div>
                <div class="display-field" id='Un单位'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.In) :
                </div>
                <div class="display-field" id='In'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.In单位) :
                </div>
                <div class="display-field" id='In单位'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.PREPARE_SCHEMEID) :
                </div>
                <div class="display-field" id='PREPARE_SCHEMEID'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATETIME) :
                </div>
                <div class="display-field" id='CREATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CREATEPERSON) :
                </div>
                <div class="display-field" id='CREATEPERSON'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATETIME) :
                </div>
                <div class="display-field" id='UPDATETIME'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UPDATEPERSON) :
                </div>
                <div class="display-field" id='UPDATEPERSON'>
                </div>
        </div>
    </fieldset>

<script type="text/javascript">

    $(function () {
        // 获取内容并显示
        var id = '@ViewBag.Id';
        $.ajax({
            url: "/api/TRANSMITTER_HEADApi/" + id,
            type: "POST",
            // async: false,
            success: function (res) {
		$("#类型").html(res.类型);$("#变送器输入开始").html(res.变送器输入开始);$("#变送器输入开始单位").html(res.变送器输入开始单位);$("#变送器输入结束").html(res.变送器输入结束);$("#变送器输入结束单位").html(res.变送器输入结束单位);$("#通道").html(res.通道);$("#Un").html(res.Un);$("#Un单位").html(res.Un单位);$("#In").html(res.In);$("#In单位").html(res.In单位);$("#PREPARE_SCHEMEID").html(res.PREPARE_SCHEMEID);$("#CREATETIME").html(res.CREATETIME);$("#CREATEPERSON").html(res.CREATEPERSON);$("#UPDATETIME").html(res.UPDATETIME);$("#UPDATEPERSON").html(res.UPDATEPERSON);
            }
        })
    });
</script>

